﻿@page "/admin/danhsach-taikhoan"
@using maicoCRM.Areas.Identity.Data
@inject Microsoft.AspNetCore.Identity.UserManager<maicoCRMUser> UserManager
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@inject EmployeeServices EmployeeServices
@attribute [Authorize(Roles = "Admin")]

@if (_admins != null && _users != null)
{
    <MudSimpleTable Hover="true"
                    Elevation="25"
                    FixedHeader="@fixedheader"
                    Class="table-account"
                    Style="@(fixedheader?"height:90vh; overflow-x:auto":"overflow-x:auto;")">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Quyền</th>
                <th>Phòng ban</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <TableBody Data="_admins" AccountType="Admin"></TableBody>
            <TableBody Data="_users" AccountType="User"></TableBody>
            <TableBody Data="_guest" AccountType="Guest"></TableBody>
        </tbody>
    </MudSimpleTable>
}
else
{
    <MudProgressLinear Indeterminate="true" Color="Color.Primary"></MudProgressLinear>
}

@code {
    bool fixedheader = true;

    IList<maicoCRM.Areas.Identity.Data.maicoCRMUser> _admins;
    IList<maicoCRM.Areas.Identity.Data.maicoCRMUser> _users;
    IList<maicoCRM.Areas.Identity.Data.maicoCRMUser> _guest;

    protected override async Task OnInitializedAsync()
    {
        _admins = await UserManager.GetUsersInRoleAsync("Admin");
        _users = await UserManager.GetUsersInRoleAsync("User");
        _guest = await UserManager.GetUsersInRoleAsync("Guest");
        await base.OnInitializedAsync();
    }
}