﻿@page "/admin/chan-moi-quan-he"
@inject EmployeeServices EmployeeServices
@inject ConfigServices ConfigServices
@inject ISnackbar SnackbarServices
@using maicoCRM.Services;

@attribute [Authorize(Roles = "Admin")]
<MudSimpleTable>
    <colgroup>
        <col style="width: 30%" />
        <col style="width: 70%" />
    </colgroup>
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Mối quan hệ không được truy cập</th>
            <th>
                <MudButton OnClick="@(() => UpdateBlockedStatus())"
                           Color="Color.Success"
                           Variant="Variant.Filled"
                           Disabled="!_isBlockedListChanged">
                    Cập Nhật
                </MudButton>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in _employees)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <MudSelect MultiSelection="true" SelectedValues="item.BlockedStatus?.ToHashSet()" SelectedValuesChanged="@((HashSet<string> e) => HandleValueChanged(item, e))">
                        @foreach (var relationship in _relationships)
                        {
                            <MudSelectItem Value="@relationship.Name">@relationship.Name</MudSelectItem>
                        }
                    </MudSelect>

                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    IEnumerable<Employee> _employees;
    List<Relationship> _relationships;
    bool _isBlockedListChanged;
    protected override void OnInitialized()
    {
        _relationships = ConfigServices.GetAll().Relationships;
        _employees = EmployeeServices.GetAll();
    }
    void HandleValueChanged(Employee employee, HashSet<string> selectedItem)
    {
        employee.BlockedStatus = selectedItem.ToList();
        _isBlockedListChanged = true;
    }
    async Task UpdateBlockedStatus()
    {
        if (_isBlockedListChanged)
        {
            await EmployeeServices.UpdateRangeAsync(_employees.ToList());
            SnackbarServices.Add("Đã cập nhật danh sách chặn mối quan hệ", Severity.Success);
            _isBlockedListChanged = false;
        }
    }
}
