﻿@using maicoCRM.Areas.Identity.Data
@inject Microsoft.AspNetCore.Identity.UserManager<maicoCRMUser> UserManager
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@inject EmployeeServices EmployeeServices
@inject DepartmentServices DepartmentServices

@if (Data != null)
{
    @foreach (var item in Data)
    {
        <tr @key="item">
            @if (_isNameEditting)
            {
                <td><MudTextField autofocus="@true" @bind-Value="@_editingName" Label="Tên Tài Khoản" @onfocusout="@(()=>HandleUpdateName(item))" Variant="Variant.Text"></MudTextField></td>
            }
            else
            {
                <td @ondblclick="@(()=> { _isNameEditting = true;  _editingName = item.UserName; })"><MudTooltip Text="Click 2 lần để sửa!">@item.UserName</MudTooltip></td>
            }
            <td>@item.Email</td>
            <td>@AccountType</td>
            <td>
                <MudSelect Variant="Variant.Text"
                           T="Department"
                           Margin="Margin.Dense"
                           Direction="Direction.Bottom"
                           MaxHeight="100"
                           OffsetX="true"
                           Value="@(_employees?.Where(e => e.Email == item.Email)?.FirstOrDefault()?.DepartmentNavigation)"
                           Text="@(_employees?.Where(e => e.Email == item.Email)?.FirstOrDefault()?.DepartmentNavigation?.Name)"
                           ValueChanged="@((Department department) => HandleUpdateDepartmentOfEmployee(department, item))"
                           Class="ml-2">
                    @foreach (var area in _departments)
                    {
                        <MudSelectItem Value="@(area)">@area.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
            <td>@(item.IsEnabled ? "Hoạt động" : "Bị khoá")</td>
            <td>
                @if (_isPasswordEditing && _editingUser == item)
                {
                    <MudTextField @bind-Value="_newPassword"
                                  Label="Đổi mật khẩu"
                                  Margin="Margin.Dense"></MudTextField>
                    <MudIconButton Color="Color.Success"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Filled.Check"
                                   OnClick="@(async () => { await ChangePassword(item); _isPasswordEditing = false; })">
                    </MudIconButton>
                    <MudIconButton Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Filled.Clear"
                                   OnClick="@(() => { _isPasswordEditing = false; })">
                    </MudIconButton>
                }
                else
                {
                    <MudButton Variant="Variant.Text"
                               Size="Size.Small"
                               Color="Color.Warning"
                               OnClick="@(() => { _isPasswordEditing = true; _editingUser = item; })">
                        Đổi Mật Khẩu
                    </MudButton>
                    <MudButton Variant="Variant.Text"
                               Size="Size.Small"
                               Color="Color.Error"
                               OnClick="@(async () => await UserStatusChange(item))">
                        @(item.IsEnabled ? "Khoá" : "Mở Khoá")
                    </MudButton>
                }
            </td>
        </tr>
    }
}

@code {
    [Parameter] public IList<maicoCRMUser> Data { get; set; }
    [Parameter] public string AccountType { get; set; }

    List<Employee> _employees = new();
    List<Department> _departments = new();

    bool _isPasswordEditing = false;
    string _newPassword = "";

    bool _isNameEditting = false;

    maicoCRMUser _editingUser = new();
    string _editingName = "";

    async Task HandleUpdateName(maicoCRMUser user)
    {
        if (_editingName != user.UserName)
        {
            user.UserName = _editingName;
            user.NormalizedUserName = _editingName.ToUpper();
            await UserManager.UpdateAsync(user);
            Employee _employee = await EmployeeServices.GetByEmailAsync(user.Email);
            _employee.Name = _editingName;
            await EmployeeServices.UpdateAsync(_employee);
            Snackbar.Add("Cập nhật thành công!", Severity.Success);
        }
        _isNameEditting = false;
    }

    async Task UserStatusChange(maicoCRMUser user)
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall };

        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Bạn có thực sự muốn làm điều này không?");
        parameters.Add("ButtonText", user.IsEnabled ? "Khoá" : "Mở Khoá");
        parameters.Add("Color", Color.Error);

        var dialog = Dialog.Show<SimpleDialog>("Xác nhận", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            user.IsEnabled = !user.IsEnabled;
            await UserManager.UpdateAsync(user);

            Employee _employee = await EmployeeServices.GetByEmailAsync(user.Email);
            _employee.IsBlocked = !_employee.IsBlocked;
            await EmployeeServices.UpdateAsync(_employee);
        }
    }
    async Task ChangePassword(maicoCRMUser user)
    {
        var token = await UserManager.GeneratePasswordResetTokenAsync(user);
        await UserManager.ResetPasswordAsync(user, token, _newPassword);
        Snackbar.Clear();
        Snackbar.Add("Đổi Mật Khẩu Thành Công", Severity.Success);
    }

    async Task HandleUpdateDepartmentOfEmployee(Department department, maicoCRMUser item)
    {
        Employee employee = _employees?.Where(e => e.Email == item.Email)?.FirstOrDefault();
        employee.DepartmentId = department.Id;
        employee.DepartmentNavigation = null;
        await EmployeeServices.UpdateAsync(employee);
        employee.DepartmentNavigation = department;
        Snackbar.Add("Cập nhập thành công !", Severity.Success);
    }

    protected override async Task OnInitializedAsync()
    {
        _employees = await EmployeeServices.GetAllAsync(true);
        _departments = await DepartmentServices.GetAllAsync();
    }
}
