﻿@inject AuthenticationStateProvider AuthenticationStateProvider
@inject OrderDetailServices OrderDetailServices
@inject EmployeeServices EmployeeServices
@inject OrderServices OrderServices
@inject ISnackbar Snackbar
@inject Utilities Util
@inject IDialogService Dialog
@inject IJSRuntime JSRuntime
@using MudBlazor.Services
@implements IDisposable
@using maicoCRM.Component.Order.Modal

@if (Order.OrderDetails.Count() > 0)
{
    <MudText Class="mt-10 mb-2" Align="Align.Center" Typo="Typo.h5"><b>Thông tin chia deal</b></MudText>
    <div class="mt-3 ml-3">
        @if (_percentContributeValidateMessage != "" && !Order.IsConfirmed)
        {
            <p class="mud-input-helper-text mud-input-error">@_percentContributeValidateMessage</p>
        }
    </div>
    <MudPaper id="paper-dealinfo" Class="pa-3">
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudGrid Class="py-2">
                <MudItem md="3">
                    <b>Người được chia</b>
                </MudItem>
                <MudItem md="1">
                    <b>Phần trăm</b>
                </MudItem>
                <MudItem md="2">
                    <b>Doanh Số</b>
                </MudItem>
                <MudItem md="3">
                    <b>Loại công việc</b>
                </MudItem>
                <MudItem md="2">
                    <b>Trạng thái</b>
                </MudItem>
                <MudItem md="1">
                    @if (!Order.IsConfirmed)
                    {
                        <b>Hành động</b>
                    }
                </MudItem>
            </MudGrid>
        </MudHidden>

        <div id="scroll-container" style="@(_width < 600 ? "overflow: hidden; white-space: nowrap;" : "")">
            <MudSwipeArea OnSwipe="@((d) => HandleSwipe(d.ToString()))">
                @foreach (var orderDetail in Order.OrderDetails)
                {
                    <div @ontouchmove="@(() => _indexOrderDetail = Order.OrderDetails.IndexOf(orderDetail))"
                         class="@(_width < 600 ? "mr-6" : "")"
                         style="@(_width < 600 ? "display: inline-block; width: 100%; position: relative;" : "")">
                        @if (_width >= 600)
                        {
                            <MudItem xs="12" md="12">
                                <MudDivider />
                            </MudItem>
                        }
                        <MudGrid Class="py-2" Style="display: flex; align-items: center;">
                            <MudItem xs="12" md="3" Class="pb-0">
                                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                    <b>Người tham gia:</b>
                                </MudHidden>
                                @if (orderDetail.OrderId == 0)
                                {
                                    <MudAutocomplete Value="@orderDetail.EmployeeNavigation"
                                                     ValueChanged="@(async (Employee e) => {
                                                                        orderDetail.OrderJobTypes.Clear();
                                                                        orderDetail.EmployeeNavigation = e;
                                                                        orderDetail.EmployeeId = e.Id;
                                                                        await ValidateChanged.InvokeAsync(_isSubmitDisable);
                                                                    })"
                                                     @bind-Text="@(_listTupleEmployee[orderDetail.EmployeeId])"
                                                     @onclick="@(() =>_listTupleEmployee[orderDetail.EmployeeId] = null)"
                                                     @onfocusout="@(() => _listTupleEmployee[orderDetail.EmployeeId] = orderDetail.EmployeeNavigation?.Name)"
                                                     CoerceText="false"
                                                     Label="Người tham gia"
                                                     SearchFunc="EmployeeAutoCompSearch"
                                                     ToStringFunc="@((Employee e) => e == null ? null: $"{e.Name}")"
                                                     Variant="Variant.Text"
                                                     For="@(() => orderDetail.EmployeeNavigation)"
                                                     MaxItems="null">
                                    </MudAutocomplete>
                                }
                                else
                                {
                                    <MudText>@orderDetail.EmployeeNavigation.Name</MudText>
                                }
                            </MudItem>
                            <MudItem xs="12" md="1" Class="pb-0">
                                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                    <b>Phần trăm:</b>
                                </MudHidden>
                                @Math.Round(orderDetail.OrderJobTypes.Sum(x => x.PercentContribute), 2)%
                            </MudItem>
                            <MudItem xs="12" md="2" Class="pb-0">
                                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                    <b>Doanh số:</b>
                                </MudHidden>
                                @((Order.BrokerageFee / 100 * orderDetail.OrderJobTypes.Sum(x => x.PercentContribute))
                                                .ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))
                            </MudItem>
                            <MudItem xs="12" md="3">
                                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                    <b>Loại công việc:</b>
                                </MudHidden>
                                @if (!Order.IsConfirmed)
                                {
                                    if (orderDetail.EmployeeNavigation == null)
                                    {
                                        <MudGrid>
                                            <MudItem xs="10"></MudItem>
                                            <MudItem xs="2" Style="display: flex; align-items:center; padding: 0;">
                                                <MudIconButton Color="Color.Success"
                                                               Icon="@Icons.Material.Filled.Edit"
                                                               Disabled="true">
                                                </MudIconButton>
                                            </MudItem>
                                        </MudGrid>
                                    }
                                    else
                                    {
                                        <MudGrid>
                                            <MudItem xs="10">
                                                @foreach (var jobType in orderDetail.OrderJobTypes)
                                                {
                                                    <p>@jobType.Type: @Math.Round(jobType.PercentContribute, 2)%</p>
                                                }
                                            </MudItem>
                                            <MudItem xs="2" Style="display: flex; align-items:center; padding: 0;">
                                                <MudIconButton Color="Color.Success"
                                                               Icon="@Icons.Material.Filled.Edit"
                                                               OnClick="@(() => SelectJobType(orderDetail))">
                                                </MudIconButton>
                                            </MudItem>
                                        </MudGrid>
                                    }
                                }
                                else
                                {
                                    // Sau khi đã xác nhận
                                    @foreach (var jobType in orderDetail.OrderJobTypes)
                                    {
                                        <p>@jobType.Type: @Math.Round(jobType.PercentContribute, 2)%</p>
                                    }
                                }
                            </MudItem>
                            <MudItem xs="12" md="2" Class="d-flex justify-center justify-md-start py-0">
                                @if (orderDetail.IsConfirmed)
                                {
                                    <MudText Color="Color.Success">Đã xác nhận</MudText>
                                }
                                else
                                {
                                    <MudText Color="Color.Error">Chưa xác nhận</MudText>
                                }
                            </MudItem>
                            <MudItem xs="12" md="1">
                                <div style="@(_width < 600 ? "position: absolute; top: 0; right: 0;" : "")">
                                    @if (!Order.IsConfirmed)
                                    {
                                        <MudIconButton Color="Color.Error"
                                                       Icon="@Icons.Material.Filled.Delete"
                                                       OnClick="@(() => { DeleteOrderDetailButtonSubmit(orderDetail);
                                                                          JSRuntime.InvokeVoidAsync("LeftToRightScrollDealInfor");
                                                                  })">
                                            Xóa
                                        </MudIconButton>
                                    }
                                </div>
                            </MudItem>
                        </MudGrid>
                    </div>
                }
            </MudSwipeArea>
        </div>
    </MudPaper>
}


@code{
    [Parameter] public EventCallback<Tuple<string, Order>> OrderChange { get; set; }
    [Parameter] public Order Order { get; set; }
    [Parameter] public EditContext FormContext { get; set; }
    [Parameter] public EventCallback<bool> ValidateChanged { get; set; }

    [Inject] IResizeListenerService ResizeListener { get; set; }

    public List<OrderDetail> RemovedOrderDetails = new();

    List<Employee> _listEmployee;
    Dictionary<int, string> _listTupleEmployee = new();
    Order _tempOrder = new();

    bool _isSubmitDisable => ValidateSubmit();
    int _width = 0;
    int _indexOrderDetail;
    string _percentContributeValidateMessage => _isSubmitDisable ? "Tổng Chia Deal Khác 100 hoặc không có gì thay đổi" : "";
    string _stringOrderDetail = null;
    string _stringRemovedOrderDetail = null;

    protected override void OnInitialized()
    {
        _tempOrder = OrderServices.GetOrderById(Order.Id);
        _listEmployee = EmployeeServices.GetAll();

        RemovedOrderDetails.Add(new OrderDetail());
        _listTupleEmployee.Add(0, "");
        _listEmployee.ForEach(x => _listTupleEmployee.Add(x.Id, x.Name));
    }
    async Task<IEnumerable<Employee>> EmployeeAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listEmployee.Where(e => Order.OrderDetails.All(o => e.Id != o.EmployeeId));
        }
        return _listEmployee.Where(e => e.Name.Contains(value, StringComparison.OrdinalIgnoreCase) && Order.OrderDetails.All(o => e.Id != o.EmployeeId));
    }

    void DeleteOrderDetailButtonSubmit(OrderDetail orderDetail)
    {
        JSRuntime.InvokeVoidAsync("LeftToRightScrollDealInfor");
        _stringRemovedOrderDetail = null;
        _stringRemovedOrderDetail += orderDetail.EmployeeId;
        orderDetail.OrderNavigation = Order;
        orderDetail.OrderJobTypes.ForEach(jobType =>
        {
            _stringRemovedOrderDetail += $"{jobType.PercentContribute}{jobType.Type}";
        });

        Order.OrderDetails.Remove(orderDetail);
        RemovedOrderDetails.Add(orderDetail);
        RemovedOrderDetails.RemoveAll(x => x.OrderNavigation == null);
        orderDetail.OrderJobTypes.Clear();

        ValidateChanged.InvokeAsync(_isSubmitDisable);
    }
    bool ValidateSubmit()
    {
        _stringOrderDetail = null;
        double totalContribute = 0;
        Order.OrderDetails.OrderBy(x => x.EmployeeId).ToList().ForEach(orderDetail =>
        {
            _stringOrderDetail += orderDetail.EmployeeId;
            orderDetail.OrderJobTypes.ForEach(jobType =>
            {
                totalContribute += jobType.PercentContribute;
                _stringOrderDetail += $"{jobType.PercentContribute}{jobType.Type}";
            });
        });

        if (totalContribute != 100 && Order.OrderDetails.Count() > 0)
            return true;
        else if (Order.OrderDetails.Count == 0)
            return true;
        else if (Order.Id != 0
            && _tempOrder != null
            && _stringOrderDetail != null
            && _stringRemovedOrderDetail != null
            && _stringOrderDetail.Contains(_stringRemovedOrderDetail))
            return true;
        return false;
    }
    async Task SelectJobType(OrderDetail orderDetail)
    {
        var parameters = new DialogParameters();
        parameters.Add("ListJobType", orderDetail.OrderJobTypes.ToList());

        var dialog = Dialog.Show<JobTypeModal>("Cập nhật loại công việc", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var listJobType = (List<OrderJobType>)result.Data;
            orderDetail.OrderJobTypes.Clear();
            orderDetail.OrderJobTypes.AddRange(listJobType);
            await ValidateChanged.InvokeAsync(_isSubmitDisable);
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("DisableScrollDefault", "scroll-container");
            ResizeListener.OnResized += OnResized;
            var size = await ResizeListener.GetBrowserWindowSize();
            _width = size.Width;
            StateHasChanged();
        }
    }
    private void OnResized(object sender, BrowserWindowSize size)
    {
        _width = size.Width;
        InvokeAsync(StateHasChanged);
    }
    void HandleSwipe(string direction)
    {
        if (direction == "RightToLeft")
        {
            if (_indexOrderDetail != Order.OrderDetails.Count - 1)
                JSRuntime.InvokeVoidAsync("RightToleftScrollDealInfor");
        }
        else if (direction == "LeftToRight")
        {
            JSRuntime.InvokeVoidAsync("LeftToRightScrollDealInfor");
        }
    }
    public void Dispose()
    {
        ResizeListener.OnResized -= OnResized;
    }
}