﻿@page "/donhang/danhsach"
@inject OrderServices OrderServices
@inject ConfigServices ConfigServices
@inject TableStateContainerServices TableState
@inject NavigationManager NavigationManager
@inject OrderDetailServices OrderDetailServices
@inject EmployeeServices EmployeeServices
@inject ProjectServices ProjectServices
@inject OrderJobTypeServices OrderJobTypeServices
@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject IDialogService Dialog
@inject ISnackbar Snackbar
@inject IJSRuntime iJSRuntime
@using maicoCRM.Component.Order.Modal

@attribute [Authorize(Roles = "Admin,User")]
@inject IDialogService DialogService
@implements IDisposable

<MudPaper Style="display: flex; background-color: white;" Class="mb-2">
    <MudGrid Style="display: flex; align-content: center; justify-content: space-between;">
        <MudItem xs="12" md="5" Style="display: flex;" Class="mt-4 mb-3 ml-4">
            @if (_isShowTable)
            {
                <MudItem>
                    <MudButton Variant="Variant.Outlined" OnClick="ClearFilter" Class="mr-1">Tất cả</MudButton>
                </MudItem>
                <MudItem>
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => FilterOrderTable())" Class="ml-1"><MudIcon Icon="@Icons.Material.Filled.FilterAlt" /> Lọc</MudButton>
                </MudItem>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="admin">
                        <MudItem>
                            <MudButton Variant="Variant.Filled" OnClick="@(()=>GenerateExcel())" Color="Color.Success" Class="ml-1">
                                @if (_isExcelCreating == false)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.FileDownload" />
                                }
                                else
                                {
                                    <MudProgressCircular Style="@($"color: {Colors.Shades.White}")" Size="Size.Small" Indeterminate="true"></MudProgressCircular>
                                }
                            </MudButton>
                        </MudItem>
                    </Authorized>
                </AuthorizeView>
            }
        </MudItem>
        <MudItem xs="12" md="5" Style="display: flex; justify-content: end; align-content: center;" Class="mr-4 mb-3">
            @if (_isShowTable)
            {
                <MudTextField Value="@TableState.State["Order"].SearchString" ValueChanged="@(async (string e) => {  TableState.State["Order"].SearchString = e;  await ReloadTable();  })"
                              Placeholder="Tìm Kiếm"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="ml-4">
                </MudTextField>
            }
            else
            {
                <MudButton Variant="Variant.Outlined"
                           OnClick="ShowDateFilterDialog"
                           FullWidth="true"
                           Class="ml-4 mt-4"
                           Size="Size.Medium">
                    @_dateRangeFilter.Start.Value.ToString("dd/MM/yyyy") - @_dateRangeFilter.End.Value.ToString("dd/MM/yyyy")
                </MudButton>
            }
            <MudItem Class="d-flex mt-2 ml-2">
                <MudTooltip Text="Xem danh sách" Class="mr-1">
                    <MudFab Class="mx-sm-1 mr-1 mt-2"
                            Size="Size.Small"
                            Color="@(_isShowTable? Color.Primary : Color.Default)"
                            Icon="@Icons.Material.Filled.ViewList"
                            OnClick="@(() => _isShowTable = true)" />
                </MudTooltip>
                <MudTooltip Text="Xem thống kê">
                    <MudFab Class="mx-sm-1 mt-2"
                            Size="Size.Small"
                            Color="@(!_isShowTable? Color.Primary : Color.Default)"
                            Icon="@Icons.Material.Filled.BarChart"
                            OnClick="@(() => _isShowTable = false)" />
                </MudTooltip>
            </MudItem>
        </MudItem>

    </MudGrid>
</MudPaper>
@if (_isShowTable)
{
    <div id="order-table">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<Order>>>(ServerReload))"
                  CurrentPage="@TableState.State["Order"].PageNumber"
                  @ref="_tableRef"
                  Hover="true"
                  Height="70vh"
                  FixedHeader="true"
                  MultiSelection="true"
                  @bind-SelectedItems="_selectedRows">
            @*<ColGroup>
                    <col style="width: 15px;" />
                    <col style="width: 5rem;" />
                    <col style="width: 8rem;" />
                    <col style="width:8rem;" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </ColGroup>*@


            <HeaderContent>
                <MudTh>ID</MudTh>
                <MudTh>Ngày Tạo</MudTh>
                <MudTh>Khách Hàng</MudTh>
                <MudTh>Người Tham Gia</MudTh>
                <MudTh>Dự Án</MudTh>
                <MudTh>Loại</MudTh>
                <MudTh>Tổng Phí</MudTh>
                <MudTh>Đã Nhận</MudTh>
                <MudTh>Tình Trạng</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="ID"><MudLink Href="@($"/khachhang/donhang/{context.Id}")" Color="Color.Error"><span>DH</span>@context.Id</MudLink></MudTd>
                <MudTd DataLabel="Ngày Tạo">@context.CreatedAt.ToString("dd/MM/yy")</MudTd>
                <MudTd DataLabel="Khách Hàng">
                    <MudLink Href="@($"khachhang/khaithac/{context.CustomerId}")" Underline="Underline.Hover">@context.CustomerNavigation.Name</MudLink>
                </MudTd>
                <MudTd DataLabel="Người Tham Gia">
                    <p>@((MarkupString)string.Join("<br />", context.OrderDetails.Select(c => c.EmployeeNavigation.Name)))</p>
                </MudTd>
                <MudTd DataLabel="Dự Án">@context.ProjectNavigation.Name</MudTd>
                <MudTd DataLabel="Loại Đơn Hàng">@context.ContractType</MudTd>
                <MudTd DataLabel="Tổng Phí">@((context.BrokerageFee + context.LegalReportsFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))</MudTd>
                <MudTd DataLabel="Đã Nhận">@context.OrderReceivedFees.Sum(x => x.ReceivedFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</MudTd>
                <MudTd DataLabel="Trạng Thái" Style="@(context.IsActive == true ? (context.IsConfirmed?"color: #19b33d":"color: red") : "color: gray")">
                    @(context.IsActive == true ? (context.IsConfirmed? "Đã xác nhận" : "Chưa xác nhận"): "Đã hủy")
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager DisableRowsPerPage="true" Class="@(_reRender ? "" : " ")" />
            </PagerContent>
        </MudTable>
    </div>
}
else
{
    <OrderReport DateRangeFilter="_dateRangeFilter" />
}


@code{
    [CascadingParameter] private Employee CascadedEmployee { get; set; }
    DateRange _dateRangeFilter = new DateRange(DateTime.Now.AddDays(-14), DateTime.Now.AddDays(14));

    bool _isShowTable = true;
    @*List<Project> ListProject = new();
        List<Employee> ListEmployee = new();*@
List<Order> _tableData = new();
HashSet<Order> _selectedRows = new();

Config _configuration;
string _employee;
string _employeeAutoCmpText;

string _project;
string _projectAutoCmpText;

MudTable<Order> _tableRef;
MudChip _selectedChip;

bool _isEditing;
bool _isDataLoading = true;
bool _reRender;
bool _isFilterClearing;
bool _isExcelCreating = false;

string _columnColor = "";
int? _currentPage = 0;

int _oldPage = -1;
private IEnumerable<Order> pagedData;
int _totalItems;

private async Task GenerateExcel()
{
    _isExcelCreating = true;
    PrepareExcel _file = new PrepareExcel(_tableData, OrderJobTypeServices);
    await _file.GenerateExcel(iJSRuntime);
    _isExcelCreating = false;
    Snackbar.Add("Đã thực hiện tải Excel!", Severity.Success);
}
private async Task<TableData<Order>> ServerReload(TableState state)
{
    TableState.State["Order"].PageNumber = state.Page;
    if ((state.Page > _oldPage && state.Page % 10 == 0) ||
        (state.Page < _oldPage && (state.Page + 1) % 10 == 0) ||
        (state.Page == (_totalItems - 1) / 10 && _oldPage < (_totalItems - 1) / 10 - (_totalItems - 1) / 10 % 10) ||
        (state.Page == 0 && _oldPage > 9) ||
        TableState.State["Order"].IsNavigation == true)
    {
        if (!_isFilterClearing)
        {
            _isDataLoading = true;
            await InvokeAsync(StateHasChanged);

            TableState.State["Order"].IsFiltered = true;
            bool? iss = TableState.State["Order"].IsComfirm;
            (_totalItems, _tableData) = await OrderServices.FilterByPage(state.Page, TableState.State["Order"].Need, TableState.State["Order"].Employee, TableState.State["Order"].DateRange, TableState.State["Order"].ProjectId, iss, TableState.State["Order"].SearchString, TableState.State["Order"].Source);

            _selectedRows = new();

            _isDataLoading = false;
            _reRender = !_reRender;
            TableState.State["Order"].IsNavigation = false;
        }
    }
    pagedData = _tableData.Skip(TableState.State["Order"].PageNumber % 10 * state.PageSize).Take(state.PageSize).ToArray();
    await InvokeAsync(StateHasChanged);

    _oldPage = state.Page;
    return new TableData<Order>() { TotalItems = _totalItems, Items = pagedData };
}

async Task ReloadTable()
{
    _tableRef.CurrentPage = 0;
    _oldPage = -1;
    await _tableRef.ReloadServerData();
}
public async Task ClearFilter()
{
    TableState.State["Order"].Need = null;

    _selectedChip = null;

    TableState.State["Order"].IsComfirm = null;
    TableState.State["Order"].Employee = null;
    TableState.State["Order"].DateRange = null;

    _employee = null;
    _employeeAutoCmpText = null;

    TableState.State["Order"].ProjectId = null;
    _project = null;
    _projectAutoCmpText = null;

    TableState.State["Order"].SearchString = "";//Để null sẽ không filter khi xóa hết string được

    TableState.State["Order"].IsFiltered = false;
    TableState.State["Order"].Source = null;

    _reRender = !_reRender;
    await ReloadTable();
}

    @*async Task HandleCuratorChange(string e)
        {
            _employee = e;
            TableState.State["Order"].Employee = ListEmployee.FirstOrDefault(c => c.Name == e).Id;

            await ReloadTable();
        }*@
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        TableState.State["Order"].PageNumber = _tableRef.CurrentPage;
        TableState.State["Order"].IsNavigation = true;
    }

    protected override async Task OnInitializedAsync()
    {
        _configuration = ConfigServices.GetAll();
        @*ListEmployee = EmployeeServices.GetAll();

            ListProject = ProjectServices.GetAll();
            ListEmployee.Insert(0, new Employee() { Name = "Bỏ Lọc" });
            ListProject.Insert(0, new Project() { Name = "Bỏ Lọc" });
            if (TableState.State["Order"].IsFiltered)
            {
                _employee = TableState.State["Order"].Employee.HasValue ? ListEmployee.FirstOrDefault(c => c.Id == TableState.State["Order"].Employee).Name : null;
                _employeeAutoCmpText = _employee;

                _project = TableState.State["Order"].ProjectId.HasValue ? ListProject.FirstOrDefault(c => c.Id == TableState.State["Order"].ProjectId).Name : null;
                _projectAutoCmpText = _project;
            }*@
    if (!TableState.State.ContainsKey("Order"))
    {
        TableState.CreateTableData("Order");
    }
    await InvokeAsync(StateHasChanged);

    NavigationManager.LocationChanged += LocationChanged;
}

async Task FilterOrderTable()
{
    var dialog = Dialog.Show<FilterOrderTableModal>("Lọc đơn hàng");
    var result = await dialog.Result;
    if (!result.Cancelled)
    {
        await ReloadTable();
    }
}

async Task ShowDateFilterDialog()
{
    var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
    var parameter = new DialogParameters();
    parameter.Add("DateRange", _dateRangeFilter);
    var dialog = DialogService.Show<PickDateRangeDialog>("Chọn ngày", parameter, options);
    var result = await dialog.Result;
    if (!result.Cancelled)
    {
        var temp = result.Data;
        _dateRangeFilter = (DateRange)result.Data;

    }
}

void IDisposable.Dispose()
{
    NavigationManager.LocationChanged -= LocationChanged;
}
}