﻿@using maicoCRM.Component.Order.Modal
@inject OrderServices OrderServices

<MudPaper Class="mx-1 my-4" Style="display: flex; justify-content: space-around; background-color: darkgreen;">
    <MudItem>
        <MudText Class="my-2" Typo="Typo.h6" Style="display: flex; justify-content: center; font-weight: bold; color: white; font-size: 15px; text-align: center;">
            BẢNG THỐNG KÊ SỐ CĂN BỊ BỎ CỌC
        </MudText>
    </MudItem>
    <MudItem>
        <MudText Class="my-2" Typo="Typo.h6" Style="display: flex; justify-content: center; font-weight: bold; color: #ffd500; font-size: 15px; text-align: center;">
            TỔNG DOANH SỐ ĐÃ MẤT: @fee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
        </MudText>
    </MudItem>
</MudPaper>

<MudSimpleTable>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ngày Tạo</th>
            <th>Khách Hàng</th>
            <th>Người Tham Gia</th>
            <th>Dự Án</th>
            <th>Loại</th>
            <th>Tổng Phí</th>
            <th>Đã Nhận</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in _ordersFiltered)
        {
            <tr>
                <th><MudLink Href="@($"/khachhang/donhang/{order.Id}")" Color="Color.Error"><span>DH</span>@order.Id</MudLink></th>
                <th>@order.CreatedAt.ToString("dd/MM/yy")</th>
                <th><MudLink Href="@($"khachhang/khaithac/{order.CustomerId}")" Underline="Underline.Hover">@order.CustomerNavigation.Name</MudLink></th>
                <th><p>@((MarkupString)string.Join("<br />", order.OrderDetails.Select(c => c.EmployeeNavigation.Name)))</p></th>
                <th>@order.ProjectNavigation.Name</th>
                <th>@order.ContractType</th>
                <th>@((order.BrokerageFee + order.LegalReportsFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))</th>
                <th>@order.OrderReceivedFees.Sum(x => x.ReceivedFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</th>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter] public DateRange DateRangeFilter { get; set; } = new DateRange(DateTime.Now.AddDays(-14), DateTime.Now.AddDays(14));
    List<Order> _orders = new();
    List<Order> _ordersFiltered = new();
    double fee = 0;
    protected async override Task OnParametersSetAsync()
    {
        fee = 0;
        _orders = await OrderServices.GetByDateRange2(DateRangeFilter.Start.Value, DateRangeFilter.End.Value);
        _ordersFiltered = _orders.Where(o => o.IsActive == false).OrderBy(o => o.CreatedAt).ToList();
        foreach (var order in _ordersFiltered)
        {
            fee += order.BrokerageFee + order.LegalReportsFee;
        }
    }
}
