﻿
@page "/sales-event"
@using maicoCRM.Component.SalesEvent.ListRounds
@using maicoCRM.Component.SalesEvent.TableRound
@inject SalesEventRoundServices SalesEventRoundServices
<MudGrid>
    <MudItem xs="6">
        <ShowTopSales SalesEventRound="_salesEventRound" />
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="pa-2">
            <ListRoundView ItemRoundSelected="HandleItemRoundSelect"
                           MonthChanged="HandleMonthChange"
                           EditItemRoundSelected="HandleEditItemRoundSelect" />
        </MudPaper>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12">
        <TableRoundView SalesEventRound="_salesEventRound" />
    </MudItem>
</MudGrid>

@code{
    SalesEventRound _salesEventRound;

    void HandleEditItemRoundSelect(SalesEventRound salesEventRound)
    {
        _salesEventRound = salesEventRound;
    }
    void HandleItemRoundSelect(SalesEventRound salesEventRound)
    {
        _salesEventRound = salesEventRound;
    }

    void HandleMonthChange(DateTime month)
    {
        _salesEventRound = null;
    }

    protected override async Task OnInitializedAsync()
    {
        _salesEventRound = await SalesEventRoundServices.GetByMonthAsync(DateTime.Now);
       
    }
}

