﻿@inject EmployeeServices EmployeeServices
@using System.Globalization;
@if (_reportTopEmloyee == null)
{
    <MudCard Class="pa-3">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" />
        <MudSkeleton SkeletonType="SkeletonType.Text" />
        <MudSkeleton SkeletonType="SkeletonType.Text" />
    </MudCard>
}
else
{
    <MudSimpleTable Dense="true"
                    FixedHeader="true">
        <thead>
            <tr style="background: #19b33d">
                <th colspan="3" style="text-align: center; background: #19B33D; color: wheat;">
                    Vinh Danh
                </th>
            </tr>
        </thead>
        <tbody>
            @if (SalesEventRound != null)
            {
                int stt = 1;
                foreach (var item in _reportTopEmloyee.OrderByDescending(x => x.Item2).Take(3))
                {
                    @if (item.Item2 > 0)
                    {
                        <tr>
                            <td>
                                @stt
                            </td>
                            <td>
                                @item.Item1
                            </td>
                            <td>
                                @item.Item2.ToString("C0", _hcmCulture)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @stt
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                    stt++;
                }
            }
        </tbody>
        <tfoot>
        </tfoot>
    </MudSimpleTable>
}


@code {
    [Parameter] public SalesEventRound SalesEventRound { get; set; }

    List<Employee> _employees = new();
    CultureInfo _hcmCulture = CultureInfo.CreateSpecificCulture("vi-VN");

    List<Tuple<string, double>> _reportTopEmloyee;
    DateRange _dateRange = new DateRange(DateTime.Now, DateTime.Now.AddDays(1));

    double GetSalesByEmployee(Employee employee)
    {
        return employee.OrderDetails.Sum(x => x.OrderJobTypes.Sum(x => x.PercentContribute) * x.OrderNavigation.BrokerageFee / 100);
    }
    void TopEmployeeFill()
    {
        _reportTopEmloyee = new();
        foreach (var employee in _employees)
        {
            Tuple<string, double> top = new Tuple<string, double>(employee.Name, GetSalesByEmployee(employee));
            _reportTopEmloyee.Add(top);
        }
    }


    protected override async Task OnParametersSetAsync()
    {
        if(SalesEventRound != null)
        {
            _dateRange = new DateRange(SalesEventRound.StartDate, SalesEventRound.EndDate);
            _employees = await EmployeeServices.GetSalesByEmployee(_dateRange);
            TopEmployeeFill();
        }
    }
}
