﻿@page "/lichhen"
@inject IJSRuntime JSRuntime
@inject EmployeeServices EmployeeServices
@inject ScheduleCustomerServices ScheduleCustomerServices 
@inject ConfigServices ConfigServices
@using MudBlazor.Services
@attribute [Authorize(Roles = "Admin,User")]


<div class="d-flex justify-center align-center py-2 px-1 mb-3">
    <MudGrid>
        <MudItem xs="12" sm="4" Class="d-flex justify-center">
            <MudAutocomplete Style="margin-top:0px" Value="_employee"
                             ValueChanged="@(async (Employee e) => await HandleEmployeeChange(e))"
                             ResetValueOnEmptyText="true"
                             @bind-Text="_tmpEmployee"
                             @onclick="@(() => _tmpEmployee = null)"
                             @onfocusout="@(() => _tmpEmployee = _employee.Name)"
                             Label="Xem Của Nhân Viên"
                             SearchFunc="EmployeeAutoCompSearch"
                             ToStringFunc="@((Employee e) => e == null ? null: $"{e.Name}")">
            </MudAutocomplete>
        </MudItem>
        <MudItem xs="12" sm="8" Class="d-flex justify-sm-end justify-center" Style="align-items:center">
            <MudButton Variant="Variant.Filled"
                       Class="mr-5"
                       OnClick="@(async _=>{
                              _employee = CascadedEmployee;
                              await HandleEmployeeChange(_employee);
                          })"
                       Color="Color.Primary">Của Tôi</MudButton>
            <MudButton Variant="Variant.Filled"
                       OnClick="@(async _ => {
                              _employee = null;
                              await HandleEmployeeChange(_employee);
                          })"
                       Color="Color.Primary">Tất Cả</MudButton>
        </MudItem>
    </MudGrid>
</div>

@if (_calendar == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"></MudProgressLinear>
}
else
{
    <div class="ui container">
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
}

@code{
    List<ScheduleCustomer> _calendar = new();
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    [Inject] IResizeListenerService ResizeListener { get; set; }

    Employee _employee;
    List<Employee> _emloyeeItems;

    int _width = 0;
    string _tmpEmployee;

    async Task HandleEmployeeChange(Employee employee)
    {
        _employee = employee;
        @if (_employee != null)
        {
            _calendar = await ScheduleCustomerServices.GetCalendarData(employee.Id);
        }
        else
        {
            _calendar = await ScheduleCustomerServices.GetCalendarData(null);
        }
        //var calendarData = _calendar.Select(x => new { title = x.CustomerNavigation.Name, start = x.TimeStart, end = x.TimeEnd, url = "khachhang/khaithac/" + x.CustomerId });
        //await JSRuntime.InvokeVoidAsync("Calendar", calendarData);
    }
    async Task<IEnumerable<Employee>> EmployeeAutoCompSearch(string value)
    {
        await Task.Delay(5);
        if (string.IsNullOrEmpty(value))
        {
            return _emloyeeItems;
        }
        return _emloyeeItems.Where(c => c.Name.ToLower().Contains(value.ToLower()));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ResizeListener.OnResized += OnResized;
            var size = await ResizeListener.GetBrowserWindowSize();
            _width = size.Width;
        }
        if (_calendar.Count > 0)
        {
            var calendarData = _calendar.Select(x => new
            {
                title = x.CustomerNavigation.Name,
                start = x.TimeStart,
                end = x.TimeEnd,
                url = "khachhang/khaithac/" + x.CustomerId,
                color = x.Status == "Đợi Xem Nhà" ? "" : (x.Status == "Thành Công" ? "green" : "red")
            });
            if (_width < 500)
                await JSRuntime.InvokeVoidAsync("Calendar", calendarData, "list");
            else
                await JSRuntime.InvokeVoidAsync("Calendar", calendarData);
        }
        else
        {
            if (_width < 500)
                await JSRuntime.InvokeVoidAsync("Calendar", null, "list");
            else
                await JSRuntime.InvokeVoidAsync("Calendar", null);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    protected override async Task OnParametersSetAsync()
    {
        _calendar = await ScheduleCustomerServices.GetCalendarData(CascadedEmployee == null ? null : CascadedEmployee.Id);
        _emloyeeItems = EmployeeServices.GetAll();
        _employee = CascadedEmployee;
        await InvokeAsync(StateHasChanged);
        await base.OnParametersSetAsync();
    }
    private void OnResized(object sender, BrowserWindowSize size)
    {
        _width = size.Width;
    }
}
