﻿@inject SheetMarketingServices SheetMarketingServices
@inject ProjectServices ProjectServices
@inject IJSRuntime JSRuntime

<MudPaper Class="pa-sm-4 pa-1" Elevation="2">
    <div class="d-flex align-center" style="justify-content:center;">
        <MudText Typo="Typo.h6" Style="font-size: 15px; text-align:center; justify-content:center;">
            THỐNG KÊ KHÁCH GỌI THEO NGÀY 
            @if (DateRange.Start.Value.Date == DateRange.End.Value.Date)
            {
                @DateRange.Start.Value.ToString("dd-MM-yyyy")
            }
            else
            {
                @(DateRange.Start.Value.ToString("dd-MM-yyyy")+ " - " + @DateRange.End.Value.ToString("dd-MM-yyyy"))
            }
        </MudText>


    </div>
    <div class="chart-container mt-8" style="width: 100%; overflow-x: hidden; height: 90vh;">
        <canvas id="@_id" @ref="_chart" role="img" aria-label="work-dashboard-charts"></canvas>
    </div>
</MudPaper>

@code{
    [Parameter] public List<Tuple<string, List<double>, List<double>>> ReportModelMarketings { get; set; }
    [Parameter] public DateRange DateRange { get; set; }
    string _id = "chart-column";
    ElementReference _chart;

    bool _isChartRender = false;

    private async Task CreateChart(
        string id, IEnumerable<double> buys, IEnumerable<double> hires, IEnumerable<double> others, IEnumerable<string> labels)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.createMarketingColumnChart", id, buys, hires, others, labels);
    }

    private async Task UpdateChart(
        string id, IEnumerable<double> buys, IEnumerable<double> hires, IEnumerable<double> others, IEnumerable<string> labels)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.updateMarketingColumnChart", id, buys, hires, others, labels);
    }

    async Task FillChart()
    {
        if (ReportModelMarketings != null)
        {
            if (!_isChartRender)
            {

                await CreateChart(_id,
                           ReportModelMarketings.Select(x => x.Item2[0]),
                           ReportModelMarketings.Select(x => x.Item2[1]),
                           ReportModelMarketings.Select(x => x.Item2[2]),
                           ReportModelMarketings.Select(x => x.Item1));
                _isChartRender = true;
            }
            else
            {
                await UpdateChart(_id,
                           ReportModelMarketings.Select(x => x.Item2[0]),
                           ReportModelMarketings.Select(x => x.Item2[1]),
                           ReportModelMarketings.Select(x => x.Item2[2]),
                           ReportModelMarketings.Select(x => x.Item1));
            }


        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await FillChart();
    }
}