﻿@inject SheetMarketingServices SheetMarketingServices


<MudGrid Class="d-flex">
    <MudItem xs="12">
        <MudCard Elevation="25">
            <div class="d-flex pa-2" style="justify-content:space-between">
                <MudSelect Variant="Variant.Outlined"
                           T="Area"
                           Label="Khu Vực"
                           Margin="Margin.Dense"
                           Direction="Direction.Bottom"
                           OffsetY="true"
                           ToStringFunc="(area) => area?.Name"
                           Class="mx-1 my-1"
                           Style="max-width: 300px;"
                           ValueChanged="(area) => ReportFill(area)"
                           Clearable="true">
                    @foreach (var area in Areas)
                    {
                        <MudSelectItem Value="@(area)">@area.Name</MudSelectItem>
                    }
                </MudSelect>
                <div class="d-flex mr-4" Style="justify-content: center; align-items: center;">
                    <MudTooltip Text="Xem biểu đồ">
                        <MudFab Class="mx-sm-1" Size="Size.Small" Color="@(!_isShowTable? Color.Primary : Color.Default)"
                                Icon="@Icons.Material.Filled.BarChart" OnClick="@(() => _isShowTable = false)" />
                    </MudTooltip>
                    <MudTooltip Text="Xem danh sách" Class="mr-1">
                        <MudFab Class="mx-sm-1 mr-1" Size="Size.Small" Color="@(_isShowTable? Color.Primary : Color.Default)"
                                Icon="@Icons.Material.Filled.ViewList" OnClick="@(() => _isShowTable = true)" />
                    </MudTooltip>
                </div>
            </div>
        </MudCard>
    </MudItem>
    @if (_isShowTable)
    {
        <MudItem xs="12">
            <TableMarketingReport Projects="Projects"
                                  ReportModelMarketings="_reportModelMarketings"
                                  MarketingNeeds="MarketingNeeds"
                                  MarketingSources="MarketingSources"
                                  TotalSheetOnDate="Projects.Sum(x => x.SheetMarketings.Count())" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <ChartMarketingReport ReportModelMarketings="_reportModelMarketings" DateRange="DateRangeFilter" />
        </MudItem>
    }
</MudGrid>

@code {
    [Parameter] public DateRange DateRangeFilter { get; set; }
    [Parameter] public List<SheetMarketing> Sheets { get; set; }
    [Parameter] public List<Project> Projects { get; set; }
    [Parameter] public List<Area> Areas { get; set; }
    [Parameter] public List<string> MarketingNeeds { get; set; }
    [Parameter] public List<string> MarketingSources { get; set; }

    List<Tuple<string, List<double>, List<double>>> _reportModelMarketings { get; set; }

    bool _isShowTable = true;

    void ReportFill(Area areaSelected = null)
    {
        _reportModelMarketings = new();
        var project = Projects.ToList();

        //Filter Project with Area Selected
        if (areaSelected != null)
        {
            project = Projects.Where(p => p.AreaId == areaSelected.Id).ToList();
        }

        foreach (var pro in project)
        {
            List<double> numberOfNeeds = new();
            List<double> numberOfSources = new();
            var sheets = pro.SheetMarketings.ToList();
            foreach (var need in MarketingNeeds)
            {
                numberOfNeeds.Add(sheets.Where(x => x.Need.Equals(need)).Count());
            }
            foreach (var source in MarketingSources)
            {
                numberOfSources.Add(sheets.Where(x => x.Source.Equals(source)).Count());
            }

            Tuple<string, List<double>, List<double>> report = new(pro.Name, numberOfNeeds, numberOfSources);
            _reportModelMarketings.Add(report);
        }
    }

    protected override void OnParametersSet()
    {
        ReportFill();
    }
}
