﻿@inject SheetMarketingServices SheetMarketingServices
@inject ProjectServices ProjectServices
@inject ConfigServices ConfigServices


<MudCard Class="pa-3">
    <div style="width:100%; position:relative;" class="marketing-table-report">
        <table style="width:100%;">
            <colgroup>
                <col style="width:20%" />
                @foreach (var i in MarketingNeeds)
                {
                    <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                }
                @foreach (var i in MarketingSources)
                {
                    <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                }
            </colgroup>
            <thead>
                <tr>
                    <th style="text-align:center; background: #b176b1">DỰ ÁN</th>
                    @foreach (var need in MarketingNeeds)
                    {
                        <th class="text-center" style="text-align:center; background: #ffc0ce">@need.ToUpper()</th>
                    }
                    @foreach (var source in MarketingSources)
                    {
                        <th class="text-center" style="text-align: center; background: #aedaf7">@source.ToUpper()</th>
                    }
                </tr>
            </thead>
        </table>

        <div style="width:100%; max-height:40vh; overflow-y:auto">
            <table style="width:100%">
                <colgroup>
                    <col style="width:20%" />
                    @foreach (var i in MarketingNeeds)
                    {
                        <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                    }
                    @foreach (var i in MarketingSources)
                    {
                        <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                    }
                </colgroup>
                <tbody>
                    @if (ReportModelMarketings != null)
                    {
                        @foreach (var report in ReportModelMarketings)
                        {
                            <tr>
                                <th style="text-align:center; background: #f4cccc">@report.Item1</th>
                                @foreach (var need in report.Item2)
                                {
                                    <td style="text-align:center; background:#ffe49a">@need</td>
                                }
                                @foreach (var source in report.Item3)
                                {
                                    <td style="text-align:center; background: #ffe49a">@source</td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr></tr>
                    }
                </tbody>
            </table>
        </div>

        <table style="width:100%;">
            <colgroup>
                <col style="width:20%" />
                @foreach (var i in MarketingNeeds)
                {
                    <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                }
                @foreach (var i in MarketingSources)
                {
                    <col style="width:@(80 / (MarketingNeeds.Count + MarketingSources.Count))%" />
                }
            </colgroup>
            <tfoot>
                <tr>
                    <th rowspan="2" style="text-align:center; background: #a61c00; color:white; font-size:34px">
                        TỔNG CỘNG
                    </th>
                    @if (ReportModelMarketings != null)
                    {

                        @for (var i = 0; i < MarketingNeeds.Count; i++)
                        {
                            <th style="text-align:center; background: #fe9900">
                                @(ReportModelMarketings.Sum(x => x.Item2[i]))
                            </th>
                        }
                        @for (var i = 0; i < MarketingSources.Count; i++)
                        {
                            <th style="text-align:center; background: #fe9900">
                                @(ReportModelMarketings.Sum(x => x.Item3[i]))
                            </th>
                        }

                    }
                    else
                    {
                        @for (var i = 0; i < MarketingNeeds.Count; i++)
                        {
                            <th style="text-align:center; background: #fe9900">
                                0
                            </th>
                        }
                        @for (var i = 0; i < MarketingNeeds.Count; i++)
                        {
                            <th style="text-align:center; background: #fe9900">
                                0
                            </th>
                        }
                    }

                </tr>
                <tr>
                    @if (ReportModelMarketings != null)
                    {
                        <th colspan="@(MarketingNeeds.Count + MarketingSources.Count)" style="text-align: center; background: #3c78d8; font-size: 50px; color: #84ff51">
                            @(TotalSheetOnDate)
                        </th>
                    }
                    else
                    {
                        <th colspan="@(MarketingNeeds.Count + MarketingSources.Count)" style="text-align: center; background: #3c78d8; font-size: 50px; color: #84ff51"> 0 </th>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
</MudCard>




@code {

    [Parameter] public List<Project> Projects { get; set; }
    [Parameter] public List<Tuple<string, List<double>, List<double>>> ReportModelMarketings { get; set; }
    [Parameter] public int TotalSheetOnDate { get; set; }
    [Parameter] public List<string> MarketingNeeds { get; set; }
    [Parameter] public List<string> MarketingSources { get; set; }
}
