﻿@inject NavigationManager NavigationManager
@inject CustomerServices CustomerServices
@inject ProjectServices ProjectServices
@inject IDialogService Dialog
@inject ConfigServices ConfigServices
@inject Utilities Utils
@inject ISnackbar Snackbar

@using maicoCRM.Component.ListCustomer.Modal
@using maicoCRM.Component.Troll14.Modal


<MudPaper Class="pa-4" Elevation="0">
    <EditForm Model="_customer" OnValidSubmit="HandleSubmit">
        <FluentValidationValidator />
        <MudGrid>
            <MudItem xs="12" md="6">
                <div>
                    <MudTextField Variant="Variant.Outlined" Label="Tên Khách hàng" @bind-Value="_customer.Name" For="@(() => _customer.Name)" />
                </div>
                <div class="mt-2">
                    @for (int i = 0; i < _customer.PhoneNumber.Count(); i++)
                    {
                        var index = i;
                        <div class="d-flex align-center @(index != 0 ? "mt-2" : "")">
                            <MudTextField Variant="Variant.Outlined"
                                          Label="Số Điện Thoại"
                                          Class="mr-1"
                                          Value="_customer.PhoneNumber[index]"
                                          ValueChanged="@((string e) => HandlePhoneNumberChange(e, index))" />
                            @if (index == 0)
                            {
                                <MudTooltip Text="Thêm số điện thoại">
                                    <MudIconButton Icon="@Icons.Material.Filled.Add"
                                                   Size="Size.Medium"
                                                   Class="mt-1"
                                                   Disabled="_isAddDisable"
                                                   Color="Color.Primary"
                                                   OnClick="@(_ => { _customer.PhoneNumber.Add(string.Empty); _isAddDisable = true; } )">
                                    </MudIconButton>
                                </MudTooltip>
                            }
                            else
                            {
                                <MudTooltip Text="Xóa số điện thoại">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   Size="Size.Medium"
                                                   Class="mt-1"
                                                   Disabled="_isDeleteDisable"
                                                   Color="Color.Default"
                                                   OnClick="@(() => { _customer.PhoneNumber.RemoveAt(index); _isAddDisable = false; })">
                                    </MudIconButton>
                                </MudTooltip>
                            }
                        </div>
                    }
                    <p class="mud-input-helper-text mud-input-error">@_phoneNumberError</p>
                </div>
                <div class="mt-4">
                    <MudAutocomplete Variant="Variant.Outlined"
                                     Label="Dự án"
                                     Dense="true"
                                     MaxHeight="200"
                                     @bind-Value="_customer.ProjectNavigation" T="Project"
                                     @bind-Text="@_projectAutoCmpText" CoerceText="false"
                                     @onclick="@(() => _projectAutoCmpText = null)"
                                     @onfocusout="@(() => _projectAutoCmpText = _customer.ProjectNavigation?.Name)"
                                     SearchFunc="ProjectAutoCompSearch"
                                     ToStringFunc="@((Project e) => e == null ? null: $"{e.Name}")"
                                     For="@(() => _customer.ProjectNavigation)">
                    </MudAutocomplete>
                </div>
                <div class="mt-4">
                    <MudAutocomplete Variant="Variant.Outlined"
                                     Label="Mối Quan Hệ"
                                     Dense="true"
                                     MaxHeight="200"
                                     @bind-Value="_customer.Status"
                                     @bind-Text="@_statusAutoCmpText" CoerceText="false"
                                     @onclick="@(() => _statusAutoCmpText = null)"
                                     @onfocusout="@(() => _statusAutoCmpText = _customer.Status)"
                                     SearchFunc="StatusAutoCompSearch"
                                     For="@(() => _customer.Status)">
                    </MudAutocomplete>
                </div>
            </MudItem>
            <MudItem xs="12" md="6">
                <div class="mt-2">
                    <div class="d-flex flex-column flex-md-row justify-start align-md-center">
                        <MudText Typo="Typo.h6" Class="mr-4" Style="font-size:16px">Nhu Cầu:</MudText>
                        <MudRadioGroup @bind-SelectedOption="_customer.Need">
                            @foreach (var item in _needItem)
                            {
                                <MudRadio Color="Color.Primary" Option="@item">@item</MudRadio>
                            }
                        </MudRadioGroup>
                    </div>
                    <p class="mud-input-helper-text mud-input-error">
                        <ValidationMessage For="@(()=>_customer.Need)"></ValidationMessage>
                    </p>
                </div>
                <div class="mt-4">
                    <MudTextField Label="Mô Tả Nhu Cầu" Variant="Variant.Outlined" @bind-Value="_customer.Description" Lines="9" For="(()=>_customer.Description)" />
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-space-between align-center px-0">
                    @ChildContent
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               FullWidth="true"
                               Class="ml-2 ml-md-0">
                        Thêm <span class="d-none d-md-inline">&nbsp;khách hàng</span>
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudPaper>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<Customer> OnSuccess { get; set; }
    [Parameter] public List<Project> ListProject { get; set; }
    [Parameter] public SheetMarketing SheetMarketing { get; set; }

    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    Customer _customer = new();

    List<string> _statusItems = new();
    List<string> _needItem = new();

    string _phoneNumberError = "";
    string _projectAutoCmpText;
    string _statusAutoCmpText;
    bool _isAddDisable = true;
    bool _isDeleteDisable => _customer.PhoneNumber.Count() <= 1 ? true : false;

    void HandlePhoneNumberChange(string phone, int index)
    {
        phone = phone?.Trim();
        if (!IsPhoneNumberExist(phone))
        {
            if (Utils.IsPhoneNumber(phone))
            {
                _customer.PhoneNumber[index] = phone;
                _isAddDisable = false;
            }
            else
            {
                _customer.PhoneNumber[index] = "";
                _isAddDisable = true;
            }
        }
    }
    bool IsPhoneNumberExist(params string[] phoneNumbers)
    {
        Customer customer;
        @for (int i = 0; i < phoneNumbers.Length; i++)
        {
            customer = CustomerServices.GetCustomerByPhone(phoneNumbers[i]);
            if (customer != null)
            {
                phoneNumbers[i] = "";
                DialogOptions options = new() { MaxWidth = MaxWidth.Small, CloseButton = true };
                DialogParameters param = new();
                param.Add("Data", customer);
                Dialog.Show<CustomerInforDialog>("Khách Hàng Đã Có Trong Hệ Thống", param, options);
                return true;
            }
        }
        return false;
    }
    async Task HandleSubmit(EditContext editContext)
    {
        if (IsPhoneNumberExist(_customer.PhoneNumber.ToArray()))
        {
            return;
        }
        bool isPhoneNumberValidate = false;
        _customer.ProjectInterestedId = _customer.ProjectNavigation.Id;
        _customer.ProjectNavigation = null;
        foreach (var item in _customer.PhoneNumber)
        {
            if (!string.IsNullOrEmpty(item))
            {
                isPhoneNumberValidate = true;
                break;
            }
        }

        if (!isPhoneNumberValidate)
        {
            _phoneNumberError = "Phải có ít nhất 1 số điện thoại";
            return;
        }

        _customer.PhoneNumber = _customer.PhoneNumber.Where(c => !string.IsNullOrEmpty(c)).ToList();//Lấy những sđt khác null
        _customer.CreatorId = CascadedEmployee.Id;
        _customer.CuratorId = CascadedEmployee.Id;
        await CustomerServices.AddAsync(_customer);
        Snackbar.Add("Tạo khách hàng thành công", Severity.Success);
        await OnSuccess.InvokeAsync(_customer);
        _customer = new();

    }
    async Task<IEnumerable<Project>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return ListProject;
        }
        return ListProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase));
    }
    async Task<IEnumerable<string>> StatusAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _statusItems;
        }
        return _statusItems.Where(x => x.Contains(value, StringComparison.OrdinalIgnoreCase));
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();

        ListProject ??= ProjectServices.GetAll();

        _statusItems.AddRange(ConfigServices.GetAll().Relationships.Select(x => x.Name));

        if (SheetMarketing != null)
        {
            _customer.ProjectNavigation = SheetMarketing.ProjectNavigation;
            _customer.PhoneNumber.Add(SheetMarketing.PhoneNumber);
            _projectAutoCmpText = _customer.ProjectNavigation.Name;
            _customer.Need = SheetMarketing.Need;
        }
        else
        {
            _customer.PhoneNumber.Add(string.Empty);
        }

        _needItem = ConfigServices.GetAll().Needs;
    }
}