﻿@implements IDisposable
@inject ISnackbar SnackBar
@inject IJSRuntime JSRuntime
@inject IDialogService Dialog
@inject CustomerServices CustomerServices
@inject ConfigServices ConfigServices
@inject TableStateContainerServices TableState
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Admin,User")]

@using maicoCRM.Component.ListCustomer.Modal


<div style="position:relative;">
    <MudTable ServerData="@(new Func<TableState, Task<TableData<Customer>>>(ServerReload))"
              CurrentPage="@TableState.State[tableState].PageNumber"
              @ref="_tableRef"
              Hover="true"
              Height="65vh"
              FixedHeader="true"
              MultiSelection="true"
              Elevation="0"
              @bind-SelectedItems="_selectedRows">
        <ToolBarContent>
            <div class="d-flex justify-space-between align-end mr-2" style="width:100%">
                <div class="d-none d-md-inline">
                    <MudButton Variant="Variant.Outlined" OnClick="ClearFilter" Style="width: 100%">
                        Tất cả
                    </MudButton>
                </div>
                <div id="status-scroll" class="d-flex align-end py-0">
                    <div class="d-none d-md-inline">
                        <MudButton id="left-button" Variant="Variant.Text">
                            <MudIcon Icon="@Icons.Material.Filled.ArrowLeft"></MudIcon>
                        </MudButton>
                    </div>
                    <div id="statusSelection" class="d-inline pt-2 mx-1" style="width: auto; max-width:100%; overflow: auto">
                        <MudChipSet Style="float: left; white-space: nowrap; display: inline-block;"
                                    SelectedChip="_selectedChip"
                                    SelectedChipChanged="HandleSelectRelation" Filter="true">
                            @if (_customerStatusCount.Count > 0)
                            {
                                @foreach (var item in _customerStatusCount)
                                {
                                    <MudBadge Class="status-badge" Content="@item.Value" Max="999999" Color="Color.Error">
                                        <MudChip Style="@("background-color: " + item.Key.Color + ";margin-top:5px;")"
                                                 Text="@item.Key.Name"
                                                 Color="Color.Primary"
                                                 Class="mb-0"
                                                 Default="@(item.Key.Name == TableState.State[tableState].Status ? true : false)">
                                            @item.Key.Name
                                        </MudChip>
                                    </MudBadge>
                                }
                            }
                        </MudChipSet>
                    </div>
                    <div class="d-none d-md-inline">
                        <MudButton id="right-button" Variant="Variant.Text">
                            <MudIcon Icon="@Icons.Material.Filled.ArrowRight"></MudIcon>
                        </MudButton>
                    </div>
                </div>
                <div class="d-none d-md-inline">
                    <MudTextField Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Value="@TableState.State[tableState].SearchString"
                                  ValueChanged="@(async (string e) => { TableState.State[tableState].SearchString = e;
                                                      if (e != null) await ReloadTable(); })"
                                  Placeholder="Tìm Kiếm"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium">
                    </MudTextField>
                </div>
            </div>
        </ToolBarContent>
        <ColGroup>
            <col />
            <col />
            <col style="width: 10%" />
            <col style="width: 17.5%" />
            <col style="width: 17.5%" />
            <col style="width: 12.5%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 12.5%" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Ngày tạo</MudTh>
            <MudTh Class="pl-12">Số điện thoại</MudTh>
            <MudTh>Tên khách hàng</MudTh>
            <MudTh>Mô tả nhu cầu</MudTh>
            <MudTh>Mua-Bán</MudTh>
            <MudTh>Mối quan hệ</MudTh>
            <MudTh>Người chăm</MudTh>
            <MudTh>Tên dự án</MudTh>
            <AuthorizeView Roles="Admin">
                <Authorized Context="admin">
                    @if (IsDeletedList == false)
                    {
                        <MudTh>Xóa</MudTh>
                    }
                    else
                    {
                        <MudTh>Khôi phục</MudTh>
                    }
                </Authorized>
            </AuthorizeView>

        </HeaderContent>
        <RowTemplate>
            @if (_isDataLoading == false)
            {
                <MudTd DataLabel="Ngày tạo">@context.CreatedAt</MudTd>
                <MudTd DataLabel="Số điện thoại">
                    @if (context.PhoneNumber.Count > 1)
                    {
                        <MudExpansionPanel Class="bg-trans" Style="padding:0px; background-color: transparent;">
                            <TitleContent>
                                <MudButton Variant="Variant.Text" OnClick="@(_ => CopyTextToClipboard(context.PhoneNumber[0]))">
                                    @context.PhoneNumber[0]
                                </MudButton>
                            </TitleContent>
                            <ChildContent>
                                @foreach (var item in context.PhoneNumber.Skip(1))
                                {
                                    <MudButton Variant="Variant.Text" OnClick="@(_ => CopyTextToClipboard(item))">
                                        @item
                                    </MudButton>
                                    <br />
                                }
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Text" OnClick="@(_ => CopyTextToClipboard(context.PhoneNumber[0]))">
                            @context.PhoneNumber[0]
                        </MudButton>
                    }
                </MudTd>
                @if (_isEditing && _editingCustomer.id == context.Id)
                {
                    <MudTd DataLabel="Tên khách hàng"><MudTextField AutoFocus="true" @bind-Value="context.Name" @onfocusout="@(_ =>  UpdateCustomerName(context))"></MudTextField></MudTd>
                }
                else
                {
                    <td data-label="Tên khách hàng" class="mud-table-cell" @ondblclick="@(_ => HandleCellDbClick(context))">
                        @if (IsDeletedList == false)
                        {
                            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Error" OnClick="@(()=>HandleViewExploitedCustomer(context.Id))"></MudIconButton>
                            <MudLink Href="@($"khachhang/khaithac/{context.Id}")" Underline="Underline.Hover">@context.Name</MudLink>
                        }
                        else
                        {
                            <MudTd>@context.Name</MudTd>
                        }

                    </td>
                }
                <MudTd DataLabel="Mô tả nhu cầu">@context?.Description</MudTd>
                <MudTd DataLabel="Mua - Bán">@context.Need</MudTd>
                <MudTd DataLabel="Mối quan hệ">@context.Status</MudTd>
                <MudTd DataLabel="Người chăm">@context.CuratorNavigation?.Name</MudTd>
                <MudTd DataLabel="Tên dự án">@context.ProjectNavigation?.Name</MudTd>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="admin">
                        @if (IsDeletedList == false)
                        {
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Color="Color.Error"
                                               OnClick="@(() => StateChangeIsDeleted(context, true))"
                                               Size="Size.Small">
                                </MudIconButton>
                            </MudTd>
                        }
                        else
                        {
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Restore"
                                               Color="Color.Success"
                                               OnClick="@(() => StateChangeIsDeleted(context, false))"
                                               Size="Size.Small">
                                </MudIconButton>
                            </MudTd>
                        }

                        <MudMessageBox @ref="confirmBox" Style="max-width:400px">
                            <MessageContent>
                                <p style="font-size:18px">
                                    Bạn chắc chắn muốn <b><i>@(_stateIsDeleted? "xóa":"khôi phục")</i></b> khách hàng không?<br/>
                                    @(_stateIsDeleted? "Nếu có, sẽ mất tất cả tài liệu hồ sơ pháp lý liên quan đến khách hàng này":"")
                                </p>
                            </MessageContent>
                            <YesButton>
                                <MudButton Variant="Variant.Filled"
                                           Color="_stateIsDeleted? Color.Error:Color.Success">
                                    OK
                                </MudButton>
                            </YesButton>
                            <NoButton>
                                <MudButton Variant="Variant.Filled">Hủy</MudButton>
                            </NoButton>
                        </MudMessageBox>
                    </Authorized>
                </AuthorizeView>
            }
        </RowTemplate>
        <PagerContent>
            <MudTablePager DisableRowsPerPage="true" Class="@(_reRender ? "" : " ")" />
        </PagerContent>
    </MudTable>
    <MudOverlay Absolute="true" @bind-Visible="_isDataLoading" LightBackground="true">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    </MudOverlay>

</div>

@code{
    [Parameter] public List<Project> ListProject { get; set; }
    [Parameter] public List<Employee> ListEmployee { get; set; }
    [Parameter] public bool IsDeletedList { set; get; }
    [Parameter] public EventCallback<bool> IsCLearFilter { get; set; }
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    List<Customer> _tableData = new();
    List<Relationship> _relationships;
    Dictionary<Relationship, int> _customerStatusCount = new();
    HashSet<Customer> _selectedRows = new();
    IEnumerable<Customer> pagedData;

    public Config _configuration;
    MudTable<Customer> _tableRef;
    MudChip _selectedChip;
    MudMessageBox confirmBox { get; set; }

    bool _isEditing;
    bool _isDataLoading = true;
    bool _reRender;
    bool _isFilterClearing;
    bool _stateIsDeleted;
    bool _isLoad = false;
    bool isAdmin = false;

    int? _currentPage = 0;
    (int id, string name) _editingCustomer;
    int _oldPage = -1;
    int _totalItems;

    string tableState = "";

    async Task StateChangeIsDeleted(Customer customer, bool state)
    {
        _stateIsDeleted = state;

        DialogOptions options = new() { MaxWidth = MaxWidth.ExtraSmall };
        confirmBox.Title = (_stateIsDeleted ? "xóa" : "khôi phục");
        bool? result = await confirmBox.Show(options);

        if (result == true)
        {
            _tableData.Remove(customer);
            CustomerServices.StateChangeIsDeleted(customer, state);
            _customerStatusCount = new();
            CustomerServices.GetStatusCount(_relationships, ref _customerStatusCount, IsDeletedList);
            await _tableRef.ReloadServerData();
        }
    }

    public async Task<TableData<Customer>> ServerReload(TableState state)
    {
        TableState.State[tableState].PageNumber = state.Page;
        if ((state.Page > _oldPage && state.Page % 10 == 0) ||
            (state.Page < _oldPage && (state.Page + 1) % 10 == 0) ||
            (state.Page == (_totalItems - 1) / 10 && _oldPage < (_totalItems - 1) / 10 - (_totalItems - 1) / 10 % 10) ||
            (state.Page == 0 && _oldPage > 9) ||
            TableState.State[tableState].IsNavigation == true)
        {
            if (!_isFilterClearing)
            {
                _isDataLoading = true;
                await InvokeAsync(StateHasChanged);

                TableState.State[tableState].IsFiltered = true;
                if (IsDeletedList)
                {
                    (_totalItems, _tableData) = await CustomerServices.FilterByPage(state.Page, TableState.State[tableState].Need, TableState.State[tableState].Status, TableState.State[tableState].CuratorId, TableState.State[tableState].ProjectId, TableState.State[tableState].SearchString, CascadedEmployee.BlockedStatus, true);
                }
                else
                {
                    (_totalItems, _tableData) = await CustomerServices.FilterByPage(state.Page, TableState.State[tableState].Need, TableState.State[tableState].Status, TableState.State[tableState].CuratorId, TableState.State[tableState].ProjectId, TableState.State[tableState].SearchString, CascadedEmployee.BlockedStatus, false);
                }


                _selectedRows = new();
                CustomerServices.GetStatusCount(_relationships, ref _customerStatusCount, IsDeletedList);

                _isDataLoading = false;
                _reRender = !_reRender;
            }
        }
        pagedData = _tableData.Skip(TableState.State[tableState].PageNumber % 10 * state.PageSize).Take(state.PageSize).ToArray();
        await InvokeAsync(StateHasChanged);

        _oldPage = state.Page;
        return new TableData<Customer>() { TotalItems = _totalItems, Items = pagedData };
    }

    public async Task ReloadTable()
    {
        _tableRef.CurrentPage = 0;
        _oldPage = -1;
        await _tableRef.ReloadServerData();
    }
    async Task HandleSelectRelation(MudChip chip)
    {
        _selectedChip = chip;
        if (chip?.Text == TableState.State[tableState].Status) return;

        TableState.State[tableState].Status = chip?.Text ?? "";
        if (TableState.State[tableState].Status != null)
        {
            await ReloadTable();
        }
    }
    public async Task ClearFilter()
    {
        TableState.State[tableState].Need = null;

        TableState.State[tableState].Status = null;
        _selectedChip = null;

        TableState.State[tableState].CuratorId = null;

        TableState.State[tableState].ProjectId = null;

        TableState.State[tableState].SearchString = null;//Để null sẽ không filter khi xóa hết string được

        TableState.State[tableState].IsFiltered = false;
        await IsCLearFilter.InvokeAsync(true);

        _reRender = !_reRender;
        await ReloadTable();
    }
    void HandleViewExploitedCustomer(int Id)
    {
        var options = new DialogOptions() { CloseButton = true };
        var parameter = new DialogParameters();
        parameter.Add("CustomerId", Id);
        parameter.Add("Employee", CascadedEmployee);
        Dialog.Show<CustomerExploitedInformationModal>("Khai Thác Khách Hàng", parameter, options);
    }
    void HandleCellDbClick(Customer customer)
    {
        _isEditing = true;
        _editingCustomer.name = customer.Name;
        _editingCustomer.id = customer.Id;
    }
    void UpdateCustomerName(Customer customer)
    {
        if (_editingCustomer.name != customer.Name)
        {
            CustomerServices.Update(customer);
            SnackBar.Add("Cập nhật tên khách hàng thành công!");
        }
        _isEditing = false;
    }

    async Task CopyTextToClipboard(string text)
    {
        await JSRuntime.InvokeVoidAsync("Utilites.CopyToClipboard", text);
        SnackBar.Add($"Copy {text} Thành công");
    }
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        TableState.State[tableState].PageNumber = _tableRef.CurrentPage;
        TableState.State[tableState].IsNavigation = true;
    }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            isAdmin = true;
        }

        if (IsDeletedList == true)
        {
            tableState = "ListCustomerDeleted";
        }
        else
        {
            tableState = "Customer";
        }

        _configuration = ConfigServices.GetAll();
        _relationships = _configuration.Relationships.Where(c => CascadedEmployee?.BlockedStatus?.All(d => d != c.Name) ?? true)
                                    .ToList();
        _relationships.ForEach(c => _customerStatusCount.Add(c, 0));

        await Task.Delay(1);
        CustomerServices.GetStatusCount(_relationships, ref _customerStatusCount, IsDeletedList);
        NavigationManager.LocationChanged += LocationChanged;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("Utilites.MakeHorizontalScroll", "statusSelection");
            TableState.State[tableState].IsNavigation = false;
        }
    }
    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}
