﻿<div class="ml-2">
    <div class="d-flex flex-wrap">
        <strong class="blue-text text-darken-4 mr-1">@UpdateOrderLog.Name</strong>
        <MCGTimePassing TimeValue="@UpdateOrderLog.Time"></MCGTimePassing>
    </div>
    @((MarkupString)UpdateOrderLog.Content)
</div>

@code {
    [Parameter] public UpdateOrderLog UpdateOrderLog { get; set; }
}
