﻿<div class="ml-2">
    <div class="d-flex flex-wrap">
        <strong class="blue-text text-darken-4 mr-1">@OrderComment.EmployeeNavigation.Name</strong>
        <MCGTimePassing TimeValue="@OrderComment.CreatedAt"></MCGTimePassing>
    </div>
    <p>@(OrderComment.IsConfirmed == true ? "Đồng ý. " : "Không đồng ý. " )@OrderComment.Comment</p>
</div>

@code{
    [Parameter] public OrderComment OrderComment { get; set; }
}