﻿@page "/admin/tuychinh"
@inject ConfigServices ConfigServices
@inject ProjectServices ProjectServices
@inject AreaServices AreaServices
@inject DocumentServices DocumentServices
@inject DepartmentServices DepartmentServices
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@attribute [Authorize(Roles = "Admin")]

@if (Data != null && _projects != null)
{
    <MudTabs Elevation="3" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Sales">
            <MudGrid Class="py-2">
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Mối Quan Hệ"
                                ListData="_relationships"
                                PropName="Relationships"
                                ListColor="_colors"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Nguồn"
                                ListData="Data.Sources"
                                PropName="Sources"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Nhu Cầu"
                                ListData="Data.Needs"
                                PropName="Needs"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Loại Công Việc"
                                ListData="Data.JobTypes"
                                PropName="JobTypes"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Loại Lịch Hẹn"
                                ListData="Data.ScheduleTypes"
                                PropName="ScheduleTypes"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Thể Loại Tài Liệu"
                                ListData="Data.DocumentTypes"
                                PropName="DocumentTypes"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <MudPaper Elevation="25" Class="pa-4" Style="position: relative;">
                        <div class="d-flex justify-space-between align-items-center">
                            <MudTextField Variant="Variant.Outlined"
                                          Label="Thêm Phòng Ban"
                                          Margin="Margin.Dense"
                                          Class="mr-3"
                                          @bind-Value="@_department.Name" />
                            @if (!_isEditDepartmentMode)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               Color="Color.Primary"
                                               OnClick="@(()=> {
                                                    if(_department.Name == "" || _department.Name == null)
                                                    {
                                                        Snackbar.Add("Không được để trống tên phòng ban!", Severity.Warning);
                                                        return;
                                                    }
                                                  DepartmentServices.Add(_department);
                                                  _departments.Add(_department);
                                                  _department = new();
                                             })">
                                </MudIconButton>
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Check"
                                               Color="Color.Primary"
                                               OnClick="@(()=> HandleUpdateDepartment())">
                                </MudIconButton>
                            }
                        </div>
                        <MudList Class="mt-3" Style="height:200px; overflow-y:scroll">
                            @foreach (var item in _departments)
                            {
                                <div class="d-flex">
                                    <MudListItem Text="@item.Name" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   OnClick="@(()=> {
                                                                  if (_isEditDepartmentMode)
                                                                  {
                                                                      Snackbar.Add("Thao tác hiện tại chưa hoàn thành !", Severity.Warning);
                                                                      return;
                                                                  }
                                                                  _isEditDepartmentMode = true;
                                                                  _department = item;
                                                                  _departments.Remove(item);
                                                              })">
                                    </MudIconButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   OnClick="@(()=> {
                                                                  _isVisibleDepartment = true;
                                                                  _department = item;
                                                              })">
                                    </MudIconButton>
                                </div>
                            }
                        </MudList>
                        <ConfirmDelete @bind-Value="@_isVisibleDepartment"
                                       HandleDelete="HandleDeleteDepartment"
                                       CancelDelete="() => {
                                                        _isVisibleDepartment = false;
                                                        _department = new();
                                                     }" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Marketing">
            <MudGrid>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Kênh"
                                ListData="Data.MarketingSources"
                                PropName="MarketingSources"></ConfigCard>
                </MudItem>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Nhu Cầu"
                                ListData="Data.MarketingNeeds"
                                PropName="Needs"></ConfigCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <MudTabPanel Text="Pháp Lý">
            <MudGrid>
                <MudItem xs="12" md="6" lg="4">
                    <ConfigCard Label="Thêm Công Việc"
                                ListData="Data.ListProgress"
                                PropName="ListProgress"></ConfigCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>

        <MudTabPanel Text="Projects">
            <MudGrid>
                <MudItem xs="12" md="6" lg="4">
                    <MudPaper Elevation="25" Class="pa-4" Style="position: relative;">
                        <div class="d-flex justify-space-between align-items-center">
                            <MudTextField Variant="Variant.Text"
                                          Label="Thêm Khu Vực"
                                          Margin="Margin.Dense"
                                          Class="mr-3"
                                          @bind-Value="@_area.Name" />
                            @if (!_isEditAreaMode)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               Color="Color.Primary"
                                               OnClick="@(()=> {
                                                    if(_area.Name == "" || _area.Name == null)
                                                    {
                                                        Snackbar.Add("Không được để trống tên khu vực!", Severity.Warning);
                                                        return;
                                                    }
                                                  AreaServices.Add(_area);
                                                  _areas.Add(_area);
                                                  _area = new();
                                             })">
                                </MudIconButton>
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Check"
                                               Color="Color.Primary"
                                               OnClick="@(()=> HandleUpdateArea())">
                                </MudIconButton>
                            }
                        </div>
                        <MudList Class="mt-3" Style="height:200px; overflow-y:scroll">
                            @foreach (var item in _areas)
                            {
                                <div class="d-flex">
                                    <MudListItem Text="@item.Name" />
                                    <MudButton Color="Color.Secondary" OnClick="() => ShowAddProjectDialog(item)">
                                        Dự án
                                    </MudButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   OnClick="@(()=> {
                                                                  if (_isEditAreaMode)
                                                                  {
                                                                      Snackbar.Add("Thao tác hiện tại chưa hoàn thành !", Severity.Warning);
                                                                      return;
                                                                  }
                                                                  _isEditAreaMode = true;
                                                                  _area.Name = item.Name;
                                                                  _area.Id = item.Id;
                                                                  _areas.Remove(item);
                                                              })">
                                    </MudIconButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   OnClick="@(()=> {
                                                              _isVisibleArea = true;
                                                              _area = item;
                                                      })">
                                    </MudIconButton>
                                </div>
                            }
                        </MudList>
                        <ConfirmDelete @bind-Value="@_isVisibleArea"
                                       HandleDelete="HandleDeleteArea"
                                       CancelDelete="() => {
                                                        _isVisibleArea = false;
                                                        _area = new();
                                                     }"/>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="6" lg="6">
                    <MudPaper Elevation="25" Class="pa-4" Style="position: relative;">
                        <div class="d-flex justify-space-between align-items-center">
                            <MudTextField Variant="Variant.Text"
                                          Label="Thêm Dự Án"
                                          Margin="Margin.Dense"
                                          Class="mr-3"
                                          @bind-Value="@_project.Name" />
                            <MudSelect Variant="Variant.Text"
                                       T="string"
                                       Label="Loại"
                                       Margin="Margin.Dense"
                                       Direction="Direction.Bottom"
                                       OffsetY="  true"
                                       @bind-Value="_project.ProjectType">
                                <MudSelectItem Value="@("Chính")" />
                                <MudSelectItem Value="@("Khác")" />
                            </MudSelect>
                            <MudSelect Variant="Variant.Text"
                                       T="Area"
                                       Label="Khu Vực"
                                       Margin="Margin.Dense"
                                       Direction="Direction.Bottom"
                                       OffsetY="true"
                                       @bind-Value="_project.AreaNavigation"
                                       Text="@(_project.AreaNavigation == null? "": _project.AreaNavigation.Name)"
                                       Class="ml-2">
                                @foreach (var area in _areas)
                                {
                                    <MudSelectItem Value="@(area)">@area.Name</MudSelectItem>
                                }
                            </MudSelect>
                            @if (!_isEditProjectMode)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                               Color="Color.Primary"
                                               OnClick="@(()=> HandleAddProject())">
                                </MudIconButton>
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Check"
                                               Color="Color.Primary"
                                               OnClick="@(()=> HandleUpdateProject())">
                                </MudIconButton>
                            }

                        </div>
                        <MudList Class="mt-3" Style="height:200px; overflow-y:scroll">
                            @foreach (var item in _projects)
                            {
                                <div class="d-flex">
                                    <MudListItem Text="@item.Name" />
                                    <MudListItem Text="@item.ProjectType" />
                                    <MudListItem Text="@(item.AreaNavigation != null ? item.AreaNavigation.Name:"Chưa xác định")" />

                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   OnClick="@(()=> HandleEditProject(item))">
                                    </MudIconButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   OnClick="@(()=> {
                                                              _isVisibleProject = true;
                                                              _project = item;
                                                      })">
                                    </MudIconButton>
                                </div>
                            }
                        </MudList>
                        <ConfirmDelete @bind-Value="@_isVisibleProject"
                                       HandleDelete="HandleDeleteProject"
                                       CancelDelete="() => {
                                                        _isVisibleProject = false;
                                                        _project = new();
                                                     }" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
}
else
{
    <MudGrid Class="py-2">
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
        <MudItem xs="12" md="6" lg="4">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
        </MudItem>
    </MudGrid>
}

@code {
    List<Project> _projects = new();
    List<Area> _areas = new();
    List<Department> _departments = new();
    List<string> _documentTypes;

    Config Data;

    Project _project = new();
    Area _area = new();
    Department _department = new();

    List<string> _relationships = new();
    List<string> _colors = new();

    bool _isEditProjectMode = false;
    bool _isEditAreaMode = false;
    bool _isEditDepartmentMode = false;

    bool _isVisibleProject;
    bool _isVisibleArea;
    bool _isVisibleDepartment;

    protected override async Task OnInitializedAsync()
    {
        Data = await ConfigServices.GetAllAsync();
        _documentTypes = Data.DocumentTypes;
        _projects = ProjectServices.GetAll(true);
        _areas = await AreaServices.GetAllAsync();
        _departments = await DepartmentServices.GetAllAsync();
        foreach (var item in Data.Relationships)
        {
            _relationships.Add(item.Name);
            _colors.Add(item.Color);
        }
    }

    //---Document---
    void HandleAddDocumentForProject()
    {
        Document document = new();
        document.Name = _project.Name;
        document.DocumentType = "Tài Liệu Dự Án";
        DocumentServices.Add(document);
        _project.DocumentId = document.Id;
    }

    //---Project---
    void HandleAddProject()
    {
        if (_project.Name == "" || _project.Name == null)
        {
            Snackbar.Add("Bạn chưa nhập tên dự án !", Severity.Warning);
            return;
        }
        if (_project.ProjectType == null)
        {
            Snackbar.Add("Bạn chưa chọn loại dự án !", Severity.Warning);
            return;
        }
        if (_project.AreaNavigation == null)
        {
            Snackbar.Add("Bạn chưa chọn Khu Vực !", Severity.Warning);
            return;
        }

        _project.AreaId = _project.AreaNavigation.Id;
        _project.AreaNavigation = null;
        HandleAddDocumentForProject();
        ProjectServices.Add(_project);
        _projects.Add(_project);
        _project = new();
    }
    void HandleUpdateProject()
    {
        ProjectServices.Update(_project);
        Document document = new();
        document = DocumentServices.GetById(_project.DocumentId);
        document.Name = _project.Name;
        DocumentServices.UpdateName(document);
        Snackbar.Add("Cập nhật thành công!", Severity.Success);
        _isEditProjectMode = false;
        _projects.Add(_project);
        _project = new();
    }
    void HandleEditProject(Project item)
    {
        if (_isEditProjectMode)
        {
            Snackbar.Add("Thao tác hiện tại chưa hoàn thành !", Severity.Warning);
            return;
        }
        //Check null and bat chon
        if (item.AreaNavigation == null)
        {
            Snackbar.Add("Không được để trống khu vực!", Severity.Warning);
            return;
        }
        _isEditProjectMode = true;
        _project = item;
        _projects.Remove(item);
    }
    void HandleDeleteProject()
    {
        try
        {
            ProjectServices.Delete(_project);
            Document document = new();
            document = DocumentServices.GetById(_project.DocumentId);
            DocumentServices.Delete(document);
            _projects.Remove(_project);
        }
        catch (Exception)
        {
            Snackbar.Add("Không thể xóa dữ liệu. Dự án đã được sử dụng!", Severity.Error);
        }
        _project = new();
        _isVisibleProject = false;
    }

    //---Area---
    void HandleUpdateArea()
    {
        AreaServices.Update(_area);
        Snackbar.Add("Cập nhật thành công!", Severity.Success);
        _isEditAreaMode = false;
        _areas.Add(_area);
        _area = new();
    }
    void HandleDeleteArea()
    {
        try
        {
            AreaServices.Delete(_area);
            _areas.Remove(_area);
        }
        catch (Exception)
        {
            Snackbar.Add("Không thể xóa dữ liệu. Khu vực đã được sử dụng!", Severity.Error);
        }
        _area = new();
        _isVisibleArea = false;
    }

    void ShowAddProjectDialog(Area area)
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, DisableBackdropClick = true};
        var parameter = new DialogParameters();
        parameter.Add("Area", area);
        var dialog = DialogService.Show<ShowProjectsInAreaDialog>($"Các dự án trong khu vực {area.Name}", parameter, options);
    }

    //--Deparment--
    void HandleUpdateDepartment()
    {
        DepartmentServices.Update(_department);
        Snackbar.Add("Cập nhật thành công!", Severity.Success);
        _isEditDepartmentMode = false;
        _departments.Add(_department);
        _department = new();
    }
    void HandleDeleteDepartment()
    {
        try
        {
            DepartmentServices.Delete(_department);
            _departments.Remove(_department);
        }
        catch (Exception)
        {
            Snackbar.Add("Không thể xóa dữ liệu. Phòng ban đã được sử dụng!", Severity.Error);
        }
        _department = new();
        _isVisibleDepartment = false;
    }
}