﻿@inject ConfigServices ConfigServices
@inject DocumentServices DocumentServices
@inject ISnackbar Snackbar

<MudPaper Elevation="25" Class="pa-4" Style="position: relative;">
    <div class="d-flex justify-space-between">
        <MudTextField Variant="Variant.Outlined"
                      Label="@Label"
                      Margin="Margin.Dense"
                      Class="mr-3"
                      @bind-Value="@_value" />
        <MudIconButton Color="Color.Primary"
                       Icon="@Icons.Material.Filled.Add"
                       OnClick="@(async ()=> await AddItem(_value))">
        </MudIconButton>
    </div>
    <MudList Class="mt-3" Style="height:200px; overflow-y:scroll;">
        @foreach (var item in ListData)
        {
            if (PropName == "DocumentTypes")
            {
                if (item == "Tài Liệu Dự Án" || item == "Pháp Lý")
                {
                    continue;
                }
            }
            int index = ListData.FindIndex(x => x == item);
            <div class="d-flex">
                @if (ListColor != null)
                {
                    <input type="color" style="border:none; margin-top:15px;" value="@ListColor[index]" @onchange="@(async (e)=> {
                                                                                                  ListColor[index] = e.Value.ToString();
                                                                                                  await ConfigServices.WriteToDiskAsync(Data, PropName, ListData, ListColor);
                                                                                              })">
                }
                @if (_isEditMode && _editValue == item)
                {
                    <MudTextField @bind-Value="_value"
                                  AutoFocus="true"
                                  @onfocusout="@(async ()=> await UpdateItem(item))"></MudTextField>
                }
                else
                {
                    <MudListItem Text="@item" />
                }
                <div class="d-block">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropUp" Size="Size.Small" OnClick="@(async ()=> await HandleChangePosition(index, true))"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Small" OnClick="@(async ()=> await HandleChangePosition(index, false))"></MudIconButton>
                </div>
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               OnClick="@(()=> {
                                                  _value = item;
                _isEditMode = true;
                _editValue = item;
            })">
                </MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="@(()=> {
                                              _deleteValue = item;
                                              _isVisible = true;
                                          })">
                </MudIconButton>
            </div>
        }
    </MudList>
    <MudOverlay Visible="_isVisible" DarkBackground="true" Absolute="true" Style="z-index:1000;">
        <div class="grey lighten-5 pa-2">
            <MudText Color="Color.Error"><strong>Bạn có chắc muốn xóa không?</strong></MudText>
            <div class="d-flex justify-center">
                <MudIconButton Icon="@Icons.Material.Filled.Check"
                               Color="Color.Success"
                               OnClick="@(async () => {
                                              ListData.Remove(_deleteValue);
                                              await ConfigServices.WriteToDiskAsync(Data, PropName, ListData, ListColor);
                                              _isVisible = false;
                                          })"
                               Size="Size.Small">
                </MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Clear"
                               Color="Color.Success"
                               OnClick="@(() => _isVisible = false)"
                               Size="Size.Small">
                </MudIconButton>
            </div>
        </div>
    </MudOverlay>
</MudPaper>


@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public List<string> ListData { get; set; }
    [Parameter] public string PropName { get; set; }
    [Parameter] public List<string> ListColor { get; set; }

    Config Data;

    bool _isEditMode = false;
    bool _isVisible;
    string _deleteValue;
    string _editValue;
    string _value;

    async Task UpdateItem(string value)
    {
        if (value == null || value == "")
        {
            Snackbar.Add("Không được để trống nội dung !", Severity.Warning);
            return;
        }
        string tempData = value;
        var index = ListData.FindIndex(x => x == _editValue);
        if (index != -1 && _value != tempData)
        {
            ListData[index] = _value;
            await ConfigServices.WriteToDiskAsync(Data, PropName, ListData, ListColor);
            Snackbar.Add("Cập nhật dữ liệu thành công", Severity.Success);
        }
        if (PropName == "DocumentTypes")
        {
            DocumentServices.UpdateType(_editValue, _value);
        }
        _isEditMode = false;
        _value = null;
    }
    async Task HandleChangePosition(int index, bool isUp)
    {
        if (!isUp)
        {
            if (index != ListData.Count - 1)
            {
                SwapData(ListData, index, index + 1);
                if (ListColor != null)
                {
                    SwapData(ListColor, index, index + 1);
                }
            }
        }
        else
        {
            if (index != 0)
            {
                SwapData(ListData, index, index - 1);
                if (ListColor != null)
                {
                    SwapData(ListColor, index, index - 1);
                }
            }
        }
        await ConfigServices.WriteToDiskAsync(Data, PropName, ListData, ListColor);

    }
    void SwapData(List<string> Data, int index1, int index2)
    {
        string temp = Data[index1];
        Data[index1] = Data[index2];
        Data[index2] = temp;
    }
    async Task AddItem(string value)
    {
        if (value == null || value == "")
        {
            Snackbar.Add("Không được để trống nội dung !", Severity.Warning);
            return;
        }
        var item = ListData.Find(x => x.Contains(value));
        if (value != null && ListData.Find(x => String.Compare(value, x, true) == 0) == null)
        {
            ListData.Add(_value);
            if (ListColor != null)
            {
                ListColor.Add("#19B33D");
            }
            await ConfigServices.WriteToDiskAsync(Data, PropName, ListData, ListColor);
            _value = null;
        }
        else
        {
            Snackbar.Add("Đã tồn tại", Severity.Error);
        }
    }
    protected override void OnInitialized()
    {
        Data = ConfigServices.GetAll();
        var x = Data.NewFeed;
        if (ListData == null) ListData = new();
    }
}