﻿<MudOverlay Visible="@Value" DarkBackground="true" Absolute="true" Style="z-index:1000;">
    <div class="grey lighten-5 pa-2">
        <MudText Color="Color.Error"><strong>Bạn có chắc muốn xóa không?</strong></MudText>
        <div class="d-flex justify-center">
            <MudIconButton Icon="@Icons.Material.Filled.Check"
                           Color="Color.Success"
                           OnClick="@(() => HandleDelete.InvokeAsync())"
                           Size="Size.Small">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Clear"
                           Color="Color.Success"
                           OnClick="() => CancelDelete.InvokeAsync()"
                           Size="Size.Small">
            </MudIconButton>
        </div>
    </div>
</MudOverlay>

@code {
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    [Parameter] public EventCallback HandleDelete { get; set; }
    [Parameter] public EventCallback CancelDelete { get; set; }
}
