﻿@inject ISnackbar Snackbar
@inject AreaServices AreaServices

<MudDialog>
    <DialogContent>
        <MudCard Style="overflow-y: scroll; max-height: 222px;">
            @foreach (var project in Area.Projects)
            {
                <MudItem>
                    <MudText Typo="Typo.body1">
                        @project.Name
                    </MudText>
                </MudItem>
            }
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public Area Area { get; set; }

    protected override void OnParametersSet()
    {
        Area = AreaServices.GetById(Area.Id);
    }

    void Submit()
    {
        MudDialog.Cancel();
    }
}
