﻿@page "/admin/kho-luu-tru/khach-hang"
@inject IJSRuntime JSRuntime
@inject CustomerServices CustomerServices
@inject EmployeeServices EmployeeServices
@inject ProjectServices ProjectServices
@inject ConfigServices ConfigServices
@inject TableStateContainerServices TableState
@attribute [Authorize(Roles = "Admin")]
@using maicoCRM.Component.ListCustomer


<MudGrid Class="mb-1 my-4">
    <MudItem xs="12" md="6" Class="d-none d-md-flex justify-center justify-md-start align-center mb-2 mb-md-0">
        
    </MudItem>
    @if (!_isAddingCustomer)
    {
        <MudItem xs="12" md="6" Class="d-none d-md-flex flex-column flex-md-row align-center justify-space-between py-0">
            <MudGrid Class="py-0">
                <MudItem xs="12" md="4" Class="py-0 mt-1 mt-md-0">
                    <MudSelect T="string"
                               Dense="true"
                               OffsetY="true"
                               Label="Nhu cầu"
                               Margin="Margin.Dense"
                               Variant="Variant.Text"
                               Value="@TableState.State["ListCustomerDeleted"].Need"
                               ValueChanged="@(async (string e) => { TableState.State["ListCustomerDeleted"].Need = e; if (e != null) await _table.ReloadTable(); })">
                        <MudSelectItem T="string" Value="null">Bỏ Lọc</MudSelectItem>
                        @foreach (var item in _table._configuration.Needs)
                        {
                            <MudSelectItem Value="item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="4" Class="py-0 mt-1 mt-md-0">
                    <MudAutocomplete T="string"
                                     Dense="true"
                                     Label="Người chăm"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Text"
                                     Value="@_project"
                                     @bind-Text="@_curatorAutoCmpText"
                                     SearchFunc="CuratorAutoCompSearch" />
                </MudItem>
                <MudItem xs="12" md="4" Class="py-0 mt-1 mt-md-0">
                    <MudAutocomplete T="string"
                                     Dense="true"
                                     Label="Dự án"
                                     Margin="Margin.Dense"
                                     Variant="Variant.Text"
                                     Value="@_curator"
                                     @bind-Text="@_projectAutoCmpText" CoerceText="false"
                                     SearchFunc="ProjectAutoCompSearch" />
                </MudItem>

                <MudItem xs="12" Class="d-flex d-md-none align-center mt-2">
                    <MudTextField Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Value="@TableState.State["ListCustomerDeleted"].SearchString"
                                  ValueChanged="@(async (string e) => { TableState.State["ListCustomerDeleted"].SearchString = e; if (e != "") await _table.ReloadTable(); })"
                                  Placeholder="Tìm Kiếm"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium">
                    </MudTextField>
                    <MudButton Class="ml-2" Variant="Variant.Outlined" OnClick="_table.ClearFilter">
                        Tất cả
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
    }
</MudGrid>
<MudPaper Class="mb-2 mb-md-6" Elevation="25">
    @if (_isAddingCustomer){}else{
        <GridTable @ref="_table" ListEmployee="_listEmployees" ListProject="_listProject" IsDeletedList="true" IsCLearFilter="FilterCleared"></GridTable>
        <div class="d-flex d-md-none justify-space-between align-center pa-4">
            <MudButton Class="mr-2"
                       FullWidth="true"
                       Color="Color.Primary"
                       Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Add"
                       OnClick="@(() => _isAddingCustomer = !_isAddingCustomer)">
                Thêm KH
            </MudButton>
            <MudButton Class="ml-2"
                       FullWidth="true"
                       Color="Color.Default"
                       Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.FilterList"
                       OnClick="@(() => _drawerOpen = !_drawerOpen)">
                Bộ lọc
            </MudButton>
        </div>
    }
</MudPaper>

<MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Docked" Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader Class="px-0">
        <div class="d-flex justify-space-between align-center px-4" style="width:100%">
            <MudText Typo="Typo.h6">Bộ lọc</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Clear" Size="Size.Small" OnClick="@(() => _drawerOpen = !_drawerOpen)"></MudIconButton>
        </div>
    </MudDrawerHeader>
    <div class="pa-4">
        <div class="">
            <MudSelect T="string"
                       Dense="true"
                       OffsetY="true"
                       Label="Nhu cầu"
                       Margin="Margin.Dense"
                       Variant="Variant.Text"
                       Value="@TableState.State["ListCustomerDeleted"].Need"
                       ValueChanged="@(async (string e) => { TableState.State["ListCustomerDeleted"].Need = e; if (e != null) await _table.ReloadTable(); })">
                <MudSelectItem T="string" Value="null">Bỏ Lọc</MudSelectItem>
                @foreach (var item in _table._configuration.Needs)
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="mt-4">
            <MudAutocomplete T="string"
                             Dense="true"
                             Label="Dự án"
                             Margin="Margin.Dense"
                             Variant="Variant.Text"
                             Value="@_curator"
                             @bind-Text="@_projectAutoCmpText" CoerceText="false"
                             SearchFunc="ProjectAutoCompSearch" />
        </div>
        <div class="mt-4">
            <MudAutocomplete T="string"
                             Dense="true"
                             Label="Người chăm"
                             Margin="Margin.Dense"
                             Variant="Variant.Text"
                             Value="@_project"
                             @bind-Text="@_curatorAutoCmpText"
                             SearchFunc="CuratorAutoCompSearch" />
        </div>
        <div class="mt-6">
            <MudTextField Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Value="@TableState.State["ListCustomerDeleted"].SearchString"
                          ValueChanged="@(async (string e) => { TableState.State["ListCustomerDeleted"].SearchString = e; if (e != "") await _table.ReloadTable(); })"
                          Placeholder="Tìm Kiếm"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium">
            </MudTextField>
        </div>
        <div class="mt-6">
            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="_table.ClearFilter">
                Tất cả
            </MudButton>
        </div>
    </div>
</MudDrawer>


@code {
    bool _drawerOpen;
    bool _isAddingCustomer;
    GridTable _table;

    string _curator;
    string _curatorAutoCmpText;

    string _project;
    string _projectAutoCmpText;

    Customer _customer { get; set; }
    List<Project> _listProject { get; set; }
    List<Employee> _listEmployees { get; set; }

    void FilterCleared(bool value)
    {
        if (value)
        {
            _curator = null;
            _curatorAutoCmpText = null;
            _project = null;
            _projectAutoCmpText = null;
            TableState.State["ListCustomerDeleted"].Need = null;
        }
    }
    async Task<IEnumerable<string>> CuratorAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (string.IsNullOrEmpty(value))
        {
            return _listEmployees.Select(c => c.Name);
        }
        return _listEmployees.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }

    async Task<IEnumerable<string>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listProject.Select(c => c.Name);
        }
        return _listProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }

    protected override async Task OnInitializedAsync()
    {
        if (!TableState.State.ContainsKey("ListCustomerDeleted"))
        {
            TableState.CreateTableData("ListCustomerDeleted");
        }

        _customer = new Customer();
        var projects = ProjectServices.GetAllAsync();
        var employees = EmployeeServices.GetAllAsync();
        await Task.WhenAll(projects, employees).ConfigureAwait(false);

        _listProject = projects.Result;
        _listEmployees = employees.Result;
        _listEmployees.Insert(0, new Employee() { Name = "Bỏ Lọc" });
        _listProject.Insert(0, new Project() { Name = "Bỏ Lọc" });

        if (TableState.State["ListCustomerDeleted"].IsFiltered)
        {
            _curator = TableState.State["ListCustomerDeleted"].CuratorId.HasValue ? _listEmployees.FirstOrDefault(c => c.Id == TableState.State["ListCustomerDeleted"].CuratorId).Name : null;
            _curatorAutoCmpText = _curator;

            _project = TableState.State["ListCustomerDeleted"].ProjectId.HasValue ? _listProject.FirstOrDefault(c => c.Id == TableState.State["ListCustomerDeleted"].ProjectId).Name : null;
            _projectAutoCmpText = _project;

        }
    }
}