﻿@page "/admin/danhsach-ngay-tuan"
@inject WeeklySalesReportDurationServices WeeklySalesReportDurationServices
@attribute [Authorize(Roles = "Admin")]

<div class="week-controls d-flex pa-3">
    <div class="week-controls__item justify-content-center">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                       Size="Size.Small"
                       OnClick="() => _currenYear = _currenYear - 1" />
        <MudMenu Label=@string.Format("Năm {0}", _currenYear)
                 OffsetY="true" Direction="Direction.Bottom">
            @foreach (var item in _weeklySalesReportDurations.Select(x => x.Month.Year).Distinct())
            {
                <MudMenuItem OnClick="() => _currenYear = item ">Năm @item</MudMenuItem>
            }
        </MudMenu>
        <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                       Size="Size.Small"
                       OnClick="() => _currenYear = _currenYear + 1"
                       Disabled="@(_currenYear == DateTime.Now.Year? true:false)" />
    </div>
    <div class="week-controls__item">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                       Size="Size.Small"
                       OnClick="DecreaseMonth" />
        <MudMenu Label=@string.Format("Tháng {0}",_currentMonth)
                 OffsetY="true" Direction="Direction.Bottom">
            @foreach (var item in _weeklySalesReportDurations.Select(x => x.Month.Month).Distinct())
            {
                <MudMenuItem OnClick="() => _currentMonth = item ">Tháng @item</MudMenuItem>
            }
        </MudMenu>
        <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                       Size="Size.Small"
                       OnClick="IncreaseMonth" />
    </div>
</div>

@* Table *@
<MudSimpleTable>

    <thead>
        <tr>
            <th>Tuần</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in _weeklySalesReportDurations
                                  .OrderBy(x => x.Id)
                                  .Where(x => x.Month.Year == _currenYear)
                                  .Where(x => x.Month.Month == _currentMonth))
        {

            <tr>
                <td>@(++i)</td>
                <td>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                                   Size="Size.Small"
                                   OnClick="() => DateStartMinus(item)" />
                    @item.DateStart.ToString("dd/MM/yyyy")
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                                   Size="Size.Small"
                                   OnClick="() => DateStartPlus(item)" />
                </td>
                <td>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                                   Size="Size.Small"
                                   OnClick="() => DateEndMinus(item)" />
                    @(item.DateEnd == null ? "..." : item.DateEnd.Value.ToString("dd/MM/yyyy"))
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                                   Size="Size.Small"
                                   OnClick="() => DateEndPlus(item)" />
                </td>

            </tr>
        }
    </tbody>
</MudSimpleTable>

@code{

    List<WeeklySalesReportDuration> _weeklySalesReportDurations = new();

    int _currentMonth = DateTime.Now.Month;
    int _currenYear = DateTime.Now.Year;

    async Task UpdateDurationWithRelated(WeeklySalesReportDuration duration,
                                       WeeklySalesReportDuration navigateDuration,
                                       Action<WeeklySalesReportDuration> action)
    {
        List<WeeklySalesReportDuration> durations = new();
        if (navigateDuration != null)
        {
            action(duration);
            durations.Add(navigateDuration);
        }
        durations.Add(duration);

        await WeeklySalesReportDurationServices.UpdateRangeAsync(durations);
    }

    async Task DateStartMinus(WeeklySalesReportDuration duration)
    {
        duration.DateStart = duration.DateStart.AddDays(-1);

        WeeklySalesReportDuration prevDration = _weeklySalesReportDurations
                                                            .Where(x => x.Id < duration.Id)
                                                            .OrderByDescending(x => x.Id)
                                                            .FirstOrDefault();

        await UpdateDurationWithRelated(duration, prevDration, c => prevDration.DateEnd = c.DateStart.AddDays(-1));
    }

    async Task DateStartPlus(WeeklySalesReportDuration duration)
    {
        duration.DateStart = duration.DateStart.AddDays(1);

        WeeklySalesReportDuration prevDration = _weeklySalesReportDurations
                                                            .Where(x => x.Id < duration.Id)
                                                            .OrderByDescending(x => x.Id)
                                                            .FirstOrDefault();

        await UpdateDurationWithRelated(duration, prevDration, c => prevDration.DateEnd = c.DateStart.AddDays(-1));
    }

    async Task DateEndMinus(WeeklySalesReportDuration duration)
    {
        duration.DateEnd = duration.DateEnd.Value.AddDays(-1);
        WeeklySalesReportDuration nextDuration = _weeklySalesReportDurations
                                                            .Where(x => x.Id > duration.Id)
                                                            .OrderBy(x => x.Id)
                                                            .FirstOrDefault();
        await UpdateDurationWithRelated(duration, nextDuration,
                                        c => nextDuration.DateStart = c.DateEnd.Value.AddDays(1));
    }



    async Task DateEndPlus(WeeklySalesReportDuration duration)
    {
        duration.DateEnd = duration.DateEnd.Value.AddDays(1);
        WeeklySalesReportDuration nextDuration = _weeklySalesReportDurations
                                                            .Where(x => x.Id > duration.Id)
                                                            .OrderBy(x => x.Id)
                                                            .FirstOrDefault();

        await UpdateDurationWithRelated(duration, nextDuration,
                                    c => nextDuration.DateStart = c.DateEnd.Value.AddDays(1));

    }

    void IncreaseMonth()
    {
        _currentMonth = _currentMonth + 1;
        if (_currentMonth > 12)
        {
            _currentMonth = 12;
        }
    }

    void DecreaseMonth()
    {
        _currentMonth = _currentMonth - 1;
        if (_currentMonth < 1)
        {
            _currentMonth = 1;
        }
    }

    protected async override Task OnInitializedAsync()
    {
        _weeklySalesReportDurations = await WeeklySalesReportDurationServices.GetAllAsync();
    }

}
