﻿@page "/dashboard/doanhso"
@inject SalesReportsServices SalesReportsServices
@inject OfficesServices OfficeServices
@inject EmployeeServices EmployeeServices
@inject WeeklySalesReportDurationServices WeeklySalesReportDurationServices
@inject WeeklySalesReportServices WeeklySalesReportServices
@inject OrderServices OrderServices
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Utilities Utilities

@using maicoCRM.ViewModels
@using System.Globalization;
@using Newtonsoft.Json;

<div style="position:relative;" Class="pa-1">
    <div class="w-100 mb-2" style="font-size:16px; font-weight: bold">
        <MudCard Class="pa-2 ma-0" Style="width:100%">
            <p style="font-size:20px;">
                - Doanh số trung bình / ngày: <label style="color:red">@(_mediumSalesOnDay.ToString("C0", _hcmCulture))</label>
            </p>
            <p style="font-size:20px;">- Số ngày còn lại: <label style="color:red">@_remainDay Ngày</label> </p>
        </MudCard>
    </div>
    <MudPaper Class="pa-2">
        <div style="overflow-x:auto;">
            <table id="sales-report" class="mx-auto mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="5" class="first-header">
                            Toàn Tháng
                            <br />
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Size="Size.Small"
                                           OnClick="@( _ => ReportFill(_currentMonth.AddMonths(-1)))" />
                            Tháng @_currentMonth.Month Năm @_currentMonth.Year
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small"
                                           OnClick="@( _ => ReportFill(_currentMonth.AddMonths(1)))" />
                        </th>
                        <th colspan="3" class="first-header">
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Size="Size.Small"
                                           OnClick="WeekDurationPrev" />
                            @WeekStart?.ToString("dd/MM/yyyy") - @(WeekEnd?.CompareTo(DateTime.MaxValue) == 0 ? "..." :
WeekEnd?.ToString("dd/MM/yyyy"))
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small"
                                           OnClick="WeekDurationNext" />
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th class="second-header first-item">
                            Mục Tiêu
                        </th>
                        <th class="second-header">Đã đạt</th>
                        <th class="second-header">Tỉ lệ</th>
                        <th class="second-header">Lương 22%</th>
                        <th class="second-header last-item">Tiến độ</th>
                        <th>
                            Mục Tiêu
                        </th>
                        <th>Đã Đạt</th>
                        <th class="last-item">Tỉ lệ</th>
                        <th>VPKD</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!_reportViewModel.Any())
                    {
                        int i = 1;
                        @foreach (var item in _employees)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.Name</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td></td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        }
                    }
                    else
                    {
                        int i = 1;
                        @foreach (var item in _reportViewModel.Where(c => c.Value.IsDisplayable == true))
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.Value.Name</td>
                                <td>
                                    @if (_isMonthlySaleGoalsEditing && item.Value.EmployeeId == editEmployeeId)
                                    {
                                        <MudInput AutoFocus="true" Variant="Variant.Text" @bind-Value="@item.Value.SalesGoals"
                                                  @onfocusout="async () => await UpdateSalesGoals(item.Value)" />
                                    }
                                    else
                                    {
                                        <MudItem @ondblclick="() => CheckPermisionAndEdit(item.Value, 1)"
                                                 Style="cursor: pointer;">
                                            @item.Value.SalesGoals.ToString("C0", _hcmCulture)
                                        </MudItem>
                                    }
                                </td>
                                <td>@item.Value.Sales.ToString("C0", _hcmCulture)</td>
                                <td style="background-color:@(ConvertPercentToColor(item.Value.Percent))">
                                    @(Math.Round(item.Value.Percent, 2) + "%")
                                </td>
                                <td style="background-color:#93C47D">@item.Value.Salary</td>
                                <td style="width:150px">
                                    <div style="background-color: #E5AA87; width: @(!Double.IsNormal(item.Value.Percent) ? 0 : (item.Value.Percent > 100 ? 100 : item.Value.Percent) + "%"); height: 30px;">
                                    </div>
                                </td>
                                @if (item.Value.WeeklyReports != null)
                                {
                                    <td>
                                        @if (_isWeeklySaleGoalsEditing && item.Value.EmployeeId == editEmployeeId)
                                        {
                                            <MudInput AutoFocus="true" Variant="Variant.Text" @bind-Value="@item.Value.WeeklyReports.SalesGoals"
                                                      @onfocusout="async () => await UpdateSalesGoals(item.Value)" />
                                        }
                                        else
                                        {
                                            <MudItem @ondblclick="() => CheckPermisionAndEdit(item.Value, 2)"
                                                     Style="cursor: pointer;">
                                                @item.Value.WeeklyReports.SalesGoals.ToString("C0", _hcmCulture)
                                            </MudItem>
                                        }
                                    </td>
                                    <td>@item.Value.WeeklyReports.Sales.ToString("C0", _hcmCulture)</td>
                                    <td style="background-color:@(ConvertPercentToColor(item.Value.WeeklyReports.Percent))">
                                        @(Math.Round(item.Value.WeeklyReports.Percent, 2) + "%")
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                }
                                <td>@item.Value.Office</td>
                            </tr>
                        }
                        <tr style="height:30px;"></tr>
                        @foreach (var item in _offices.Where(c => c.Id > 1 || c.Name == ""))
                        {
                            var calculatedData = SummaryDashboardCalculate(item.Name);

                            <tr style="background-color: @(item.Name == "" ? "#D9EAD3" : "#EAD1DC")">
                                <td></td>
                                <td>Tổng @(item.Name == "" ? "Công ty" : item.Name)</td>
                                <td>@calculatedData.Item1.ToString("C0", _hcmCulture)</td>
                                <td>@calculatedData.Item2.ToString("C0", _hcmCulture)</td>
                                <td style="background-color:@(ConvertPercentToColor(calculatedData.Item3))">
                                    @(Math.Round(calculatedData.Item3, 2))%
                                </td>
                                <td></td>
                                <td>
                                    <div style="background-color: #E5AA87;
                                    width: @(SetProgressValue(calculatedData.Item3));
                                    height: 30px;"></div>
                                </td>
                                <td>@calculatedData.Item4.ToString("C0", _hcmCulture)</td>
                                <td>@calculatedData.Item5.ToString("C0", _hcmCulture)</td>
                                <td style="background-color:@(ConvertPercentToColor(calculatedData.Item6))">
                                    @(Math.Round(calculatedData.Item6, 2))%
                                </td>
                            </tr>
                        }
                        <tr style="background-color: #D9EAD3">
                            @{
                                var calculatedSalesRent = SummarySalesRentOrBuy("Thuê");
                                <td></td>
                                <td>Tổng Căn Thuê</td>
                                <td></td>
                                <td>@calculatedSalesRent.Item1.ToString("C0", _hcmCulture)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@calculatedSalesRent.Item2.ToString("C0", _hcmCulture)</td>
                                <td></td>
                            }
                        </tr>
                        <tr style="background-color: #D9EAD3">
                            @{
                                var calculatedSalesBuy = SummarySalesRentOrBuy("Mua");
                                <td></td>
                                <td>Tổng Căn Mua</td>
                                <td></td>
                                <td>@calculatedSalesBuy.Item1.ToString("C0", _hcmCulture)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@calculatedSalesBuy.Item2.ToString("C0", _hcmCulture)</td>
                                <td></td>
                            }
                        </tr>
                        <tr style="background-color: #D9EAD3">
                            @{
                                var calculatedSalesInvest = SummarySalesInvest(_currentMonth);
                                <td></td>
                                <td>Tổng Đầu Tư</td>
                                <td></td>
                                <td>@calculatedSalesInvest.Item1.ToString("C0", _hcmCulture)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@calculatedSalesInvest.Item2.ToString("C0", _hcmCulture)</td>
                                <td></td>
                            }
                        </tr>
                        <tr style="background-color: #c1b554d9">
                            <td></td>
                            <td>Tổng Phí Hồ Sơ</td>
                            <td></td>
                            <td>@_legalReportsFee.Monthly.ToString("C0", _hcmCulture)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@_legalReportsFee.Weekly.ToString("C0", _hcmCulture)</td>
                            <td></td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </MudPaper>

    <MudOverlay @bind-Visible="_isDataloading" LightBackground="true" Absolute="true">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    </MudOverlay>
</div>

@code {
    [CascadingParameter] private Employee CascadedEmployee { get; set; }
    Dictionary<int, SalesReportViewModel> _reportViewModel = new();
    List<Office> _offices = new();
    List<Employee> _employees = new();
    List<WeeklySalesReportDuration> _listWeekDurations = new();
    List<Order> _order = new();
    WeeklySalesReportDuration _currentWeekDuration = new();

    CultureInfo _hcmCulture = CultureInfo.CreateSpecificCulture("vi-VN");

    Employee _cascadedEmployee;


    bool _isAdmin = false;

    bool _isMonthlySaleGoalsEditing;
    bool _isWeeklySaleGoalsEditing;

    bool _isDataloading;
    double _mediumSalesOnDay;
    int _remainDay;

    int editEmployeeId;
    double _salesMonthlyGoals;
    double _saleWeeklyGoals;

    DateTime? WeekStart = new();
    DateTime? WeekEnd = new();
    DateTime _currentMonth;

    (double Monthly, double Weekly) _legalReportsFee;

    (double, double, double, double, double, double) SummaryDashboardCalculate(string office)
    {
        var sales = _reportViewModel.Where(c => c.Value.Office.Contains(office)).Sum(c => c.Value.Sales);
        var salesGoals = _reportViewModel.Where(c => c.Value.Office.Contains(office)).Sum(c => c.Value.SalesGoals);
        var percent = sales / salesGoals * 100;

        var weeklySales = _reportViewModel.Where(c => c.Value.Office.Contains(office)).Sum(c => c.Value.WeeklyReports?.Sales) ?? 0;
        var weeklySalesGoals = _reportViewModel.Where(c => c.Value.Office.Contains(office)).Sum(c =>
        c.Value.WeeklyReports?.SalesGoals) ?? 0;
        var weeklyPercent = weeklySales / weeklySalesGoals * 100;
        return (salesGoals, sales, percent, weeklySalesGoals, weeklySales, weeklyPercent);
    }

    (double, double) SummarySalesRentOrBuy(string contractType)
    {
        DateTime monthStart = new DateTime(_currentMonth.Year, _currentMonth.Month, 5);
        var temp = _currentMonth.AddMonths(1);
        DateTime monthEnd = new DateTime(temp.Year, temp.Month, 5);

        double monthly = 0;
        double weekly = 0;
        if (contractType.Contains("Thuê"))
        {
            monthly = _employees.SelectMany(c => c.OrderDetails).Where(c => c.OrderNavigation.ContractType.Contains("Thuê"))
                .Where(c=>c.OrderNavigation.CreatedAt >= monthStart && c.OrderNavigation.CreatedAt <= monthEnd)
                .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
            weekly = _employees.SelectMany(c =>c.OrderDetails).Where(c=>c.OrderNavigation.ContractType.Contains("Thuê"))
                .Where(c => c.OrderNavigation.CreatedAt >= WeekStart && c.OrderNavigation.CreatedAt <= WeekEnd)
                .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
        }
        else if (contractType.Contains("Mua"))
        {
            monthly = _employees.SelectMany(c => c.OrderDetails).Where(c => c.OrderNavigation.ContractType.Contains("Mua"))
                 .Where(c => c.OrderNavigation.CreatedAt >= monthStart && c.OrderNavigation.CreatedAt <= monthEnd)
                 .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
            weekly = _employees.SelectMany(c => c.OrderDetails).Where(c => c.OrderNavigation.ContractType.Contains("Mua"))
                .Where(c => c.OrderNavigation.CreatedAt >= WeekStart && c.OrderNavigation.CreatedAt <= WeekEnd)
                .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
        }
        return (monthly, weekly);
    }
    (double, double) SummarySalesInvest( DateTime month)
    {
        _currentMonth = month;
        _order = OrderServices.GetInvestOnMonth(_currentMonth);
        double monthly = 0;
        double weekly = 0;
        monthly = _order.Sum(x => x.BrokerageFee);
        weekly = _order.Where(x => x.CreatedAt >= WeekStart && x.CreatedAt <= WeekEnd)
           .Sum(x => x.BrokerageFee);
        return (monthly, weekly);
    }

    string SetProgressValue(double value)
    {
        return (!Double.IsNormal(value) ? 0 : (value > 100 ? 100 : value)) + "%";
    }

    string ConvertPercentToColor(double percent)
    {
        if (percent <= 25)
            return "#ff0000";
        else if (percent <= 50)
            return "#c47d7d";
        else if (percent <= 75)
            return "#d6c746";
        return "#93c47d";
    }
    void CheckPermisionAndEdit(SalesReportViewModel salesReportViewModel, int editColumn)
    {
        if (!_isAdmin && salesReportViewModel.EmployeeId != _cascadedEmployee.Id)
        {
            Snackbar.Add("Không thể chỉnh sửa mục tiêu của người khác!", Severity.Warning);
            return;
        }
        editEmployeeId = salesReportViewModel.EmployeeId;
        if (editColumn == 1)
        {
            _isWeeklySaleGoalsEditing = false;
            _isMonthlySaleGoalsEditing = true;
        }
        else
        {
            _isMonthlySaleGoalsEditing = false;
            _isWeeklySaleGoalsEditing = true;
        }
        _saleWeeklyGoals = salesReportViewModel.WeeklyReports.SalesGoals;
        _salesMonthlyGoals = salesReportViewModel.SalesGoals;
    }

    async Task UpdateSalesGoals(SalesReportViewModel salesReportViewModel)
    {
        var employee = _employees.FirstOrDefault(c => c.Id == salesReportViewModel.EmployeeId);
        bool isDataChanged = false;

        if (_salesMonthlyGoals != salesReportViewModel.SalesGoals)
        {
            employee.SalesReportsNavigation.FirstOrDefault().SalesGoals = salesReportViewModel.SalesGoals;
            isDataChanged = true;
        }
        else if (_saleWeeklyGoals != salesReportViewModel.WeeklyReports.SalesGoals)
        {
            employee.WeeklySalesReports.FirstOrDefault(c => c.DurationNavigation.DateStart == WeekStart).SalesGoals = salesReportViewModel.WeeklyReports.SalesGoals;
            isDataChanged = true;
        }

        if (isDataChanged)
        {
            await EmployeeServices.UpdateAsync(employee);
            Snackbar.Add("Cập nhật thành công!", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Không có gì để cập nhật cả! Plè~", Severity.Warning);
        }
        _isMonthlySaleGoalsEditing = false;
        _isWeeklySaleGoalsEditing = false;
    }

    async Task ReportFill(DateTime month)
    {
        _isDataloading = true;
        await InvokeAsync(StateHasChanged);

        _currentMonth = month;
        _employees = await EmployeeServices.GetSalesReportData(_currentMonth);
        _cascadedEmployee = EmployeeServices.GetCurrentEmployeeByIdIncludeCustom(CascadedEmployee.Id);

        _reportViewModel = new();

        if (_employees[0].WeeklySalesReports.Any())
        {
            _currentWeekDuration = _employees[0].WeeklySalesReports.Last().DurationNavigation;
        }

        DateTime monthStart = new DateTime(_currentMonth.Year, _currentMonth.Month, 5);
        var temp = _currentMonth.AddMonths(1);
        DateTime monthEnd = new DateTime(temp.Year, temp.Month, 5);

        foreach (var item in _employees)
        {
            if (!item.SalesReportsNavigation.Any())
            {
                Models.SalesReport salesReport = new()
                {
                    Month = monthStart,
                    EmployeeId = item.Id,
                    SalesGoals = 0,
                };
                item.SalesReportsNavigation.Add(salesReport);
                await SalesReportsServices.Add(salesReport);
            }
            double monthlySales = item.OrderDetails
                .Where(c => c.OrderNavigation.CreatedAt >= monthStart && c.OrderNavigation.CreatedAt < monthEnd)
                .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
            SalesReportViewModel salesReportViewModel = new()
            {
                Name = item.Name,
                SalesGoals = item.SalesReportsNavigation.Last().SalesGoals,
                Sales = monthlySales,
                Percent = monthlySales / item.SalesReportsNavigation.Last().SalesGoals * 100,
                Salary = (monthlySales * 22 / 100).ToString("C0", _hcmCulture),
                Office = item.OfficeNavigation?.Name,
                EmployeeId = item.Id,
                Month = month,
                IsDisplayable = (item.DepartmentNavigation.Name != "Sales") ? false : true
            };
            _reportViewModel.Add(salesReportViewModel.EmployeeId, salesReportViewModel);
        }
        if (_currentWeekDuration.Id != 0)
        {
            WeeklyReportFill(_currentWeekDuration);
        }
        _reportViewModel = _reportViewModel.OrderByDescending(c => c.Value.Sales).ToDictionary(c => c.Key, c => c.Value);
        _legalReportsFee.Monthly = OrderServices.GetLegalReportFeeSummary(month);

        _isDataloading = false;

        _remainDay = RemainDayInMonth(_currentMonth);
        _mediumSalesOnDay = MediumSalesInMonth(_currentMonth);
    }

    void WeekDurationPrev()
    {
        var durationPrev = _listWeekDurations.Where(x => x.Id < _currentWeekDuration.Id && x.DateStart.Month ==
        _currentMonth.Month)
        .OrderByDescending(x => x.Id).FirstOrDefault();
        if (durationPrev != null)
        {
            _currentWeekDuration = durationPrev;
            WeeklyReportFill(_currentWeekDuration);
        }
    }

    void WeekDurationNext()
    {
        var durationNext = _listWeekDurations.Where(x => x.Id > _currentWeekDuration.Id && x.DateStart.Month ==
        _currentMonth.Month)
        .OrderBy(x => x.Id).FirstOrDefault();
        if (durationNext != null)
        {
            _currentWeekDuration = durationNext;
            WeeklyReportFill(_currentWeekDuration);
        }
    }

    void WeeklyReportFill(WeeklySalesReportDuration weekDuration)
    {
        WeekStart = weekDuration.DateStart;
        WeekEnd = weekDuration.DateEnd;

        int i = 0;
        foreach (var item in _employees)
        {
            if (!item.WeeklySalesReports.Any())
            {
                var lastestDurationId = _employees.LastOrDefault(c => c.WeeklySalesReports.Any(b => b.DurationNavigation != null))
                .WeeklySalesReports.LastOrDefault().DurationId;
                Models.WeeklySalesReport weeklySalesReport = new()
                {
                    DurationId = lastestDurationId,
                    EmployeeId = _employees[i].Id,
                    SalesGoals = 0
                };
                _employees[i].WeeklySalesReports.Add(weeklySalesReport);
                WeeklySalesReportServices.Add(weeklySalesReport);
            }

            double weeklySales = item.OrderDetails
                .Where(c => c.OrderNavigation.CreatedAt >= WeekStart && c.OrderNavigation.CreatedAt.Date <= WeekEnd.Value.Date)
                .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
            double weeklySalesGoals = _employees[i].WeeklySalesReports
                .FirstOrDefault(x => x.DurationId == weekDuration.Id)?.SalesGoals ?? 0;

            _reportViewModel[item.Id].WeeklyReports.Sales = weeklySales;
            _reportViewModel[item.Id].WeeklyReports.SalesGoals = weeklySalesGoals;
            _reportViewModel[item.Id].WeeklyReports.Percent = weeklySales / weeklySalesGoals * 100;

            i++;
        }
        _legalReportsFee.Weekly = OrderServices.GetLegalReportFeeSummary(WeekStart ?? DateTime.Now, WeekEnd ?? DateTime.Now);
    }

    DateTime CreateCurrentDateTime()
    {
        return Utilities.GetCurrentDateTime();
    }

    double MediumSalesInMonth(DateTime month)
    {
        int dayNumberOfMonth = 0;
        var currentDay = CreateCurrentDateTime();
        var monthStart = new DateTime(month.Year, month.Month, 4);
        var monthEnd = new DateTime(month.Year, month.AddMonths(1).Month, 4);

        if (currentDay.Month != monthStart.Month)
        {
            dayNumberOfMonth = (monthEnd.Date - monthStart.Date).Days;
        }
        else
        {
            dayNumberOfMonth = (currentDay.Date - monthStart.Date).Days;
        }

        double totalSalesOfMonth = _reportViewModel.Sum(s => s.Value.Sales);

        return totalSalesOfMonth / dayNumberOfMonth;
    }

    int RemainDayInMonth(DateTime month)
    {
        var currentMonth = CreateCurrentDateTime();
        if ((currentMonth.Date.Day >= 5 && currentMonth.Date.Month == month.Date.Month) || (currentMonth.Date.Day <= 5 && currentMonth.Date.Month - 1 == month.Date.Month))
        {
            var monthEnd = new DateTime(month.Year, month.AddMonths(1).Month, 5);
            return (monthEnd.Date - currentMonth.Date).Days;
        }
        return 0;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }
        if (CascadedEmployee != null)
            _cascadedEmployee = EmployeeServices.GetCurrentEmployeeByIdIncludeCustom(CascadedEmployee.Id);

        _currentMonth = CreateCurrentDateTime();
        _listWeekDurations = await WeeklySalesReportDurationServices.GetAllAsync();

        if (_currentMonth.Day < 5) _currentMonth = _currentMonth.AddMonths(-1);

        _offices = await OfficeServices.GetAllAsync();
        _offices.Add(new Office { Name = "" });

        await ReportFill(_currentMonth);
    }
}