﻿/*table#sales-report, table#sales-report th, table#sales-report td{
  border: 1px solid black;
  border-collapse: collapse;
  color:black;
  font-weight:bold;
  text-transform:uppercase;
}
table#sales-report{
  border: 2px solid black;
}
table#sales-report th, table#sales-report td{
  padding: 3px 10px;
}
table#sales-report td:nth-child(2){
  padding: 3px 10px 3px 2px;
}
table#sales-report td:nth-child(7){
  padding: 1px;
}
table#sales-report th{
  text-align: center;
  background-color: #D9D9D9;
}
table#sales-report th.first-header{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
table#sales-report th.second-header{
  border-bottom: 2px solid black;
}
table#sales-report th.first-item{
  border-left: 2px solid black;
}
table#sales-report th.last-item{
  border-right: 2px solid black;
}
table#sales-report td:nth-child(2), table#sales-report td:nth-child(7), table#sales-report td:nth-child(10){
  border-right: 2px solid black;
}

*/