﻿@inject IJSRuntime JSRuntime

<MudPaper Class="pa-sm-4 pa-1" Elevation="2">
    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.h6" Style="font-size: 15px;">@Title</MudText>
    </div>
    <div class="chart-container mt-8" style="width:100%; height:90vh; overflow-x:hidden">
        <canvas id="@Id" @ref="_chart" role="img" aria-label="work-dashboard-charts"></canvas>
    </div>
</MudPaper>

@code {
    [Parameter] public List<WorkDashboardDataViewModel> Data { get; set; }
    [Parameter] public string Id { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Label { get; set; }

    bool _isChartRender;
    ElementReference _chart;

    private async Task CreateChart(
        string id, string label, IEnumerable<int> data, IEnumerable<double> sale, IEnumerable<string> labels)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.createMixedChart", id, label, data, sale, labels);
    }

    private async Task UpdateChart(
        string id, IEnumerable<int> data, IEnumerable<double> sale, IEnumerable<string> labels)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.updateMixedChart", id, data, sale, labels);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Data.Count != 0)
        {
            if (_isChartRender == false)
            {
                if (Id == "Commute")
                {
                    await CreateChart(Id, Label,
                        Data.Select(x => x.Commute),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
                else if (Id == "SuccessSchedule")
                {
                    await CreateChart(Id, Label,
                        Data.Select(x => x.SuccessSchedule),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
                else if (Id == "Work")
                {
                    await CreateChart(Id, Label,
                        Data.Select(x => x.Work),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
                _isChartRender = true;
            }
            else
            {
                if (Id == "Commute")
                {
                    await UpdateChart(Id,
                        Data.Select(x => x.Commute),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
                else if (Id == "SuccessSchedule")
                {
                    await UpdateChart(Id,
                        Data.Select(x => x.SuccessSchedule),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
                else if (Id == "Work")
                {
                    await UpdateChart(Id,
                        Data.Select(x => x.Work),
                        Data.Select(x => x.Sale),
                        Data.Select(x => x.Name));
                }
            }
        }
    }
}