﻿@page "/dashboard/congviec"
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject OfficeServices OfficeServices
@inject EmployeeServices EmployeeServices
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject Utilities Utilities
<div>
    <div class="d-flex justify-end justify-md-space-between align-center">
        <MudText Class="d-none d-md-inline" Typo="Typo.h6">Thống kê năng lực Sales [@_title]</MudText>
        <div class="d-flex">
            <MudTooltip Text="Xem biểu đồ" Class="mr-1">
                <MudFab Class="mx-sm-1 mr-1"
                        Size="Size.Small"
                        Color="@(_viewMode == "chart" ? Color.Primary : Color.Default)"
                        Icon="@Icons.Material.Filled.BarChart"
                        OnClick="@(() => ChangeViewMode("chart"))" />
            </MudTooltip>
            <MudTooltip Text="Xem danh sách">
                <MudFab Class="mx-sm-1"
                        Size="Size.Small"
                        Color="@(_viewMode == "table" ? Color.Primary : Color.Default)"
                        Icon="@Icons.Material.Filled.ViewList"
                        OnClick="@(() => ChangeViewMode("table"))" />
            </MudTooltip>
        </div>
    </div>

    <MudPaper Class="mt-4 pa-4" Elevation="2">
        <div class="d-md-flex align-center justify-space-between">
            <div class="d-flex align-center d-inline ">
                <span id="selectOffice" class="mr-2">
                    <MudSelect T="string"
                               Format="F2"
                               Dense="true"
                               Strict="true"
                               OffsetY="true"
                               Label="Văn phòng"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               SelectedValuesChanged="() => SelectedOfficeChanged(_selectedOffice)"
                               @bind-Value="_selectedOffice">
                        @foreach (var office in _offices)
                        {
                            <MudSelectItem @key="office" Value="@office.Name" />
                        }
                    </MudSelect>
                </span>
                <span hidden="@_isHideClearButton">
                    <MudIconButton Icon="@Icons.Material.Filled.Clear" Size="@Size.Small" OnClick="ClearSelectedOffice"></MudIconButton>
                </span>
            </div>
            <div class="mt-4 mt-md-0">
                <div id="scroll-x" class="scrollmenu">
                    <MudChipSet @bind-SelectedChip="_selectedChip" Filter="true" Mandatory="@_mandatory">
                        @foreach (var item in timeLabels)
                        {
                            <MudChip Class="mud-chip-filter px-2 ml-1 justify-center"
                                     Variant="Variant.Text"
                                     Label="true"
                                     OnClick="@(() => FilterChanged(_selectedChip.Text))"
                                     Text="@item">
                                @item
                            </MudChip>
                        }
                    </MudChipSet>
                </div>
            </div>
        </div>
    </MudPaper>

    <MudGrid Class="my-4" Justify="Justify.Center">
        @if (_renderData.Count != 0)
        {
            @if (_viewMode == "chart")
            {
                <MudItem xs="12" md="10">
                    <ChartView Id="Commute"
                               Title="Trao đổi"
                               Label="Số lượt trao đổi"
                               Data="_renderData">
                    </ChartView>
                </MudItem>
                <MudItem xs="12" md="10">
                    <ChartView Id="SuccessSchedule"
                               Title="Dẫn khách"
                               Label="Số lượt dẫn khách"
                               Data="_renderData">
                    </ChartView>
                </MudItem>
                <MudItem xs="12" md="10">
                    <ChartView Id="Work"
                               Title="Công việc"
                               Label="Số lượng công việc"
                               Data="_renderData">
                    </ChartView>
                </MudItem>
            }
            else if (_viewMode == "table")
            {
                <MudItem xs="12">
                    <TableView Data="_renderData"></TableView>
                </MudItem>
            }
        }
        else
        {
            <MudItem xs="12">
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    MudChip _selectedChip;
    bool _mandatory = true;
    bool _isHideClearButton { get; set; } = true;
    string _selectedOffice = "";
    string _viewMode { get; set; }
    string _title { get; set; }

    string[] timeLabels = { "Hôm nay", "Tuần trước", "Tuần này", "Tháng trước", "Tháng này", "Năm trước", "Năm này", "Tùy chọn" };

    List<Office> _offices = new();
    List<Employee> _employees = new();
    List<ScheduleCustomer> _scheduleCustomers  = new();
    List<WorkDashboardDataViewModel> _renderData = new();

    DateTime now;
    DateTime start;
    DateTime end;


    protected void ChangeViewMode(string viewMode) => _viewMode = viewMode;

    protected override async Task OnInitializedAsync()
    {
        //shows data of the current month by default
        now = Utilities.GetCurrentDateTime();
        start = new DateTime(now.Year, now.Month, 5);
        end = start.AddMonths(1).AddDays(-1);

        _viewMode = "chart";
        _title = start.Month + "/" + start.Year;
        _offices = await OfficeServices.GetAllAsync();
        _renderData = await FetchData(start, end, _selectedOffice);
    }

    protected async Task<List<WorkDashboardDataViewModel>> FetchData(DateTime start, DateTime end, string office)
    {
        _employees = await EmployeeServices.GetWorkDashboardData(start, end, office);
        _scheduleCustomers = await ScheduleCustomerServices.GetWorkDashboardData(start, end);
        var data = HandleData(_employees, _scheduleCustomers);
        return data;
    }

    protected List<WorkDashboardDataViewModel> HandleData(List<Employee> listEmp, List<ScheduleCustomer> listSchedule)
    {
        List<WorkDashboardDataViewModel> result = new();
        listEmp.ForEach(x =>
        {
            result.Add(new WorkDashboardDataViewModel
            {
                Id = x.Id,
                Name = x.Name,
                Office = x.OfficeNavigation.Name,
                Commute = x.ExploitedCustomerInformations.Count(),
                SuccessSchedule = listSchedule.Where(i => i.Status == "Thành Công" && i.JobType == "Dẫn khách xem nhà"
                                                && (i.ExecutorId == x.Id || i.Followers.Any(c => c.Id == x.Id))).Count(),
                Work = listSchedule.Where(i => i.Status == "Thành Công" && i.JobType != "Dẫn khách xem nhà"
                                            && (i.ExecutorId == x.Id || i.Followers.Any(c => c.Id == x.Id))).Count(),
                Sale = x.OrderDetails.Sum(i => i.OrderNavigation.BrokerageFee * i.OrderJobTypes.Sum(c => c.PercentContribute) / 100),
            });
        });
        return result;
    }

    protected async Task SelectedOfficeChanged(string selectedOffice)
    {
        _renderData = await FetchData(start, end, selectedOffice);
        _isHideClearButton = false;
    }

    protected async Task ClearSelectedOffice()
    {
        _selectedOffice = "";
        _isHideClearButton = true;
        _renderData = await FetchData(start, end, _selectedOffice);
    }

    protected async Task FilterChanged(string time)
    {
        if (time == "Hôm nay")
        {
            start = now.Date;
            end = now.Date;
            _title = start.ToString("dd/MM/yyyy");
        }
        else if (time == "Tuần này")
        {
            start = now.Date.AddDays(-1 * (int)(now.Date.DayOfWeek - 1));
            end = start.AddDays(6);
            _title = start.ToString("dd/MM/yyyy") + " - " + end.ToString("dd/MM/yyyy");
        }
        else if (time == "Tháng này")
        {
            start = new DateTime(now.Year, now.Month, 5);
            end = start.AddMonths(1).AddDays(-1);
            _title = start.Month + "/" + start.Year;
        }
        else if (time == "Năm này")
        {
            start = new DateTime(now.Year, 1, 1);
            end = start.AddYears(1).AddDays(-1);
            _title = start.Year.ToString();
        }
        else if (time == "Tuần trước")
        {
            start = now.AddDays(-(int)now.DayOfWeek - 6);
            end = start.AddDays(6);
            _title = start.ToString("dd/MM/yyyy") + " - " + end.ToString("dd/MM/yyyy");
        }
        else if (time == "Tháng trước")
        {
            start = new DateTime(now.Year, now.Month, 5).AddMonths(-1);
            end = start.AddMonths(1).AddDays(-1);
            _title = start.Month + "/" + end.Year;
        }
        else if (time == "Năm trước")
        {
            start = new DateTime(now.Year, 1, 1).AddYears(-1);
            end = start.AddYears(1).AddDays(-1);
            _title = start.Year.ToString();
        }
        else if (time == "Tùy chọn")
        {
            var options = new DialogOptions() { MaxWidth = MaxWidth.Small };
            var dialog = DialogService.Show<DialogDatePicker>
    ("Chọn ngày", options);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                start = DateTime.Parse(result.Data.ToString().Split(",")[0]);
                end = DateTime.Parse(result.Data.ToString().Split(",")[1]);
                _title = start.ToString("dd/MM/yyyy") + " - " + end.ToString("dd/MM/yyyy");
            }
        }
        _renderData = await FetchData(start, end, _selectedOffice);
    }
}
