﻿<MudDialog>
    <DialogContent>
        @if (IsError)
        {
            <MudAlert Class="mt-4" Severity="Severity.Warning">
                Vui lòng chọn ngày <b>Bắt đầu</b> và ngày <b>Kết thúc</b>
            </MudAlert>
        }
        <MudGrid Class="py-4">
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Từ ngày"
                               Class="mb-1 mb-md-0"
                               DisableToolbar="true"
                               DateFormat="dd/MM/yyyy"
                               @bind-Date="start" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Đến ngày"
                               Class="mt-1 mt-md-0"
                               DisableToolbar="true"
                               DateFormat="dd/MM/yyyy"
                               @bind-Date="end" />
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Hủy</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Chọn</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string Content { get; set; }

    private DateTime? start { get; set; }
    private DateTime? end { get; set; }

    private bool IsError { get; set; } = false;

    private void Submit()
    {
        if (start == null || end == null) 
        { 
            IsError = true; 
        }
        else
        {
            var dateRange = start.ToString() + "," + end.ToString();
            MudDialog.Close(DialogResult.Ok(dateRange));
        }
    }

    private void Cancel() => MudDialog.Cancel();
}