﻿<MudSimpleTable Hover="true"
                Dense="true"
                FixedHeader="@isFixedheader"
                Style="@(isFixedheader?"height:480px;":"")"
                Class="table-dashboard">
    <thead>
        <tr>
            <th>&nbsp; #</th>
            <th>Nhân sự</th>
            <th>Văn phòng</th>
            <th>Trao đổi</th>
            <th>Dẫn khách</th>
            <th>Công việc</th>
            <th>Doanh số (VND)</th>
        </tr>
    </thead>

    <tbody>
        @{ int index = 1; ShortData(); }
        @foreach (var item in Data)
        {
            <tr @key="item">
                <td>@((index < Data.Count) ? index++ : index)</td>
                <td>@item.Name</td>
                <td>@item.Office</td>
                <td>@item.Commute</td>
                <td>@item.SuccessSchedule</td>
                <td>@item.Work</td>
                <td>@item.Sale.ToString("N0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public List<WorkDashboardDataViewModel> Data { get; set; }

    bool isFixedheader = true;

    protected void ShortData()
    {
        if (Data != null) Data = Data.OrderByDescending(x => x.Sale).ToList();
    }
}