﻿<div class="mt-7">
    <MudTextField T="string" Label="Xác nhận đơn hàng" Variant="Variant.Outlined" @bind-Value="_comment" Lines="3" FullWidth="true" />
</div>
<div Class="d-flex">
    <div class="mr-auto mt-3">
        <MudRadioGroup @bind-SelectedOption="@_confirmSelectedOption">
            <MudRadio Color="Color.Primary" Option="@("confirmed")" @onclick="@(() => _confirmSelectedValidateMessage = null)">Đồng ý</MudRadio>
            <MudRadio Color="Color.Primary" Option="@("unconfirmed")" @onclick="@(() => _confirmSelectedValidateMessage = null)">Không đồng ý</MudRadio>
        </MudRadioGroup>
    </div>
    <div class="mt-5 mt-md-3">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SubmitComment">Gửi</MudButton>
    </div>
</div>
<p class="mud-input-helper-text mud-input-error">@_confirmSelectedValidateMessage</p>

@code{
    [Parameter] public int OrderId { get; set; }
    [Parameter] public EventCallback<Tuple<bool, OrderComment>> ConfirmOrderDetailAndCommentChange { get; set; }
    [CascadingParameter] Employee CascadedEmployee { get; set; }

    OrderComment orderComment;

    string _confirmSelectedOption { get; set; }
    string _confirmSelectedValidateMessage = "";
    string _comment { get; set; }

    void SubmitComment()
    {
        if (String.IsNullOrEmpty(_confirmSelectedOption))
        {
            _confirmSelectedValidateMessage = "Vui lòng chọn \"Đồng ý\" hoặc \"Không đồng ý\"";
        }
        else
        {
            orderComment = new();
            orderComment.OrderId = OrderId;
            orderComment.EmployeeId = CascadedEmployee.Id;
            orderComment.Comment = _comment;

            if (_confirmSelectedOption == "confirmed")
            {
                orderComment.IsConfirmed = true;
                ConfirmOrderDetailAndCommentChange.InvokeAsync(new Tuple<bool, OrderComment>(true, orderComment));
            }
            else
            {
                orderComment.IsConfirmed = false;
                ConfirmOrderDetailAndCommentChange.InvokeAsync(new Tuple<bool, OrderComment>(false, orderComment));
            }
            _comment = null;
        }
    }
}