﻿@inject ConfigServices ConfigServices
@inject ProjectServices ProjectServices
@inject EmployeeServices EmployeeServices
@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject OrderServices OrderServices
@inject IDialogService Dialog
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Utilities Utilities

@using maicoCRM.Component.Order.Modal
@using System.Globalization

<MudItem Style="display: flex; justify-content: center; align-items: center;" Class="mt-2 mb-10">
    <MudText Align="Align.Center" Typo="Typo.h5"><b>@(Order.Id == 0 ? "Tạo" : "Thông tin") đơn hàng</b></MudText>
    @if (Order.IsActive == false)
    {
        <MudChip Color="Color.Error" Label="true" Class="ml-2">Đã hủy</MudChip>
    }
</MudItem>

<MudGrid>
    <MudItem Style="display: flex; flex-direction: column;" xs="12" md="5">
        <MudText><b>Mã đơn hàng:</b><span> DH</span>@Order.Id</MudText>
        <MudText Class="mt-1"><b class="mr-1">Mã căn hộ:</b>@Order.ApartmentCode</MudText>
    </MudItem>
    <MudItem xs="12" md="7">
        <MudGrid>
            <MudItem xs="12" md="3" Class="d-flex align-center py-md-3 py-0">
                <MudText><b>Thời gian tạo:</b></MudText>
            </MudItem>
            <MudItem xs="12" md="4" Class="py-md-3 py-0">
                <MudDatePicker Label="Ngày tạo"
                               Date="@_dateOrder"
                               DateChanged="@((e) => {
                                              _dateOrder = e;
                                              if(Order.CreatedAt.Date != _dateOrder)
                                                  _isDateTimeChange = false;
                                              else
                                                   _isDateTimeChange = true;
                                          })"
                               Culture="@CultureInfo.GetCultureInfo("vi-VN")"
                               DateFormat="dd/MM/yyyy" />
            </MudItem>
            <MudItem xs="9" md="3">
                <MudTimePicker Label="Giờ tạo"
                               Time="@_timeOrder"
                               TimeChanged="@((e) => {
                                              _timeOrder = e;
                                              var tmp = new TimeSpan(Order.CreatedAt.Hour, Order.CreatedAt.Minute, Order.CreatedAt.Second);
                                              if(tmp != _timeOrder)
                                                  _isDateTimeChange = false;
                                               else
                                                   _isDateTimeChange = true;
                                          })" />
            </MudItem>
            <MudItem xs="3" md="2" Style="display: flex; align-items: center;">
                <MudIconButton Color="Color.Success"
                               Icon="@Icons.Material.Filled.Check"
                               OnClick="DateTimeChange"
                               Disabled="_isDateTimeChange">
                </MudIconButton>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudDivider Class="mt-2 mb-2"></MudDivider>
<MudGrid>
    <MudItem xs="12" md="5" Class="pb-md-3 pb-0">
        <MudText><b>Loại hợp đồng:</b> @Order.ContractType</MudText>
    </MudItem>
    <MudItem xs="12" md="7">
        <MudText><b>Người tạo:</b> @Order.EmployeeNavigation.Name</MudText>
    </MudItem>
</MudGrid>
<MudDivider Class="mt-2 mb-2"></MudDivider>
<MudGrid>
    <MudItem xs="12" md="5" Class="pb-md-3 pb-0">
        <MudText>
            <b>Khách hàng:</b>&nbsp;
            <MudLink Href="@($"khachhang/khaithac/{Order.CustomerNavigation.Id}")">
                @Order.CustomerNavigation.Name
            </MudLink>
        </MudText>
    </MudItem>
    <MudItem xs="12" md="7">
        <MudText><b>Dự án:</b> @Order.ProjectNavigation.Name</MudText>
    </MudItem>
</MudGrid>
<MudDivider Class="mt-2 mb-2"></MudDivider>
<MudGrid>
    <MudItem xs="12" md="5">
        <MudGrid>
            <MudItem xs="12" md="3" Class="d-flex align-center pb-md-3 pb-0"><MudText Inline="true"><b>Giá trị đơn: </b></MudText></MudItem>
            <MudItem xs="12" md="9" Class="py-md-3 py-0">
                @if (_isAdmin && !Order.IsConfirmed)
                {
                    <MudItem Class="py-md-3 py-0" Style="display: flex; align-content: center;">
                        <MudItem xs="12" md="10" Class="py-md-3 py-0">
                            <MCGCurrencyField Label="Tổng cộng phí"
                                              Value="@_brokerageFee"
                                              ValueChanged="@((e) => {
                                                                _brokerageFee = e;
                                                                if (_brokerageFee != Order.BrokerageFee)
                                                                    _isFeeChange = false;
                                                                else
                                                                    _isFeeChange = true;
                                                            })" />
                            <MCGCurrencyField Label="Phí Hồ Sơ"
                                              Value="@_legalReportsFee"
                                              ValueChanged="@((e) => {
                                                                _legalReportsFee = e;
                                                                if (_legalReportsFee != Order.LegalReportsFee)
                                                                    _isFeeChange = false;
                                                                else
                                                                    _isFeeChange = true;
                                                            })" />
                        </MudItem>

                        <MudItem xs="12" md="2" Class="d-flex align-center">
                            <MudIconButton Color="Color.Success"
                                           Icon="@Icons.Material.Filled.Check"
                                           OnClick="FeeChange"
                                           Disabled="_isFeeChange"
                                           Class="mt-2">
                            </MudIconButton>
                        </MudItem>
                    </MudItem>
                }
                else
                {
                    <MudField Variant="Variant.Text" Label="Phí Môi Giới">
                        @Order.BrokerageFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
                    </MudField>
                    <MudField Variant="Variant.Text" Label="Phí Hồ Sơ">
                        @Order.LegalReportsFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
                    </MudField>
                }
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem Class="d-flex align-center" xs="12" md="7">
        <MudGrid>
            <MudItem Class="d-flex align-center pb-md-3 pb-0" xs="12" md="3">
                <MudText Inline="true"><b>Phí đã nhận: </b></MudText>
            </MudItem>
            <MudItem xs="12" md="5" Class="py-md-3 py-0">
                @if (Order.OrderReceivedFees.Count() == 0)
                {
                    <MudText Color="Color.Error">Chưa nhận phí</MudText>
                }
                else
                {
                    <MudField Variant="Variant.Text"
                              Label="@("Còn thiếu: " + (Order.BrokerageFee - Order.OrderReceivedFees.Sum(x => x.ReceivedFee)).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))">
                        @Order.OrderReceivedFees.Sum(x => x.ReceivedFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
                    </MudField>
                }
            </MudItem>
            <MudItem xs="12" md="4" Class="d-flex align-center">
                <MudButton OnClick="UpdateReceivedFee" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">
                    Cập nhật phí
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudDivider Class="mt-2 mb-2"></MudDivider>


@code{
    [Parameter] public Order Order { get; set; }
    [Parameter] public OrderReceivedFee OrderReceivedFee { get; set; }
    [Parameter] public EventCallback<Tuple<DateTime?, TimeSpan?>> DateTimeChanged { get; set; }
    [Parameter] public EventCallback<Tuple<double?, double?>> FeeChanged { get; set; }
    [CascadingParameter] Employee CascadedEmployee { get; set; }

    bool _isAdmin = false;

    Config _config = new();
    List<Project> _listProject = new();
    List<Employee> _listEmployee;

    DateTime? _dateOrder;
    TimeSpan? _timeOrder;

    double _brokerageFee;
    double _legalReportsFee;

    bool _isDateTimeChange = true;
    bool _isFeeChange = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }

        _config = ConfigServices.GetAll();

        var listProject = ProjectServices.GetAllAsync();
        var listEmployee = EmployeeServices.GetAllAsync();

        await Task.WhenAll(listProject, listEmployee);

        _listProject = listProject.Result;
        _listEmployee = listEmployee.Result;

        _dateOrder = Order.CreatedAt.Date;
        _timeOrder = new TimeSpan(Order.CreatedAt.Hour, Order.CreatedAt.Minute, Order.CreatedAt.Second);

        _brokerageFee = Order.BrokerageFee;
        _legalReportsFee = Order.LegalReportsFee;
    }

    async Task<IEnumerable<Project>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listProject;
        }
        return _listProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    async Task UpdateReceivedFee()
    {
        if (Order.OrderReceivedFees.Count() > 0)
        {
            OrderReceivedFee = new();
            OrderReceivedFee.OrderId = Order.Id; // gán để kiểm tra biến styleScrollDialog trong UpdateRceivedFeeModal.razor
        }

        var parameters = new DialogParameters();
        parameters.Add("Order", Order);
        parameters.Add("OrderReceivedFee", OrderReceivedFee);
        parameters.Add("ListEmployee", _listEmployee);

        var dialog = Dialog.Show<UpdateReceivedFeeModal>("Cập nhật phí đã nhận", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OrderReceivedFee = (OrderReceivedFee)result.Data;

            OrderReceivedFee.CollecterId = OrderReceivedFee.CollecterNavigation.Id;
            OrderReceivedFee.CollecterNavigation = null;

            OrderReceivedFee.ReceiverId = OrderReceivedFee.ReceiverNavigation.Id;
            OrderReceivedFee.ReceiverNavigation = null;

            OrderReceivedFee.OrderId = Order.Id;
            OrderReceivedFee.OrderNavigation = null;

            OrderReceivedFee.CreaterId = CascadedEmployee.Id;
            OrderReceivedFee.CreaterNavigation = null;

            DateTime now = Utilities.GetCurrentDateTime();
            OrderReceivedFee.CreatedAt = now;

            OrderReceivedFeeServices.Add(OrderReceivedFee);
            Snackbar.Add("Cập nhật phí đơn hàng thành công", Severity.Success);
            Order = OrderServices.GetOrderById(Order.Id);
        }
    }
    void DateTimeChange()
    {
        DateTimeChanged.InvokeAsync(new Tuple<DateTime?, TimeSpan?>(_dateOrder, _timeOrder));
        _isDateTimeChange = true;
    }
    void FeeChange()
    {
        FeeChanged.InvokeAsync(new Tuple<double?, double?>(_brokerageFee, _legalReportsFee));
        _isFeeChange = true;
    }
}
