﻿@using LinqKit
@using maicoCRM.Component.Order.ViewOrder.Message

<div class="d-flex flex-row-reverse mt-3">
    <MudChipSet SelectedChips="_selectedFilter" SelectedChipsChanged="HandleChipSelected" Filter="true">
        <MudChip Text="comment">Bình luận</MudChip>
        <MudChip Text="logs">Lịch sử chỉnh sửa</MudChip>
    </MudChipSet>
</div>

@foreach (var item in Logs.OrderByDescending(x => x.Item1))
{
    if (item.Item2.GetType().Name == "OrderComment")
    {
        <OrderCommentMessage @key="item" OrderComment="(OrderComment)item.Item2"></OrderCommentMessage>
    }
    else
    {
        <OrderDetailMessage @key="item" UpdateOrderLog="(UpdateOrderLog)item.Item2"></OrderDetailMessage>
    }
    <MudDivider DividerType="DividerType.Middle" Class="my-1"></MudDivider>
}

@code {
    [Parameter] public List<Tuple<DateTime, object>> Logs { get; set; }

    MudChip[] _selectedFilter;
    List<Tuple<DateTime, object>> _tempLogs;
    ExpressionStarter<Tuple<DateTime, object>> _filterCondition = PredicateBuilder.New<Tuple<DateTime, object>>();

    protected override void OnInitialized()
    {
        _tempLogs = Logs;
    }
    void HandleChipSelected(MudChip[] chips)
    {
        Logs = _tempLogs;
        _selectedFilter = chips;
        if (_selectedFilter != null && _selectedFilter.Count() != 0)
        {
            foreach (var item in _selectedFilter)
            {
                switch (item.Text)
                {
                    case "comment":
                        _filterCondition.Or(c => c.Item2.GetType().Name == "OrderComment");
                        break;
                    case "logs":
                        _filterCondition.Or(c => c.Item2.GetType().Name == "UpdateOrderLog");
                        break;
                    default:
                        break;
                }
            }
            Logs = Logs.OrderByDescending(x => x.Item1).Where(_filterCondition).ToList();
            _filterCondition = PredicateBuilder.New<Tuple<DateTime, object>>();
        }
    }
}