﻿@page "/khachhang/donhang/{OrderId:int}"
@inject OrderServices OrderServices
@inject ISnackbar Snackbar
@inject EmployeeServices EmployeeServices
@inject CustomerServices CustomerServices
@inject LegalRecordServices LegalRecordServices
@inject OrderCommentServices OrderCommentServices
@inject OrderDetailServices OrderDetailServices
@inject NavigationManager NavigationManager
@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject OrderJobTypeServices OrderJobTypeServices
@inject GoogleDriveServices DriveServices
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject Utilities Util
@inject GoogleDriveServices GoogleDriveServices
@inject IJSRuntime JSRuntime
@inject Utilities Utilities
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin,User")]

@using maicoCRM.Component.Order

<MudGrid>
    <MudItem xs="12" md="2" sm="2">
        @if (_customer == null)
        {
            <MudPaper Class="pa-10" Elevation="4">
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
            </MudPaper>
        }
        else
        {

            <MudPaper Elevation="4" Class="pa-3">
                <strong>Thông tin khách hàng</strong>
                <p>
                    Tên khách hàng:&nbsp;
                    <MudLink Href="@($"khachhang/khaithac/{_customer.Id}")">
                        @_customer.Name
                    </MudLink>
                </p>
                <p>Ngày tạo: <strong>@_customer.CreatedAt</strong></p>
                <p>Người tạo: <strong>@_customer.CreatorNavigation.Name</strong></p>
                <p>Mô tả nhu cầu: <strong>@_customer.Description</strong></p>
                <p>Nhóm: <strong>@_customer.ProjectNavigation.Name</strong></p>
                <p>Mua/Thuê: <strong>@_customer.Need</strong></p>
                <p>Người chăm: <strong>@_customer.CuratorNavigation.Name</strong></p>
            </MudPaper>

            <MudPaper Elevation="4" Class="pa-3 mt-5">
                <strong>Hình ảnh đơn hàng</strong>
                <div>
                    @if (_order.OrderImg != null) //check đk cho ĐH cũ
                    {
                        <DriveThumbnail ListPath="_singleImgOrderToList" Width="40" Classify="UploadClassify.OrderData" Id="CustomerId"></DriveThumbnail>
                    }
                </div>
            </MudPaper>
            @if ((_isAdmin || CascadedEmployee.DepartmentNavigation.Name == "Pháp Lý") && (_order.ContractType == "Mua" || _order.ContractType == "Làm hồ sơ"))
            {
                @if (_order.LegalRecord != null)
                {
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               FullWidth="true"
                               OnClick="HandleNavigationLegalPage"
                               Class="mt-2">
                        Hồ Sơ Pháp Lý
                    </MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               FullWidth="true"
                               OnClick="HandleCreateLegalPage"
                               Class="mt-2">
                        Tạo hồ sơ pháp lý
                    </MudButton>
                }
            }
        }
    </MudItem>
    <MudItem xs=12 md="10" sm="10">
        <MudPaper Class="pa-md-10 pa-3" Elevation="4">
            <EditForm id="test1" Model="@_order" Context="formContext" OnValidSubmit="UpdateOrder">
                <FluentValidationValidator />
                <OrderInformation Order="_order" OrderReceivedFee="_orderReceivedFee" DateTimeChanged="HandleDateTimeChange" FeeChanged="HandleFeeChanged"></OrderInformation>
                <DealInformation Order="_order" @ref="_dealInfor"
                                 ValidateChanged="e => _isButtonDisable = e" FormContext="formContext"></DealInformation>
                @if (!_order.IsConfirmed)
                {
                    <MudGrid Class="mt-3">
                        <MudItem xs="12" md="3">
                            <MudButton OnClick="@(()=> {
                                                          _order.OrderDetails.Add(new OrderDetail());
                                                          JSRuntime.InvokeVoidAsync("ScrollToLastItemDealInfor",
                                                          _order.OrderDetails.Count());
                                                        })"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       FullWidth="true">
                                Thêm người đóng góp
                            </MudButton>
                        </MudItem>
                        <MudHidden Breakpoint="Breakpoint.Xs">
                            <MudItem md="3"></MudItem>
                        </MudHidden>
                        <MudItem xs="12" md="2" Class="py-0 py-md-3">
                            @if (_isAdmin && _order.OrderDetails.Count() > 0 && _order.OrderDetails.Where(x => x.IsConfirmed == true).Count() == _order.OrderDetails.Count())
                            {
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           @onclick="ConfirmOrder"
                                           FullWidth="true">
                                    Xác nhận
                                </MudButton>
                            }
                        </MudItem>
                        <MudItem xs="6" md="2">
                            <MudButton Variant="Variant.Filled"
                                       @onclick="(() => { _order = OrderServices.GetOrderById(_order.Id); })"
                                       Color="Color.Primary"
                                       FullWidth="true">
                                Reset
                            </MudButton>
                        </MudItem>
                        <MudItem xs="6" md="2">
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="@_isButtonDisable"
                                       ButtonType="ButtonType.Submit"
                                       FullWidth="true">
                                Cập nhật
                            </MudButton>
                        </MudItem>
                    </MudGrid>
                }
                else
                {
                    <div class="d-flex justify-end py-2 px-1 mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-3" Disabled="true">Đã xác nhận</MudButton>
                    </div>
                }
            </EditForm>

            @if (!_isCommentConfirmed && _isCurrentEmployeeInDeal)
            {
                <ConfirmOrder OrderId="_order.Id"
                              ConfirmOrderDetailAndCommentChange="HandleConfirmOrderDetailAndComment">
                </ConfirmOrder>
            }
            <OrderLog Logs="_logs"></OrderLog>

        </MudPaper>
    </MudItem>
</MudGrid>
<MudScrollToTop>
    <MudFab Color="Color.Success" Icon="@Icons.Filled.KeyboardArrowUp" />
</MudScrollToTop>
<MudOverlay LightBackground="true" Visible="_isUpdating">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true"></MudProgressCircular>
</MudOverlay>
@code {
    [Parameter] public int OrderId { get; set; }
    [Parameter] public int CustomerId { get; set; }
    [CascadingParameter] Employee CascadedEmployee { get; set; }

    Customer _customer;
    Order _order = new();
    Order _oldOrder = new();
    OrderReceivedFee _orderReceivedFee = new();
    DealInformation _dealInfor;

    List<OrderComment> _listOrderComment;
    List<Tuple<DateTime, object>> _logs = new();

    // DriveThumbnail nhận list path mà dl đơn hàng dạng string
    List<string> _singleImgOrderToList = new();

    bool _isCommentConfirmed = false;
    bool _isCurrentEmployeeInDeal => _order.OrderDetails?.Any(c => c.EmployeeId == CascadedEmployee?.Id && c.OrderId != 0) ?? false;
    bool _isAdmin;
    bool _isButtonDisable = true;
    bool _isUpdating = false;
    string _imgOrderValidateMessage = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }

        _order = OrderServices.GetOrderById(OrderId);
        await GoogleDriveServices.PrepareFolderId(_order.CustomerId, UploadClassify.OrderData);
        //if (GoogleDriveService    .CustomerId != _order.CustomerId)
        //    await GoogleDriveServices.LoadIdFolder(_order.CustomerId);
        _oldOrder = OrderServices.GetOrderById(OrderId);
        // khởi tạo đơn hàng - dành cho trường hợp data các đơn hàng cũ chưa có Logs sẽ được tạo khi lần đầu vào đơn hàng
        if (_order.Logs == null)
        {
            _order.Logs = new();
            UpdateOrderLog updateOrderLog = CreateUpdateOrderLog(_order, "create");
            _order.Logs.Add(updateOrderLog);

            OrderServices.Update(_order);
            _order = OrderServices.GetOrderById(OrderId);
        }

        // DriveThumbnail nhận list path mà dl dạng string
        if (_order.OrderImg != null) //check đk cho ĐH cũ không có hình
            _singleImgOrderToList.Add(_order.OrderImg);


        _customer = CustomerServices.GetCustomerById(_order.CustomerId);
        _listOrderComment = _order.OrderComments;

        // Gán 2 list Logs order và cmt vào thành 1 list<Tuple> _logs để truyền vào OrderLog
        _order.Logs.ForEach(x => _logs.Add(new Tuple<DateTime, object>(x.Time, x)));
        _listOrderComment.ForEach(x => _logs.Add(new Tuple<DateTime, object>(x.CreatedAt, x)));

        _isCommentConfirmed = _order.OrderDetails
            .Where(x => x.EmployeeId == CascadedEmployee.Id)
            .Select(x => x.IsConfirmed)
            .FirstOrDefault();
    }

    UpdateOrderLog CreateUpdateOrderLog(Order order, string action) // Hàm tạo Order Logs
    {
        DateTime now = Utilities.GetCurrentDateTime();
        UpdateOrderLog updateOrderLog = new();
        updateOrderLog.Time = now;
        updateOrderLog.UpdaterId = CascadedEmployee.Id;
        updateOrderLog.Name = CascadedEmployee.Name;

        if (action == "update")
            updateOrderLog.Content = "<p>Thông tin chia deal được cập nhật thành: </p>";
        else
            updateOrderLog.Content = $"<p><strong>Khởi tạo đơn hàng</strong> - Thông tin chia deal: </p>";

        foreach (var orderDetail in order.OrderDetails)
        {
            updateOrderLog.Content += $@"
<p class='pl-5'>Người tham gia: <strong>{orderDetail.EmployeeNavigation.Name}</strong> -
Tổng phần trăm: <strong>{ orderDetail.OrderJobTypes.Sum(x => x.PercentContribute) }%</strong> -
Loại công việc: <strong>";
            orderDetail.EmployeeNavigation = null;
            foreach (var jobType in orderDetail.OrderJobTypes)
            {
                updateOrderLog.Content += $"{ jobType.Type }: { jobType.PercentContribute }%; ";
            }
            updateOrderLog.Content += "</strong></p>";
        }
        return updateOrderLog;
    }

    void UpdateOrder()
    {
        if (Util.IsEqual(_oldOrder.OrderDetails.OrderBy(x => x.EmployeeId).ToList(), _order.OrderDetails.OrderBy(x => x.EmployeeId).ToList()))
        {
            Snackbar.Add("Thông tin không có sự thay đổi", Severity.Warning);
            return;
        }
        _isUpdating = true;
        InvokeAsync(StateHasChanged);

        bool dbUpdateError = false; // Kiểm tra update có sinh lỗi để hiển thị thông báo
        _isCommentConfirmed = false;
        try
        {
            DateTime now = Utilities.GetCurrentDateTime();

            UpdateOrderLog updateOrderLog = CreateUpdateOrderLog(_order, "update");
            _order.Logs.Add(updateOrderLog);
            _logs.Add(new Tuple<DateTime, object>(now, updateOrderLog));

            // reset khi cập nhật lại ĐH
            List<OrderJobType> listOrderJobType = new();
            foreach (var orderDetail in _order.OrderDetails)
            {
                orderDetail.IsConfirmed = false;
                orderDetail.OrderJobTypes.ForEach(x =>
                {
                    x.OrderDetailId = orderDetail.Id;
                    listOrderJobType.Add(x);
                });
            }

            // OrderDetail
            OrderDetailServices.RemoveAllByOrderId(OrderId);
            _order.OrderDetails.ForEach(x => { x.OrderId = _order.Id; x.EmployeeNavigation = null; x.OrderNavigation = null; });
            OrderDetailServices.AddRange(_order.OrderDetails);

            // JobType
            listOrderJobType.ForEach(x => x.OrderDetailNavigation = null);
            OrderJobTypeServices.RemoveAllByOrder(_order);
            OrderJobTypeServices.AddRange(listOrderJobType);

            OrderServices.UpdateLog(OrderId, updateOrderLog);

            _oldOrder = OrderServices.GetOrderById(OrderId);
            _order = OrderServices.GetOrderById(OrderId);

        }
        catch (Microsoft.EntityFrameworkCore.DbUpdateException)
        {
            Snackbar.Add("Trùng dữ liệu!", Severity.Error);
            dbUpdateError = true;
        }
        if (!dbUpdateError)
        {
            Snackbar.Add("Cập nhật đơn hàng thành công", Severity.Success);
            _dealInfor.RemovedOrderDetails.RemoveAll(c => c.EmployeeId != 0);
        }
        _isUpdating = false;
    }

    void HandleConfirmOrderDetailAndComment(Tuple<bool, OrderComment> ConfirmAndComment)
    {
        DateTime now = Utilities.GetCurrentDateTime();

        if (ConfirmAndComment.Item1)
        {
            _isCommentConfirmed = true;
            OrderDetailServices.ConfirmOrder(OrderId, CascadedEmployee.Id);
            _order.OrderDetails.FirstOrDefault(x => x.EmployeeId == CascadedEmployee.Id).IsConfirmed = true;
        }

        OrderCommentServices.Add(ConfirmAndComment.Item2);

        _logs.Add(new Tuple<DateTime, object>(now, ConfirmAndComment.Item2));

        Snackbar.Add("Bình luận đã được gửi", Severity.Success);
    }


    void HandleDateTimeChange(Tuple<DateTime?, TimeSpan?> dateTimePicked)
    {
        _order.CreatedAt = dateTimePicked.Item1.Value + dateTimePicked.Item2.Value;

        DateTime now = Utilities.GetCurrentDateTime();
        UpdateOrderLog updateOrderLog = new();
        updateOrderLog.Time = now;
        updateOrderLog.UpdaterId = CascadedEmployee.Id;
        updateOrderLog.Name = CascadedEmployee.Name;
        updateOrderLog.Content = $"<p>Thời gian tạo thay đổi thành: <strong>{_order.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")}</strong></p>";

        _order.Logs.Add(updateOrderLog);
        _logs.Add(new Tuple<DateTime, object>(now, updateOrderLog));

        Snackbar.Add("Thay đổi thời gian tạo thành công", Severity.Success);

        OrderServices.UpdateOrderOnly(_order);
    }

    void HandleFeeChanged(Tuple<double?, double?> fee)
    {
        string contentEditBrokerageFee = "";
        string contentEditLegalReportsFee = "";

        if (_order.BrokerageFee != fee.Item1.Value)
        {
            _order.BrokerageFee = fee.Item1.Value;
            contentEditBrokerageFee = $"<p class='pl-5'><strong>Phí môi giới: {_order.BrokerageFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))}</strong></p>";
        }
        if (_order.LegalReportsFee != fee.Item2.Value)
        {
            _order.LegalReportsFee = fee.Item2.Value;
            contentEditLegalReportsFee = $"<p class='pl-5'><strong>Phí hồ sơ: {_order.LegalReportsFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))}</strong></p>";
        }

        DateTime now = Utilities.GetCurrentDateTime();
        UpdateOrderLog updateOrderLog = new();
        updateOrderLog.Time = now;
        updateOrderLog.UpdaterId = CascadedEmployee.Id;
        updateOrderLog.Name = CascadedEmployee.Name;
        updateOrderLog.Content = $"<p>Giá trị đơn thay đổi thành: {contentEditBrokerageFee} {contentEditLegalReportsFee}</p>";

        _order.Logs.Add(updateOrderLog);
        _logs.Add(new Tuple<DateTime, object>(now, updateOrderLog));

        Snackbar.Add("Thay đổi giá trị đơn thành công", Severity.Success);
        OrderServices.UpdateOrderOnly(_order);
    }

    async Task ConfirmOrder()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Bạn có chắc xác nhận đơn hàng!");
        parameters.Add("ButtonText", "Xác nhận");
        parameters.Add("Color", Color.Primary);
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = DialogService.Show<SimpleDialog>("Xác nhận đơn hàng", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            _order.IsConfirmed = true;
            OrderServices.Update(_order);
            Snackbar.Add("Xác nhận đơn hàng thành công", Severity.Success);
        }
    }

    async void HandleCreateLegalPage()
    {
        DateTime now = Utilities.GetCurrentDateTime();
        _orderReceivedFee.CreatedAt = now;
        LegalRecord legalRecord = new LegalRecord()
        {
            Progress = "Chưa bắt đầu",
            CreatedAt = now,
            OrderId = _order.Id
        };
        await LegalRecordServices.AddAsync(legalRecord);
        NavigationManager.NavigateTo($"khachhang/donhang/phaply/{legalRecord.Id}");
    }

    void HandleNavigationLegalPage()
    {
        NavigationManager.NavigateTo($"khachhang/donhang/phaply/{_order.LegalRecord.Id}");
    }
}
