﻿@page "/admin/chinhsuabangtin"
@inject IJSRuntime JSRuntime
@inject ConfigServices ConfigServices
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "Admin")]

<MudGrid Class="py-2" Style="height: 100%">
    <MudItem xs="12" md="6">
        @if (EditorEnabled)
        {
            <div id="toolbar">
                <span class="ql-formats">
                    <select class="ql-font">
                        <option selected=""></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected=""></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                    <select class="ql-align">
                        <option selected=""></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-image"></button>
                </span>
            </div>
        }
        <div @ref="@divEditorElement" style="height:500px" />
        <br />
        <div class="d-flex">
            <MudButton Color="Color.Primary" OnClick="HandlePostUpload">Đăng Lên Bảng Tin</MudButton>
            <MudButton OnClick="HandlePostCheck">Xem trước</MudButton>
        </div>
    </MudItem>
    <MudItem xs="12" md="6">
        <MudCard Style="min-height:100%" Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Align="Align.Center" Typo="Typo.h6">Bảng tin</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="ql-editor">
                @((MarkupString)content)
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code{
    ElementReference divEditorElement;
    Config Data;

    bool EditorEnabled = true;
    string content;

    async Task HandlePostUpload()
    {
        Data.NewFeed = await JSRuntime.InvokeAsync<string>(
            "QuillFunctions.getQuillHTML", divEditorElement);
        await ConfigServices.WriteToDiskAsync(Data, "NewFeed", null);

        await JSRuntime.InvokeVoidAsync(
            "QuillFunctions.deleteQuillContent", divEditorElement);
        Snackbar.Add("Đăng tin thành công!", Severity.Success);
    }
    async Task HandlePostCheck()
    {
        content = await JSRuntime.InvokeAsync<string>(
            "QuillFunctions.getQuillHTML", divEditorElement);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>(
                "QuillFunctions.createQuill", divEditorElement,"toolbar");
        }
    }
    protected override void OnInitialized()
    {
        Data = ConfigServices.GetAll();
    }
}