﻿@inject ConfigServices ConfigServices
@inject ProjectServices ProjectServices
@inject EmployeeServices EmployeeServices
@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject OrderServices OrderServices
@inject IDialogService Dialog
@inject ISnackbar Snackbar

@using maicoCRM.Component.Order.Modal
@using System.Globalization

<MudGrid>
    <MudItem xs="12" md="6">
        <MudGrid>
            <MudItem xs="3" Class="d-flex align-center py-2 px-1"><MudText Inline="true" Class="mx-2"><b>Mã căn hộ: </b></MudText></MudItem>
            <MudItem xs="9" Class="mb-6">
                <MudTextField Variant="Variant.Text" @bind-Value="@Order.ApartmentCode"></MudTextField>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" md="6"></MudItem>
    <MudItem xs="12" md="6">
        <MudGrid>
            <MudItem xs="3" Class="d-flex align-center py-2 px-1"><MudText Inline="true" Class="mx-2"><b>Giá trị đơn: </b></MudText></MudItem>
            <MudItem xs="9">
                <MCGCurrencyField Label="Tổng cộng phí" For="@(() => Order.BrokerageFee)"
                                    @bind-Value="Order.BrokerageFee" />
                <MCGCurrencyField Label="Phí hồ sơ" @bind-Value="Order.LegalReportsFee" />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" md="6" Style="display: flex; align-items: center;">
        <MudGrid>
            <MudItem xs="3" Class="d-flex align-center py-2 px-1"><MudText Inline="true" Class="mx-2"><b>Phí đã nhận: </b></MudText></MudItem>
            <MudItem xs="9" md="6" Class="d-flex align-center">
                <MudField Variant="Variant.Text"
                            Label="@("Còn thiếu: " + (Order.BrokerageFee - OrderReceivedFee.ReceivedFee).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))">
                    @OrderReceivedFee.ReceivedFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))
                </MudField>
            </MudItem>
            <MudItem xs="12" md="3" Style="display:flex; align-items:center;">
                <MudButton OnClick="CreateReceivedFee" Variant="Variant.Filled" Color="Color.Primary" Class="mr-3" FullWidth="true">
                    Tạo phí
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" md="6">
        <MudSelect Label="Loại hợp đồng"
                   @bind-Value="Order.ContractType"
                   For="@(() => Order.ContractType)"
                   OffsetY="true">
            @foreach (var item in _config.Needs)
            {
                <MudSelectItem @key="item" Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" md="6">
        <MudAutocomplete @bind-Value="Order.ProjectNavigation" T="Project"
                         @bind-Text="@_projectAutoCmpText" CoerceText="false"
                         @onclick="@(() => _projectAutoCmpText = null)"
                         @onfocusout="@(() => _projectAutoCmpText = Order.ProjectNavigation?.Name)"
                         Label="Dự án"
                         SearchFunc="ProjectAutoCompSearch"
                         ToStringFunc="@((Project e) => e == null ? null: $"{e.Name}")"
                         Variant="Variant.Text"
                         For="@(() => Order.ProjectNavigation)">
        </MudAutocomplete>
    </MudItem>
    <MudItem xs="12" md="6">
        Đơn Đầu Tư
        <MudCheckBox @bind-Checked="@Order.IsInvestmentOrder" Color="Color.Success"></MudCheckBox>
    </MudItem>
</MudGrid>

@code {
    [Parameter] public Order Order { get; set; }
    [Parameter] public OrderReceivedFee OrderReceivedFee { get; set; }
    [CascadingParameter] Employee CascadedEmployee { get; set; }
    Config _config = new();
    List<Project> _listProject = new();
    List<Employee> _listEmployee;

    DateTime? _dateOrder;
    TimeSpan? _timeOrder;

    string _projectAutoCmpText;

    protected override async Task OnInitializedAsync()
    {
        _config = ConfigServices.GetAll();

        var listProject = ProjectServices.GetAllAsync();
        var listEmployee = EmployeeServices.GetAllAsync();

        await Task.WhenAll(listProject, listEmployee);

        _listProject = listProject.Result;
        _listEmployee = listEmployee.Result;

        _dateOrder = Order.CreatedAt.Date;
        _timeOrder = new TimeSpan(Order.CreatedAt.Hour, Order.CreatedAt.Minute, Order.CreatedAt.Second);
    }

    async Task<IEnumerable<Project>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listProject;
        }
        return _listProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    async Task CreateReceivedFee()
    {
        var parameters = new DialogParameters();
        parameters.Add("Order", Order);
        parameters.Add("OrderReceivedFee", OrderReceivedFee);
        parameters.Add("ListEmployee", _listEmployee);
        var dialog = Dialog.Show<UpdateReceivedFeeModal>("Cập nhật phí đã nhận", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            OrderReceivedFee = (OrderReceivedFee)result.Data;
        }
    }
}
