﻿@page "/khachhang/{CustomerId:int}/donhang/create"

@inject OrderServices OrderServices
@inject ISnackbar Snackbar
@inject EmployeeServices EmployeeServices
@inject CustomerServices CustomerServices
@inject OrderCommentServices OrderCommentServices
@inject OrderDetailServices OrderDetailServices
@inject NavigationManager NavigationManager
@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject GoogleDriveServices GoogleDriveServices
@inject IJSRuntime JSRuntime
@inject Utilities Utilities
@attribute [Authorize(Roles = "Admin,User")]

@implements IDisposable
@using maicoCRM.Component.Order.CreateOrder
@using maicoCRM.Component.Order

<MudGrid>
    <MudItem xs="12" md="2">
        @if (_customer == null)
        {
            <MudPaper Class="pa-10" Elevation="4">
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
                <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" />
            </MudPaper>
        }
        else
        {
            <MudPaper Elevation="4" Class="pa-3">
                <strong>Thông tin khách hàng</strong>
                <p>Tên khách hàng: <strong>@_customer.Name</strong></p>
                <p>Ngày tạo: <strong>@_customer.CreatedAt</strong></p>
                <p>Người tạo: <strong>@_customer.CreatorNavigation.Name</strong></p>
                <p>Mô tả nhu cầu: <strong>@_customer.Description</strong></p>
                <p>Nhóm: <strong>@_customer.ProjectNavigation.Name</strong></p>
                <p>Mua/Thuê: <strong>@_customer.Need</strong></p>
                <p>Người chăm: <strong>@_customer.CuratorNavigation.Name</strong></p>
            </MudPaper>
        }
    </MudItem>
    <MudItem xs="12" md="10">
        <MudPaper Class="pa-md-10 pa-3" Elevation="4">
            <EditForm id="test1" Model="@_order" Context="formContext" OnValidSubmit="CreatingOrder">
                <FluentValidationValidator />
                <BaseInformation Order="_order" OrderReceivedFee="_orderReceivedFee"></BaseInformation>
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Elevation="4" Class="mt-5 pa-3">
                            <strong>Hình ảnh đơn hàng</strong>
                            @if (_imgOrderValidateMessage != "")
                            {
                                <p class="mud-input-helper-text mud-input-error">@_imgOrderValidateMessage</p>
                            }
                            <div id="paste-block">
                                <MudGrid>
                                    <MudItem xs="12">
                                        <DriveUpload Id="CustomerId" Classify="UploadClassify.OrderData"
                                                     @ref="_driveUploadOrder"
                                                     Label="orderImg"
                                                     IsUploadChange="HandleImgOrderUpload">
                                        </DriveUpload>
                                    </MudItem>
                                </MudGrid>
                            </div>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                <DealInformation Order="_order" FormContext="formContext" ValidateChanged="e => _isButtonDisable = e"></DealInformation>
                <MudGrid Class="mt-6">
                    <MudItem xs="12" md="3">
                        <MudButton OnClick="@(()=> { _order.OrderDetails.Add(new OrderDetail()); JSRuntime.InvokeVoidAsync("ScrollToLastItemDealInfor", _order.OrderDetails.Count()); })"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth="true">
                            Thêm người đóng góp
                        </MudButton>
                    </MudItem>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="false">
                        <MudItem md="6"></MudItem>
                    </MudHidden>
                    <MudItem xs="12" md="3">
                        <div class="d-md-flex justify-md-end">
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="ml-auto"
                                       ButtonType="ButtonType.Submit"
                                       Disabled="_isButtonDisable"
                                       FullWidth="true">
                                Tạo đơn hàng
                            </MudButton>
                        </div>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>
<MudOverlay LightBackground="true" Visible="_isOrderCreating">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true"></MudProgressCircular>
</MudOverlay>

@code {
    [Parameter] public int CustomerId { get; set; }
    [CascadingParameter] Employee CascadedEmployee { get; set; }

    Customer _customer;
    Order _order = new();
    OrderReceivedFee _orderReceivedFee = new();
    DriveUpload _driveUploadOrder;
    List<Tuple<DateTime, object>> _logs = new();

    bool _isOrderCreating;
    bool _isOrderCreated;
    bool _isButtonDisable = false;
    int _countImgOrderUpload = 0;
    string _imgOrderValidateMessage = "";

    protected override async Task OnInitializedAsync()
    {
        _customer = CustomerServices.GetCustomerById(CustomerId);
        _order.CustomerId = CustomerId;
        await GoogleDriveServices.PrepareFolderId(CustomerId, UploadClassify.OrderData);
    }

    UpdateOrderLog CreateUpdateOrderLog(Order order, string action) // Hàm tạo Order Logs
    {
        DateTime now = Utilities.GetCurrentDateTime();
        UpdateOrderLog updateOrderLog = new();
        updateOrderLog.Time = now;
        updateOrderLog.UpdaterId = CascadedEmployee.Id;
        updateOrderLog.Name = CascadedEmployee.Name;

        if (action == "update")
            updateOrderLog.Content = "<p>Thông tin chia deal được cập nhật thành: </p>";
        else
            updateOrderLog.Content = $"<p><strong>Khởi tạo đơn hàng</strong> - Thông tin chia deal: </p>";

        foreach (var orderDetail in order.OrderDetails)
        {
            updateOrderLog.Content += $@"
    <p class='pl-5'>Người tham gia: <strong>{orderDetail.EmployeeNavigation.Name}</strong> -
    Tổng phần trăm: <strong>{ orderDetail.OrderJobTypes.Sum(x => x.PercentContribute) }%</strong> -
    Loại công việc: <strong>";
            orderDetail.EmployeeNavigation = null;
            foreach (var jobType in orderDetail.OrderJobTypes)
            {
                updateOrderLog.Content += $"{ jobType.Type }: { jobType.PercentContribute }%; ";
            }
            updateOrderLog.Content += "</strong></p>";
        }
        return updateOrderLog;
    }
    async Task CreatingOrder()
    {
        _isOrderCreating = true;
        await InvokeAsync(StateHasChanged);

        if (string.IsNullOrEmpty(_order.ApartmentCode))
        {
            Snackbar.Add("Mã căn hộ không được trống", Severity.Error);
            _isOrderCreating = false;
            return;
        }

        string dbUpdateError = "";
        try
        {
            if (_countImgOrderUpload == 1) // kiểm tra số lượng file khi bấm tạo
            {
                await _driveUploadOrder.UploadAsync();

                if (_driveUploadOrder.IsUploadComplete) // check upload error: true when upload success; false when upload failed
                {
                    _order.CreatorId = CascadedEmployee.Id;

                    _order.Logs.Add(CreateUpdateOrderLog(_order, "create"));

                    _order.OrderDetails.ForEach(c =>
                    {
                        c.EmployeeNavigation = null;
                    });

                    _order.ProjectId = _order.ProjectNavigation.Id;
                    _order.ProjectNavigation = null;

                    _order.OrderImg = _driveUploadOrder.ResultPath[0];

                    // OrderReceivedFee
                    if (_orderReceivedFee.ReceivedFee != 0)
                    {
                        DateTime now = Utilities.GetCurrentDateTime();
                        _orderReceivedFee.CreatedAt = now;

                        _orderReceivedFee.CollecterId = _orderReceivedFee.CollecterNavigation != null ? _orderReceivedFee.CollecterNavigation.Id : 0;
                        _orderReceivedFee.CollecterNavigation = null;

                        _orderReceivedFee.ReceiverId = _orderReceivedFee.ReceiverNavigation != null ? _orderReceivedFee.ReceiverNavigation.Id : 0;
                        _orderReceivedFee.ReceiverNavigation = null;

                        _orderReceivedFee.CreaterId = CascadedEmployee.Id;

                        _order.OrderReceivedFees.Add(_orderReceivedFee);
                    }

                    await OrderServices.AddAsync(_order);
                    _isOrderCreated = true;
                }
                else
                    dbUpdateError = "Lỗi khi up hình ảnh";
            }
            else if (_countImgOrderUpload == 0)
                _imgOrderValidateMessage = "Vui lòng thêm hình ảnh đơn hàng";
            else
                _imgOrderValidateMessage = "Chỉ được thêm một hình ảnh";
        }
        catch (Microsoft.EntityFrameworkCore.DbUpdateException)
        {
            dbUpdateError = "Có 2 dòng trùng nhau.";
        }
        if (dbUpdateError == "" && _countImgOrderUpload == 1)
        {
            Snackbar.Add("Tạo đơn hàng thành công!", Severity.Success);
            NavigationManager.NavigateTo($"/khachhang/khaithac/{CustomerId}");
        }
        _isOrderCreating = false;
    }


    void HandleImgOrderUpload(int countFile) // check count file sau khi chọn file
    {
        if (countFile == 1)
            _imgOrderValidateMessage = "";
        else if (countFile == 0)
            _imgOrderValidateMessage = "Vui lòng thêm hình ảnh đơn hàng";
        else
            _imgOrderValidateMessage = "Chỉ được thêm một hình ảnh";
        _countImgOrderUpload = countFile;
    }
    void IDisposable.Dispose()
    {
        if (!_isOrderCreated && !string.IsNullOrEmpty(_orderReceivedFee.File))
        {
            _ = GoogleDriveServices.DeleteFile(_orderReceivedFee.File);
        }
    }
}
