﻿@inject ConfigServices ConfigServices
@inject TableStateContainerServices TableState
@inject EmployeeServices EmployeeServices
@inject ProjectServices ProjectServices
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime

<MudDialog >
    <DialogContent>
        <MudContainer Style="max-height: 550px; overflow-y: scroll;">
            <div class="mr-3" style="display: flex; flex-direction: column; margin-bottom:50px; margin-bottom: 200px;">
                <MudGrid>
                    <MudItem xs="2" Style="display: flex; align-items: center; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Loại Đơn Hàng:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        <MudSelect Value="@TableState.State["Order"].Need"
                                   ValueChanged="@(async (string e) => {  TableState.State["Order"].Need = e; })" OffsetY="true">
                            <MudSelectItem T="string" Value="null">Bỏ Lọc</MudSelectItem>
                            @foreach (var item in _configuration.Needs)
                            {
                                <MudSelectItem Value="item">@item</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="2" Style="display: flex; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Khoảng thời gian:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        @if (_isFilterDate)
                        {
                            <MudDateRangePicker Class="mt-4" PickerVariant="PickerVariant.Static" Label="Range picker format" DateFormat="dd/MM/yyyy" TitleDateFormat="dddd, dd. MMMM" @bind-DateRange="_dateRange" />
                            <MudItem Style="display: flex;">
                                <MudItem xs="6" Class="mr-1">
                                    <MudButton Variant="Variant.Outlined" FullWidth="true" Color="Color.Default" OnClick="@(() => _isFilterDate = false)">OK</MudButton>
                                </MudItem>
                                <MudItem xs="6" Class="ml-1">
                                    <MudButton Variant="Variant.Outlined" FullWidth="true" Color="Color.Error" OnClick="@(() => { _dateRange = null; _isFilterDate = false; })">Bỏ chọn</MudButton>
                                </MudItem>
                            </MudItem>
                        }
                        else
                        {
                            <MudGrid Class="mt-4" Style="display: flex; justify-content: space-between;">
                                <MudItem xs="10">
                                    <MudButton Variant="Variant.Outlined" OnClick="@(() => _isFilterDate = true)" Style="display: flex; justify-content: left;" FullWidth="true">
                                        <MudText Typo="Typo.body1">
                                            @(_dateRange != null? $"{_dateRange.Start.Value.Day}/{_dateRange.Start.Value.Month}/{_dateRange.Start.Value.Year} -> {_dateRange.End.Value.Day}/{_dateRange.End.Value.Month}/{_dateRange.End.Value.Year}"  : "Toàn thời gian")
                                        </MudText>
                                    </MudButton>
                                </MudItem>

                                <MudItem xs="2">
                                    <MudButton Variant="Variant.Outlined" Disabled="@(_dateRange == null ? true : false)" Style="display: inline-flex;" Color="Color.Error" OnClick="@(() => { _dateRange = null;})" FullWidth="true">
                                        Bỏ chọn
                                    </MudButton>
                                </MudItem>
                            </MudGrid>
                        }
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="2" Style="display: flex; align-items: center; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Người Tham Gia:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        <MudAutocomplete Value="_employee" ValueChanged="@((string e) => {if(e != null) _employee = e; TableState.State["Order"].Employee = ListEmployee.FirstOrDefault(c => c.Name == e).Id; })"
                                         CoerceText="false" @bind-Text="@_employeeAutoCmpText"
                                         @onclick="@(() => _employeeAutoCmpText = null)" @onfocusout="@(() => _employeeAutoCmpText = _employee)"
                                         SearchFunc="EmployeeAutoCompSearch">
                        </MudAutocomplete>
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="2" Style="display: flex; align-items: center; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Dự Án:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        <MudAutocomplete Value="_project"
                                         ValueChanged="@(async (string e) => { if(e != null) await HandleProjectChange(e); })"
                                         @bind-Text="@_projectAutoCmpText" CoerceText="false" @onclick="@(() => _projectAutoCmpText = null)"
                                         @onfocusout="@(() => _projectAutoCmpText = _project)" SearchFunc="ProjectAutoCompSearch">
                        </MudAutocomplete>
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="2" Style="display: flex; align-items: center; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Tình Trạng:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        <MudSelect T="bool?" Value="@TableState.State["Order"].IsComfirm" ValueChanged="@((bool? e) => {
                                                   TableState.State["Order"].IsComfirm = e;
                                               })" OffsetY="true">
                            <MudSelectItem T="bool?" Value="null">Bỏ Lọc</MudSelectItem>
                            <MudSelectItem T="bool?" Value="false">Chưa Xác Nhận</MudSelectItem>
                            <MudSelectItem T="bool?" Value="true">Đã Xác Nhận</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="2" Style="display: flex; align-items: center; padding-top: 33px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Nguồn</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="10">
                        <MudSelect T="string" Value="@TableState.State["Order"].Source" ValueChanged="@((string? e) => {
                                                   TableState.State["Order"].Source = e;
                                               })" OffsetY="true">
                            <MudSelectItem T="string" Value="null">Bỏ Lọc</MudSelectItem>
                            @foreach (var item in ConfigServices.GetAll().MarketingSources)
                            {
                                <MudSelectItem T="string" Value="@item">@item</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
            </div>
        </MudContainer>
        
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Variant="Variant.Filled">Đồng ý</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    List<Employee> ListEmployee = new();
    List<Project> ListProject = new();

    bool _isFilterDate = false;
    Config _configuration;
    string _employee;
    string _employeeAutoCmpText;

    string _project;
    string _projectAutoCmpText;

    DateRange _dateRange = new DateRange(DateTime.Now.Date, DateTime.Now.AddDays(5).Date);

    protected override async Task OnInitializedAsync()
    {
        _configuration = ConfigServices.GetAll();

        ListEmployee = EmployeeServices.GetAll();
        if (!TableState.State.ContainsKey("Order"))
        {
            TableState.CreateTableData("Order");
        }
        ListProject = ProjectServices.GetAll();
        ListEmployee.Insert(0, new Employee() { Name = "Bỏ Lọc" });
        ListProject.Insert(0, new Project() { Name = "Bỏ Lọc" });

        _employee = TableState.State["Order"].Employee.HasValue ? ListEmployee.FirstOrDefault(c => c.Id ==
        TableState.State["Order"].Employee).Name : null;
        _employeeAutoCmpText = _employee;

        _project = TableState.State["Order"].ProjectId.HasValue ? ListProject.FirstOrDefault(c => c.Id ==
        TableState.State["Order"].ProjectId).Name : null;
        _projectAutoCmpText = _project;

        _dateRange = TableState.State["Order"].DateRange;

        await InvokeAsync(StateHasChanged);
    }

    void Submit()
    {
        TableState.State["Order"].DateRange = _dateRange;
        MudDialog.Close(DialogResult.Ok(""));
    }
    void Cancel() => MudDialog.Cancel();

    async Task<IEnumerable<string>> EmployeeAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (string.IsNullOrEmpty(value))
        {
            return ListEmployee.Select(c => c.Name);
        }
        return ListEmployee.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }

    async Task HandleProjectChange(string e)
    {
        await Task.Delay(1);
        _project = e;
        TableState.State["Order"].ProjectId = ListProject.FirstOrDefault(c => c.Name == e).Id;
    }
    async Task<IEnumerable<string>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return ListProject.Select(c => c.Name);
        }
        return ListProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }
}
