﻿@inject ISnackbar Snackbar
<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                Từ:
                <MudDatePicker Label="Ngày bắt đầu" @bind-Date="_dateStart" DisableToolbar="true" HelperText="No header" />
            </MudItem>
            <MudItem xs="12">
                Đến:
                <MudDatePicker Label="Ngày kết thúc" @bind-Date="_dateEnd" DisableToolbar="true" HelperText="No header" />
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="HandleSubmit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public List<Order> ListOrders { get; set; }

    public List<DateTime> _listDateCreates = new();

    DateTime? _dateStart, _dateEnd;

    void HandleSubmit()
    {
        if (_dateStart < _dateEnd && _dateStart.Value.Day < _dateEnd.Value.Day)
        {
            _listDateCreates = ListOrders.Where(x => x.CreatedAt >= _dateStart).Select(x => x.CreatedAt).ToList();
            Console.WriteLine("hhhhhhhhhhhh: " + _listDateCreates.Count);
            MudDialog.Close(DialogResult.Ok(_listDateCreates));
        }
        else
        {
            Snackbar.Add("Ngày bắt đầu không được lớn hơn hoặc bằng ngày kết thúc", Severity.Error);
        }

    }
    void Cancel() => MudDialog.Cancel();

    protected override void OnInitialized()
    {
        _dateStart = ListOrders.OrderBy(x => x.CreatedAt).FirstOrDefault().CreatedAt;
        _dateEnd = ListOrders.OrderByDescending(x => x.CreatedAt).FirstOrDefault().CreatedAt;
    }
}

