﻿@inject ConfigServices ConfigServices
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime

<MudDialog id="jobTypeModal" Style="max-height: 500px; overflow-y: scroll">
    <DialogContent>

        @foreach (var jobType in ListJobType)
        {
            <MudGrid>
                <MudItem xs="12" md="6">
                    @* MinimizeModal function Task delay 100ms **@
                    <MudAutocomplete Value="jobType.Type"
                                     ValueChanged="@((string e) => {
                                                         jobType.Type = e;
                                                         _listJobTypeTemp[jobType.Type] = e;
                                                     })"
                                     CoerceText="false"
                                     Label="Loại công việc"
                                     SearchFunc="JobTypeAutoCompSearch"
                                     ToStringFunc="@((string e) => e == null ? null: $"{e}")"
                                     @bind-Text="@(_listJobTypeTemp[jobType.Type])"
                                     @onclick="@(async () => { 
                                                     _listJobTypeTemp[jobType.Type] = null;  
                                                     await JSRuntime.InvokeVoidAsync("ScrollModalToBottom", ListJobType.Count, ListJobType.IndexOf(jobType), 350); 
                                                 })"
                                     @onfocusout="@(async () => { 
                                                        _listJobTypeTemp[jobType.Type] = jobType?.Type; 
                                                        await JSRuntime.InvokeVoidAsync("removePropertyByClassName", new List<string>(){"height"}, new List<string>(){"mud-dialog-content"});
                                                    })"
                                     Variant="Variant.Text"
                                     For="@(() => jobType.Type)"
                                     MaxItems="null">
                    </MudAutocomplete>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField Value="jobType.PercentContribute"
                                  ValueChanged="@((double e) => jobType.PercentContribute = e)"
                                  Label="Phần trăm"
                                  For="@(() => jobType.PercentContribute)"
                                  Variant="Variant.Text">
                    </MudTextField>

                </MudItem>
                <MudItem xs="12" md="2" Class="d-sm-flex justify-sm-center" Style="align-items: center;">
                    <MudButton Color="Color.Error"
                               @onclick="@(() => ListJobType.Remove(jobType))"
                               Variant="Variant.Filled"
                               FullWidth="true">
                        Xoá
                    </MudButton>
                </MudItem>
            </MudGrid>
        }
        <MudGrid>
            <MudItem xs="12" md="3">
                <MudButton Color="Color.Primary"
                           Class="mt-5"
                           @onclick="@(() => ListJobType.Add(new OrderJobType() { Type = "" }))"
                           Variant="Variant.Filled"
                           FullWidth="true"
                           Disabled="@_isJobTypeButtonDisable">
                    Thêm loại công việc
                </MudButton>
            </MudItem>
        </MudGrid>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Variant="Variant.Filled">Cập nhật</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public List<OrderJobType> ListJobType { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    Dictionary<string, string> _listJobTypeTemp = new();
    Config _config { get; set; }

    bool _isJobTypeButtonDisable => ListJobType.Count < 10 ? false : true;

    void Submit()
    {
        if (ListJobType.Select(x => x.Type).Count() != ListJobType.Select(x => x.Type).Distinct().Count()) // Duplicate JobType
            Snackbar.Add("Không được chọn loại công việc trùng nhau", Severity.Error);
        else if (ListJobType.Where(x => x.Type == "").Count() > 0 || ListJobType.Where(x => x.PercentContribute <= 0).Count() > 0)
            Snackbar.Add("Không được bỏ trống dữ liệu hoặc nhập % là số âm ", Severity.Error);
        else
            MudDialog.Close(DialogResult.Ok(ListJobType));
    }
    void Cancel() => MudDialog.Cancel();

    protected override void OnInitialized()
    {
        _config = ConfigServices.GetAll();
        _listJobTypeTemp.Add("", "");
        ListJobType.ForEach(x => _listJobTypeTemp.Add(x.Type, x.Type));
    }

    async Task<IEnumerable<string>> JobTypeAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _config.JobTypes;
        }
        return _config.JobTypes.Where(e => e.Contains(value, StringComparison.OrdinalIgnoreCase));
    }
}
