﻿@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudDateRangePicker Label="Lọc ngày"
                            @bind-DateRange="DateRange"
                            PickerVariant="PickerVariant.Static">

        </MudDateRangePicker>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Dark" OnClick="() => MudDialog.Cancel()">Hủy</MudButton>
        <MudButton Color="Color.Success" OnClick="ChooseDateFilter">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public DateRange DateRange { get; set; }

    void ChooseDateFilter()
    {
        if (DateRange != null)
        {
            MudDialog.Close(DialogResult.Ok(DateRange));
            Snackbar.Add("Đã lọc", Severity.Success);
        }
        else
        {
            Snackbar.Add("Bạn chưa chọn thời gian!", Severity.Warning);
        }
    }
}
