﻿@inject OrderReceivedFeeServices OrderReceivedFeeServices
@inject GoogleDriveServices DriveServices
@inject ISnackbar Snackbar

@using System.Net
@using System.Text

<EditForm Model="@OrderReceivedFee" OnValidSubmit="Submit">
    <FluentValidationValidator />
    <MudDialog DisableSidePadding="true">
        <DialogContent>
            <MudContainer Style="@styleScrollDialog">
                <MudGrid>
                    <MudItem xs="12">
                        <MCGCurrencyField Value="OrderReceivedFee.ReceivedFee" ValueChanged="ReceivedFeeChange"
                                          Label="@("Còn thiếu: " + (Order.BrokerageFee - (Order.OrderReceivedFees.Sum(x => x.ReceivedFee) + OrderReceivedFee.ReceivedFee)).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN")))"
                                          Adornment="@Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                          For="@(() => OrderReceivedFee.ReceivedFee)" />
                    </MudItem>
                </MudGrid>
                <MudGrid class="pb-5">
                    <MudItem xs="6">
                        <MudAutocomplete Label="Người thu"
                                         @bind-Value="OrderReceivedFee.CollecterNavigation"
                                         SearchFunc="EmployeeAutoCompSearch"
                                         ToStringFunc="@((Employee e) => e == null ? null: $"{e.Name}")"
                                         @bind-Text="@(_tempCollecter)" CoerceText="false"
                                         @onclick="@(() => { _tempCollecter = null; })"
                                         @onfocusout="@(() => _tempCollecter = OrderReceivedFee.CollecterNavigation?.Name)"
                                         For="@(() => OrderReceivedFee.CollecterNavigation)"
                                         Style="margin-top:0px;"
                                         MaxItems="null">
                        </MudAutocomplete>
                    </MudItem>
                    <MudItem xs="6">
                        <MudAutocomplete Label="Người nhận"
                                         @bind-Value="OrderReceivedFee.ReceiverNavigation"
                                         SearchFunc="EmployeeAutoCompSearch"
                                         ToStringFunc="@((Employee e) => e == null ? null: $"{e.Name}")"
                                         @bind-Text="@(_tempReceiver)" CoerceText="false"
                                         @onclick="@(() => { _tempReceiver = null; })"
                                         @onfocusout="@(() => _tempReceiver = OrderReceivedFee.ReceiverNavigation?.Name)"
                                         For="@(() => OrderReceivedFee.ReceiverNavigation)"
                                         Style="margin-top:0px;"
                                         MaxItems="null">
                        </MudAutocomplete>
                    </MudItem>
                </MudGrid>


                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper Elevation="4" Class="mb-5 pa-3">
                            <strong>Hình ảnh phí đã nhận</strong>
                            @if (_imgOrderReceivedFeeValidateMessage != "")
                            {
                                <p class="mud-input-helper-text mud-input-error">@_imgOrderReceivedFeeValidateMessage</p>
                            }
                            <div id="paste-block">
                                <MudGrid>
                                    <MudItem xs="12">
                                        <DriveUpload Id="Order.CustomerId" Classify="UploadClassify.OrderData"
                                                     @ref="_driveUpload"
                                                     Label="orderReceivedFee"
                                                     IsUploadChange="HandleImgOrderReceivedFeeUpload">
                                        </DriveUpload>
                                    </MudItem>
                                </MudGrid>
                            </div>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                

                @if (Order.OrderReceivedFees.Count > 0)
                {
                    @foreach (var orderReceivedFee in Order.OrderReceivedFees.OrderByDescending(x => x.CreatedAt))
                    {
                        <div class="ml-2">
                            <MudGrid>
                                <MudItem xs="6">
                                    <div class="d-flex flex-wrap">
                                        <strong class="blue-text text-darken-4 mr-1">@orderReceivedFee.CreaterNavigation.Name</strong>
                                        <MCGTimePassing TimeValue="@orderReceivedFee.CreatedAt"></MCGTimePassing>
                                    </div>
                                    <p>Phí đã nhận: <strong>@orderReceivedFee.ReceivedFee.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</strong></p>
                                    <p>Người thu: <strong>@orderReceivedFee.CollecterNavigation.Name</strong></p>
                                    <p>Người nhận: <strong>@orderReceivedFee.ReceiverNavigation.Name</strong></p>
                                </MudItem>
                                <MudItem xs="6">
                                    @if (orderReceivedFee.FeeImg != null) //check đk cho ĐH cũ
                                    {
                                        List<string> _singleImgReceivedFeeToList = new();
                                        _singleImgReceivedFeeToList.Add(orderReceivedFee.FeeImg);
                                        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                                            <DriveThumbnail Id="Order.CustomerId" Classify="UploadClassify.OrderData" ListPath="_singleImgReceivedFeeToList" Width="50"></DriveThumbnail>
                                        </MudHidden>
                                        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                                            <DriveThumbnail Id="Order.CustomerId" Classify="UploadClassify.OrderData" ListPath="_singleImgReceivedFeeToList" Width="15"></DriveThumbnail>
                                        </MudHidden>
                                    }
                                </MudItem>
                            </MudGrid>
                        </div>
                        <MudDivider DividerType="DividerType.Middle" Class="my-1"></MudDivider>
                    }
                }
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            @if (Order.OrderReceivedFees.Sum(x => x.ReceivedFee) != Order.BrokerageFee || Order.Id == 0)
            {
                <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled">Cập nhật</MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Disabled="true">Đã đủ phí</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Order Order { get; set; }
    [Parameter] public OrderReceivedFee OrderReceivedFee { get; set; }
    [Parameter] public List<Employee> ListEmployee { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    DriveUpload _driveUpload;

    double _oldFeeReceived;
    int _countImgOrderReceivedFeeUpload = 0;
    string _tempCollecter;
    string _tempReceiver;
    string styleScrollDialog = "";
    string _imgOrderReceivedFeeValidateMessage = "";

    async Task Submit()
    {
        if (_countImgOrderReceivedFeeUpload == 1) // kiểm tra số lượng file khi bấm tạo
        {
            await _driveUpload.UploadAsync();
            if (_driveUpload.IsUploadComplete) // check upload error: true when upload success; false when upload failed
            {
                OrderReceivedFee.FeeImg = _driveUpload.ResultPath.Last();
                OrderReceivedFee.File = _driveUpload.FileId;

                MudDialog.Close(DialogResult.Ok(OrderReceivedFee));
            }
            else
                _countImgOrderReceivedFeeUpload = 0;
        }
        else if (_countImgOrderReceivedFeeUpload == 0)
            _imgOrderReceivedFeeValidateMessage = "Vui lòng thêm hình ảnh chứng minh";
        else
            _imgOrderReceivedFeeValidateMessage = "Chỉ được thêm một hình ảnh";

    }

    void Cancel() => MudDialog.Cancel();

    protected override void OnInitialized()
    {
        _tempCollecter = OrderReceivedFee.CollecterNavigation?.Name;
        _tempReceiver = OrderReceivedFee.ReceiverNavigation?.Name;

        if (OrderReceivedFee.OrderId != 0) // check create or edit; Id != 0: Edit
        {
            _oldFeeReceived = OrderReceivedFee.ReceivedFee;
            styleScrollDialog = "max-height: 400px; overflow-y: scroll";
        }
        else
        {
            styleScrollDialog = "";
        }
    }

    void ReceivedFeeChange(double receivedFee)
    {
        if (receivedFee > Order.BrokerageFee - Order.OrderReceivedFees.Sum(x => x.ReceivedFee))
        {
            receivedFee = 0;
        }
        OrderReceivedFee.ReceivedFee = receivedFee;
    }

    async Task<IEnumerable<Employee>> EmployeeAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return ListEmployee;
        }
        return ListEmployee.Where(e => e.Name.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    void HandleImgOrderReceivedFeeUpload(int countFile) // check count file sau khi chọn file
    {
        if (countFile == 1)
            _imgOrderReceivedFeeValidateMessage = "";
        else if (countFile == 0)
            _imgOrderReceivedFeeValidateMessage = "Vui lòng thêm hình ảnh chứng minh";
        else
            _imgOrderReceivedFeeValidateMessage = "Chỉ được thêm một hình ảnh";
        _countImgOrderReceivedFeeUpload = countFile;
    }
}