﻿@inject OrderDetailServices OrderDetailServices
@inject OfficeServices OfficeServices
@inject IDialogService DialogService
@using System.Globalization;


<div style="width:100%">
    <div style="display:flex; flex-direction:column; justify-content:center;" class="mb-3">
        <MudText Style="text-align:center" Typo="Typo.h4">
            Văn phòng
        </MudText>
        <div class="d-flex justify-content-center" style="justify-content:center">
            <MudButton Variant="Variant.Text" Size="Size.Large" FullWidth="false"
                       OnClick="ShowDateFilterDialog">
                @_dateRangeFilter.Start.Value.ToString("dd-MM-yyyy") - @_dateRangeFilter.End.Value.ToString("dd-MM-yyyy")
            </MudButton>
            <MudIconButton Class="@(_IsFilter? "d-block":"d-none")"
                           Icon="@Icons.Material.Filled.Clear"
                           Color="Color.Error"
                           OnClick="CancelFilter" />
        </div>
    </div>
    <MudGrid Class="align-items-center" Style="align-items:center" >
        <MudItem xs="12">
            <div class="d-flex" style="flex-wrap:nowrap; align-items:center;">
                @if (_offices.Count > 0)
                {
                    @foreach (var item in _salesReportOffices)
                    {
                        <MudItem xs="4" Class="ma-3">
                            <MudPaper Class="pa-5">
                                <MudText Style="text-align:center" Class="mb-2" Typo="Typo.h6">
                                    @item.Item1.Name
                                </MudText>
                                <p style="text-align:center">
                                    Doanh số: <label style="color:red;"> @item.Item2.ToString("C0", _hcmCulture)</label>
                                </p>
                            </MudPaper>
                        </MudItem>
                    }
                }
            </div>
        </MudItem>
    </MudGrid>
</div>

@code {
    List<Office> _offices = new();
    List<Tuple<Office, double>> _salesReportOffices = new();
    CultureInfo _hcmCulture = CultureInfo.CreateSpecificCulture("vi-VN");

    DateRange _dateRangeFilter = new DateRange(DateTime.Now.AddDays(-1), DateTime.Now);
    Office _officeSearch;
    string _officeSearchText;

    bool _IsFilter = false;

    async Task OfficeChange(Office e)
    {
        await ReloadReportEmployee();
        _officeSearch = e;
        _officeSearchText = e.Name;
        _salesReportOffices = _salesReportOffices.Where(x => x.Item1.Id == e.Id).ToList();
        _IsFilter = true;
    }

    double CaculateOfficeSalesOnDateFilter(Office office)
    {
        return office.EmployeesNav.Sum(x => x.OrderDetails
                                                .Sum(c => c.OrderJobTypes
                                                            .Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100));
    }

    async Task CancelFilter()
    {
        _dateRangeFilter = new DateRange(DateTime.Now.AddDays(-1), DateTime.Now);
        _officeSearch = null;
        _officeSearchText = null;
        _IsFilter = false;
        await ReloadReportEmployee();
    }

    async Task ShowDateFilterDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("DateRange", _dateRangeFilter);
        var dialog = DialogService.Show<FilterDateDialog>("Chọn ngày", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateRange)result.Data;
            _dateRangeFilter = temp;
            _IsFilter = true;
            await ReloadReportEmployee();
            if (!string.IsNullOrWhiteSpace(_officeSearchText))
            {
                _salesReportOffices = _salesReportOffices.Where(x => x.Item1.Id == _officeSearch.Id).ToList();
            }
        }
    }

    async Task ReloadReportEmployee()
    {
        _salesReportOffices = new();
        _offices = await OfficeServices.GetSalesByOffice(_dateRangeFilter);
        foreach (var item in _offices)
        {
            _salesReportOffices.Add(new Tuple<Office, double>(item, CaculateOfficeSalesOnDateFilter(item)));
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await ReloadReportEmployee();
    }
}
