﻿@inject OrderDetailServices OrderDetailServices
@inject EmployeeServices EmployeeServices
@inject OfficeServices OfficeServices
@inject IDialogService DialogService
@using System.Globalization;
@using LinqKit;
<div class="d-flex flex-column mt-3" style="width:100%">
    <MudPaper Class="d-flex flex-column" style="width:100%">

        <div class="d-flex pa-3" style="width:100%">
            <div class="d-flex ml-2" style="width:100%; justify-content:space-around">
                <MudButton Variant="Variant.Outlined"
                           Size="Size.Large"
                           OnClick="ShowDateFilterDialog"
                           Class="mr-1 ml-1">
                    @_dateRangeFilter.Start.Value.ToShortDateString() - @_dateRangeFilter.End.Value.ToShortDateString()
                </MudButton>
                <MudAutocomplete Class="mr-1 ml-5"
                                 T="Employee"
                                 Label="Nhân viên"
                                 Variant="Variant.Text"
                                 Value="_employeeSearch"
                                 ValueChanged="@((Employee e) => EmployeeChange(e))"
                                 @onclick="@(() => _employeeSearchText = null)"
                                 @onfocusout="@(() => _employeeSearchText = _employeeSearch?.Name)"
                                 @bind-Text="_employeeSearchText"
                                 SearchFunc="EmployeeSearchFunc"
                                 ToStringFunc="@((Employee e) => e == null ? null: $"{e.Name}")" />
                <MudSelect Class="mr-1 ml-5"
                           T="Office"
                           Label="Văn phòng"
                           Variant="Variant.Text"
                           Value="_officeSearch"
                           @bind-Text="_officeSearchText"
                           ValueChanged="@((Office e) => OfficeChange(e))"
                           ToStringFunc="@((Office e) => e == null? null:e.Name)"
                           OffsetY="true">
                    @foreach (var item in _offices)
                    {
                        <MudSelectItem Value="@(item)" />
                    }
                </MudSelect>
                <MudIconButton Class="@(_IsFilter ? "d-block":"d-none")"
                               Icon="@Icons.Material.Filled.Clear"
                               Color="Color.Error"
                               OnClick="CancelFilter">
                </MudIconButton>
            </div>
        </div>
        <MudSimpleTable Hover="true"
                        Dense="false"
                        FixedHeader="true"
                        Bordered="true"
                        Style="width:100%; overflow-y:auto; max-height: 50vh">
            <thead>
                <tr>
                    <th>
                        <div>
                            <div class="d-flex" style="justify-content:center">
                                <label>
                                    Ngày
                                </label>
                            </div>
                        </div>
                    </th>
                    <th>
                        Nhân viên
                    </th>
                    <th>
                        Văn phòng
                    </th>
                    <th>
                        Doanh số
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (_employees.Count > 0)
                {
                    @foreach (var em in _salesReportEmployees)
                    {
                        <tr @key="em">
                            <td style="text-align:center">
                                @(_dateRangeFilter.Start.Value.ToShortDateString()+ " - " + _dateRangeFilter.End.Value.ToShortDateString())
                            </td>
                            <td>
                                @em.Item1.Name
                            </td>
                            <td>
                                @em.Item1.OfficeNavigation.Name
                            </td>
                            <td>
                                @(em.Item2.ToString("C0", _hcmCulture))
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>
    </MudPaper>
</div>
@code {
    List<Employee> _employees = new();
    List<Office> _offices = new();
    List<Tuple<Employee, double>> _salesReportEmployees = new();
    CultureInfo _hcmCulture = CultureInfo.CreateSpecificCulture("vi-VN");

    DateRange _dateRangeFilter = new DateRange(DateTime.Now.AddDays(-1), DateTime.Now);
    Employee _employeeSearch;
    Office _officeSearch;
    string _employeeSearchText;
    string _officeSearchText;
    bool _IsFilter = false;

    ExpressionStarter<Tuple<Employee, double>> _filterCondition;

    private async Task<IEnumerable<Employee>> EmployeeSearchFunc(string value)
    {
        await Task.Delay(1);

        if (string.IsNullOrEmpty(value))
            return _employees;
        return _employees.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    async Task FilterChange()
    {
        await ReloadReportEmployee();
        _filterCondition = PredicateBuilder.New<Tuple<Employee, double>>();
        if (_employeeSearchText == null
        && _officeSearchText == null)
        {
            _filterCondition.And(x => true);
        }
        else
        {
            if (_employeeSearchText != null)
            {
                _filterCondition.And(x => x.Item1.Id == _employeeSearch.Id);
            }
            if (_officeSearchText != null)
            {
                _filterCondition.And(x => x.Item1.OfficeNavigation.Id == _officeSearch.Id);
            }
            _salesReportEmployees = _salesReportEmployees.Where(_filterCondition).ToList();
        }
    }

    async Task OfficeChange(Office office)
    {
        _officeSearch = office;
        _officeSearchText = office.Name;
        await FilterChange();
        _IsFilter = true;
    }

    async Task EmployeeChange(Employee e)
    {
        _employeeSearch = e;
        _employeeSearchText = e.Name;
        await FilterChange();
        _IsFilter = true;
    }

    double CaculateEmployyeSalesOnDateFilter(Employee em)
    {
        return em.OrderDetails.Where(c => c.OrderNavigation.CreatedAt.Date >= _dateRangeFilter.Start.Value.Date
                                        && c.OrderNavigation.CreatedAt.Date <= _dateRangeFilter.End.Value.Date)
                                         .Sum(c => c.OrderJobTypes.Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100);
    }

    async Task CancelFilter()
    {
        _dateRangeFilter = new DateRange(DateTime.Now.AddDays(-1), DateTime.Now);
        _employeeSearch = null;
        _employeeSearchText = null;
        _officeSearch = null;
        _officeSearchText = null;
        _IsFilter = false;
        await ReloadReportEmployee();
    }

    async Task ShowDateFilterDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("DateRange", _dateRangeFilter);
        var dialog = DialogService.Show<FilterDateDialog>("Chọn ngày", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateRange)result.Data;
            _dateRangeFilter = temp;
            _IsFilter = true;
            await FilterChange();
        }
    }

    async Task ReloadReportEmployee()
    {
        _employees = await EmployeeServices.GetSalesByEmployee(_dateRangeFilter);
        _salesReportEmployees = new();
        foreach (var item in _employees)
        {
            _salesReportEmployees.Add(new Tuple<Employee, double>(item, CaculateEmployyeSalesOnDateFilter(item)));
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _offices = await OfficeServices.GetAllAsync();
        await ReloadReportEmployee();
    }
}
