﻿@page "/dashboard/doanhsochitiet"

<MudGrid>
    <MudItem xs="12">
        <div class="d-flex align-center justify-center">
            <SalesOfOffice />
        </div>
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex align-center justify-center">
            <SalesOfEmployee />
        </div>
    </MudItem>
</MudGrid>

@code {

}
