﻿@*@page "/genaratedata"
@inject ProjectServices ProjectServices
@inject EmployeeServices EmployeeServices
@inject ConfigServices ConfigServices
@inject CustomerServices CustomerServices
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject OrderServices OrderServices 
 
<div class="d-flex">
    <div>
        <MudField Label="Lựa chọn của bạn" Variant="Variant.Text" InnerPadding="false">
            <MudRadioGroup @bind-SelectedOption="_selected">
                <MudRadio Option="1">Khách Hàng</MudRadio>
                <MudRadio Option="2">Đơn Hàng</MudRadio>
                <MudRadio Option="3">Lịch Hẹn</MudRadio>
            </MudRadioGroup>
        </MudField>
        <div class="d-flex">
            <MudTextField @bind-Value="count" Label="Nhập số lượng" HelperText="@_result" Variant="Variant.Text" />
            @if (_isGenarate)
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            }
            else
            {
                <MudButton Style="height:50%; margin-top:5%;" OnClick="HandleGenarate" Variant="Variant.Filled" Color="Color.Primary">Tạo Ngay</MudButton>
            }
        </div>
    </div>  
</div> 
@code {
    Random rd = new Random();
    List<int> ListEmployeeId = new();
    List<int> ListProjectId = new();
    List<int> ListCustomerId = new();
    Config config = new();
    string[] names;
    int count;
    int _selected;
    string _result = "Số lượng muốn tạo ra";
    bool _isGenarate;
    List<string> ListStatus = new()
    {
        "Thành Công",
        "Đợi Xem Nhà",
        "Hủy Hẹn"
    };
    async Task HandleGenarate()
    {
        _isGenarate = true;
        if (count > 0)
        {
            if (_selected == 1)
            {
                await GenarateCustomer();
                _result = "Số lượng muốn tạo ra";
            }
            else if (_selected == 2)
            {
                await GenarateOrder();
                _result = "Số lượng muốn tạo ra";
            }
            else if (_selected == 3)
            {
                await GenarateSchedule();
                _result = "Số lượng muốn tạo ra";
            }
            else
            {
                _result = "Mời bạn nhập lựa chọn";
            }
        }
        else
        {
            _result = "Số lượng thêm phải lớn hơn 0";
        }
        _selected = 0;
        count = 0;
        await Task.WhenAll();
        _isGenarate = false;
        StateHasChanged();
    }
    async Task GenarateCustomer()
    {
        for (int i = 0; i < count; i++)
        {
            Customer cs = new();
            cs.PhoneNumber.Add("0" + rd.Next(100000000, 999999999));
            cs.CreatorId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            cs.Need = config.Needs[rd.Next(config.Needs.Count)];
            cs.Name = GenarateString(rd.Next(2, 5));
            cs.Description = GenarateString(rd.Next(5, 10));
            cs.CuratorId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            cs.ProjectInterestedId = ListProjectId[rd.Next(ListProjectId.Count)];
            cs.Status = config.Relationships[rd.Next(config.Relationships.Count)].Name;
            await CustomerServices.AddAsync(cs);
        }
        await InvokeAsync(StateHasChanged);
    }
    async Task GenarateOrder()
    {
        for (int i = 0; i < count; i++)
        {
            Order order = new();
            order.LegalReportsFee = rd.Next(1, 25) * 1000000;
            order.CustomerId = ListCustomerId[rd.Next(ListCustomerId.Count)];
            order.ContractType = config.Needs[rd.Next(config.Needs.Count)];
            order.CreatorId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            order.ProjectId = ListProjectId[rd.Next(ListProjectId.Count)];
            if (i % 3 == 0) order.IsConfirmed = true;
            else order.IsConfirmed = false;
            order.BrokerageFee = rd.Next(1, 25) * 100000;
            OrderDetail orderDetails = new();
            orderDetails.EmployeeId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            if (i % 3 == 0) orderDetails.IsConfirmed = true;
            else orderDetails.IsConfirmed = false;
            OrderJobType orderJobType = new();
            orderJobType.PercentContribute = 100;
            orderJobType.Type = config.JobTypes[rd.Next(config.JobTypes.Count)];
            orderDetails.OrderJobTypes = new();
            orderDetails.OrderJobTypes.Add(orderJobType);
            order.OrderDetails = new();
            order.OrderDetails.Add(orderDetails);
            await OrderServices.AddAsync(order);
        } 
    }
    async Task GenarateSchedule()
    {
        for (int i = 0; i < count; i++)
        {
            ScheduleCustomer sc = new();
            sc.CreatorId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            sc.ExecutorId = ListEmployeeId[rd.Next(ListEmployeeId.Count)];
            sc.CustomerId = ListCustomerId[rd.Next(ListCustomerId.Count)];
            sc.ProjectId = ListProjectId[rd.Next(ListProjectId.Count)];
            var time = DateTime.Now.AddDays(-DateTime.Now.Day + rd.Next(1, 28)).AddHours(-DateTime.Now.Hour + rd.Next(1, 24));
            sc.TimeStart = time;
            sc.TimeEnd = time.AddHours(rd.Next(1, 2));
            sc.Status = ListStatus[rd.Next(ListStatus.Count)];
            await ScheduleCustomerServices.AddAsync(sc);
        } 
    }
    string GenarateString(int length)
    {
        string s = null;
        for (int i = 0; i < length; i++)
        {
            s += names[rd.Next(names.Count())] + " ";
        }
        return s;
    }

    protected override async Task OnInitializedAsync()
    {
        var Employees = EmployeeServices.GetAll();
        foreach (var item in Employees)
        {
            ListEmployeeId.Add(item.Id);
        }
        var Projects = ProjectServices.GetAll();
        foreach (var item in Projects)
        {
            ListProjectId.Add(item.Id);
        }
        var Customers = await CustomerServices.GetAll();
        foreach (var item in Customers)
        {
            ListCustomerId.Add(item.Id);
        }
        config = ConfigServices.GetAll(); 
        names = System.IO.File.ReadAllLines("./Component/Shared/FileName.txt"); 
    }
}*@
