﻿@inherits LayoutComponentBase
@inject AuthenticationServices AuthenticationServices
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject ScheduleNotificationServices ScheduleNotificationServices
@inject IDialogService DialogService
@using maicoCRM.Component.Shared.Notification

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <CascadingValue Value="CascadedEmployee">
                @if (Calendar != null)
                {
                    <NavBar />
                }
                <MudMainContent Class="px-6">
                    @Body
                </MudMainContent>
            </CascadingValue>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>

@code{
    Employee CascadedEmployee;
    List<ScheduleCustomer> Calendar;

    protected override async Task OnInitializedAsync()
    {
        CascadedEmployee = AuthenticationServices.GetCurrentEmployee();
        if (CascadedEmployee != null)
        {
            Calendar = await ScheduleCustomerServices.GetCalendarData(CascadedEmployee.Id, 50);
            ScheduleNotificationServices.Calendars = Calendar;
            ScheduleNotificationServices.MinuteNotification = CascadedEmployee.Configration.MinuteNotification;
            ScheduleNotificationServices.OnElapsedShowNotification += OnTimedEventShowNotification;
        }
    }

    private void OnTimedEventShowNotification(ScheduleCustomer TempScheduleShow)
    {
        var thread = new System.Threading.Thread(_ =>
        {
            InvokeAsync(() =>
            {
                var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, DisableBackdropClick = true, NoHeader = true };
                var parameter = new DialogParameters();
                parameter.Add("ScheduleNotification", TempScheduleShow);
                DialogService.Show<DialogPopupNotification>(null, parameter, options);
            });
        });
        thread.Start();
    }
}