﻿@using maicoCRM.Component.Shared.Notification
@inject IDialogService DialogService
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject ScheduleNotificationServices ScheduleNotificationServices
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudAppBar Elevation="25" Dense="true">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => _drawerOpen = !_drawerOpen)" />
    <MudText Class="d-none d-md-inline" Typo="Typo.h5">
        <a href="khachhang/danhsach" class="textlink">MaicoGroupCRM</a>
    </MudText>
    <MudAppBarSpacer />

    <MudIconButton OnClick="@(() => _isOpen = !_isOpen)" Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" />
    <MudPopover Open="@_isOpen" Class="py-2" Style="z-index: 99; max-width: 400px; max-height: 500px;" OffsetY="true" Direction="Direction.Right">
        <NotificationContent Calendar="Calendar" />
    </MudPopover>
    <MudOverlay @bind-Visible="_isOpen" ZIndex="98" AutoClose="true" />

    <MudText><span class="d-none d-md-inline">Chào, </span>@_userName</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Link="Identity/Account/Logout" Color="Color.Inherit" />
</MudAppBar>
<MudDrawer @bind-Open="@_drawerOpen" Elevation="25">
    <MudDrawerHeader LinkToIndex="true">
        <img src="/assets/images/logo.png" height="88" width="150" class="mx-auto" />
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavGroup Title="Dashboard">
            <MudNavLink Href="dashboard/congviec" Match="NavLinkMatch.All">Báo Cáo Công Việc</MudNavLink>
            <MudNavGroup Title="Báo Cáo Doanh Số">
                <MudNavLink Href="dashboard/doanhso" Match="NavLinkMatch.All">Tổng Doanh Số</MudNavLink>
                <MudNavLink Href="dashboard/doanhsochitiet" Match="NavLinkMatch.All">Chi Tiết Doanh Số</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="dashboard/marketing" Match="NavLinkMatch.All">Báo cáo Marketing</MudNavLink>
            <MudNavLink Href="dashboard/schedulecustomerchart" Match="NavLinkMatch.All">Khung giờ dẫn khách</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="sales-event" Match="NavLinkMatch.All">Sales Event</MudNavLink>
        <MudNavLink Href="sheetmarketing" Match="NavLinkMatch.All">Sheet Marketing</MudNavLink>
        <AuthorizeView Roles="Admin, User">
            <Authorized Context="notguest">
                <MudNavLink Href="khachhang/danhsach" Match="NavLinkMatch.All">Khách Hàng</MudNavLink>
                <MudNavLink Href="lichhen" Match="NavLinkMatch.All">Lịch Hẹn</MudNavLink>
                <MudNavLink Href="donhang/danhsach" Match="NavLinkMatch.All">Đơn Hàng</MudNavLink>
                <MudNavLink Href="tailieu" Match="NavLinkMatch.All">Tài Liệu</MudNavLink>
                @if (_isAdmin || CascadedEmployee.DepartmentNavigation.Name == "Pháp Lý")
                {
                    <MudNavGroup Title="Pháp lý">
                        <MudNavLink Href="phaply/tailieu" Match="NavLinkMatch.All">Tài liệu</MudNavLink>
                        <MudNavLink Href="phaply/danhsach" Match="NavLinkMatch.All">Danh sách</MudNavLink>
                    </MudNavGroup>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized Context="admin">
                <MudNavGroup Title="Admin">
                    <MudNavLink Href="admin/tuychinh" Match="NavLinkMatch.All">Tuỳ Chỉnh</MudNavLink>
                    <MudNavLink Href="admin/chinhsuabangtin" Match="NavLinkMatch.All">Bảng Tin</MudNavLink>
                    <MudNavLink Href="admin/chan-moi-quan-he" Match="NavLinkMatch.All">Chặn mối quan hệ</MudNavLink>
                    <MudNavLink Href="admin/danhsach-ngay-tuan" Match="NavLinkMatch.All">Chỉnh sửa thời hạn tuần</MudNavLink>
                    <MudNavGroup Title="Dữ liệu bị xóa">
                        <MudNavLink Href="admin/kho-luu-tru/khach-hang" Match="NavLinkMatch.All">Khách hàng</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="Quản lý tài khoản">
                        <MudNavLink Href="Identity/Account/Register" Match="NavLinkMatch.All">Tạo Tài Khoản</MudNavLink>
                        <MudNavLink Href="admin/danhsach-taikhoan">Danh sách Tài khoản</MudNavLink>
                    </MudNavGroup>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>
</MudDrawer>

@code {
    [CascadingParameter] public Employee CascadedEmployee { get; set; }
    public List<ScheduleCustomer> Calendar { get; set; }

    NotificationContent _notificationContent;

    bool _isAdmin;

    string _userName;
    bool _drawerOpen = true;

    public bool _isOverlayVisibleNotification;
    public bool _isOpen;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }

        Calendar = ScheduleNotificationServices.Calendars;
        var works = CascadedEmployee?.Name.Split(" ");

        if (works != null)
        {
            if (works.Length > 1)
            {
                _userName = works[works.Length - 2] + " " + works[works.Length - 1];
            }
            else
            {
                _userName = works[works.Length - 1];
            }
        }
    }

    public void ToggleOpenNotification()
    {
        if (_isOpen)
            _isOpen = false;
        else
        {
            Calendar = ScheduleNotificationServices.Calendars;
            _isOpen = true;
        }
    }
}
