﻿<MudDialog>
    <DialogContent>
        @if (!IsClickMe)
        {
            <div class="mx-auto" style="display: flex; height: 100vh; align-items: center;">
                <MudPaper Class="d-flex justify-center pa-7" Elevation="4" Style="width: 100%;">
                    <img class="d-flex justify-center" style="height:80vh; width:auto;" src="/assets/images/b.jpg" />
                    <MudButton Color="Color.Primary" OnClick="@(() => IsClickMe = true)" Disabled="IsClickMe">Click Me!</MudButton>
             </MudPaper>
            </div>
        }
        else
        {
    <div style="height: 500px; width: 800px;">
        <iframe width="852" height="480" src="https://www.youtube.com/embed/VAYy8Fv8o04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
           
        }
    </DialogContent>
    <DialogActions>
        
    </DialogActions>
</MudDialog>

@code{
    bool IsClickMe;
}