﻿@inject IDialogService Dialog
@using maicoCRM.Component.Troll14.Modal
@inject IJSRuntime JSRuntime
<MudDialog>
    <DialogContent>
        <MudGrid Class="mx-auto" Style="width: 1024px; display: flex; height: 100vh; align-items: center;">
            <MudItem xs="12">
                @if (!_displayImgOfMiing)
                {
                    <MudPaper Class="pa-7" Elevation="4">
                        <h1>Khảo sát suy nghĩ về công ty</h1>
                        <MudTextField Class="mt-5" @bind-Value="_text1" Label="Hãy nêu 5 giá trị văn hoá của công ty" Variant="Variant.Outlined"></MudTextField>
                        <MudTextField Class="mt-5" @bind-Value="_text2" Label="Hãy nêu cảm nhận của bạn về công ty" Variant="Variant.Outlined"></MudTextField>
                        <MudTextField Class="mt-5" @bind-Value="_text3" Label="Bạn có ý kiến đóng góp gì cho công ty không?" Variant="Variant.Outlined"></MudTextField>
                        <div class="d-flex flex-row-reverse my-10">
                            <MudButton Style="@_styleButton"
                                       id="btn-confirm"
                                       Color="Color.Primary"
                                       @onmouseover="@(() => ChangePosition())"
                                       OnClick="@(() => Submit())"
                                       Variant="Variant.Filled"
                                       Disabled="_submitButtonDisabled">
                                Xác nhận
                            </MudButton>
                        </div>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="d-flex justify-center pa-7" Elevation="4">
                        <img class="d-flex justify-center" style="height:80vh; width:auto;" src="/assets/images/Miing.jpg" />
                        <MudButton Style="position: absolute; bottom: 10%; right: 20%;"
                                   Color="Color.Primary"
                                   OnClick="@(() => NextDialog())"
                                   Variant="Variant.Filled">
                            Xác nhận
                        </MudButton>
                    </MudPaper>
                }
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    int _countFocus = 0;
    string _styleButton = "width: 150px; left: 0px; top: 0px;";
    public string _text1 { get; set; }
    public string _text2 { get; set; }
    public string _text3 { get; set; }
    bool _submitButtonDisabled => String.IsNullOrEmpty(_text1) || String.IsNullOrEmpty(_text2) || String.IsNullOrEmpty(_text3) ? true : false;
    bool _displayImgOfMiing = false;

    void NextDialog()
    {
        DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
        Dialog.Show<Step2TrollModal>("Thông tin cá nhân", options);
    }

    void Submit()
    {
        if (_countFocus > 4)
            _displayImgOfMiing = true;
    }

    async Task ChangePosition()
    {
        if (_countFocus == 0)
            _styleButton = $"width: 150px; left: -160px;";
        else if (_countFocus == 1)
            _styleButton = $"width: 150px; left: -160px; top: 45px;";
        else if (_countFocus == 2)
            _styleButton = $"width: 150px; left: 0px; top: 45px;";
        else if (_countFocus == 3)
        {
            _styleButton = $"" +
                    $"width: 150px; " +
                    $"left: -640px; " +
                    $"top: 12px;" +
                    $"animation-name: spin;" +
                    $"animation-duration: 250ms;" +
                    $"animation-iteration-count: infinite;" +
                    $"animation-timing-function: linear; ";
        }
        else if (_countFocus == 4)
            _styleButton = $"width: 150px; left: 0px; top: 0px;";
        _countFocus++;
        await Task.Delay(500);
    }


}