﻿@using MudBlazor.Services
@inject IJSRuntime JSRuntime
@implements IDisposable
@inject IDialogService Dialog

<MudDialog>
    <DialogContent>
        <MudGrid Class="mx-auto" Style="width:480px;">
            <MudItem xs="12" Class="px-0">
                <MudText Typo="Typo.h4">Nhập thông tin cá nhân</MudText>
            </MudItem>
            <MudItem xs="12" Class="px-0">
                <MudTextField @bind-Value="_name" Label="Họ tên" Variant="Variant.Outlined"></MudTextField>
            </MudItem>
            <MudItem xs="12" Class="px-0">
                <MudTextField @bind-Value="_phone" Label="Số điện thoại" Variant="Variant.Outlined"></MudTextField>
            </MudItem>
            <MudItem xs="12" Class="px-0">
                <MudTextField @bind-Value="_office" Label="Văn phòng" Variant="Variant.Outlined"></MudTextField>
            </MudItem>
            <MudItem xs="12" Class="px-0">
                <MudTextField @bind-Value="_momo" Label="Số TK hoặc Momo" Variant="Variant.Outlined"></MudTextField>
            </MudItem>
            <MudItem xs="12">
                <MudAlert Severity="Severity.Info">Bạn có muốn nhận một phần quà nhỏ của công ty không?</MudAlert>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <div class="d-flex justify-space-between" style="width:480px; margin: 24px auto;">
            <MudButton Class="btn-yes"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Large"
                       Style="width:100px"
                       Disabled="@((_name == null || _phone == null || _office == null || _momo == null) ? true : false)">Có</MudButton>
            <MudButton Class="btn-no"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Size="Size.Large"
                       OnClick="@(() => OpenBankMomoDialog())"
                       Style="width:100px"
                       Disabled="@((_name == null || _phone == null || _office == null || _momo == null) ? true : false)">Không</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Inject] IResizeListenerService ResizeListener { get; set; }

    int _width = 0;
    int _height = 0;

    string _name;
    string _phone;
    string _office;
    string _momo;

    bool _isDisabled;

    private void OpenBankMomoDialog()
    {
        DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
        Dialog.Show<BankMomoModal>("Bank Momo", options);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ResizeListener.OnResized += OnResized;

            var size = await ResizeListener.GetBrowserWindowSize();
            _height = size.Height;
            _width = size.Width;
            await JSRuntime.InvokeVoidAsync("MoveButtons", "btn-yes", "btn-no");
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnResized(object sender, BrowserWindowSize size)
    {
        _width = size.Width;
        _height = size.Height;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ResizeListener.OnResized -= OnResized;
    }
}