﻿@page "/"
@inject ExploitedCustomerInformationServices ExploitedCustomerInformationServices
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject EmployeeServices EmployeeServices
@inject IJSRuntime JSRuntime
@inject ConfigServices ConfigServices

<MudGrid Style="height:100%">
    <MudItem xs="12" lg="12">
        <maicoCRM.Component.Dashboards.Reports.SalesReports.SalesReport />
    </MudItem>
    <MudItem xs="12" lg="6">
        <MudPaper Elevation="4" Style="position:relative">
            <div style="width:90%; height:90%" class="mx-auto">
                <canvas id="pie-chart"></canvas>
            </div>
            <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-1">Tổng số Trao đổi hôm nay: <strong>@_totalCommute</strong></MudText>
        </MudPaper>

        <MudCard Class="mt-4" Style="height:auto" Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Công việc hôm nay</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="px-10">
                <MudList Clickable="true">
                    @if (_scheduleData.Count == 0)
                    {
                        <MudListItem>Không có công việc nào trong hôm nay</MudListItem>
                    }
                    @foreach (var item in _scheduleData)
                    {
                        <MudListItem Href="@($"khachhang/khaithac/{item.CustomerId}")" Text="@($"{item.TimeStart.ToShortTimeString()} {item.JobType} {item.CustomerName}")" />
                        <MudDivider></MudDivider>
                    }
                </MudList>

            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" lg="6">
        <MudCard Style="min-height:90%;" Elevation="4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Align="Align.Center">Bảng tin</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="ql-editor">
                @((MarkupString)content)
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter] Employee CascadedEmployee { get; set; }
    List<(string Status, int Count)> _exploitData = new();
    List<(int CustomerId, string CustomerName, DateTime TimeStart, string JobType)> _scheduleData = new();
    int _totalCommute;
    string content;

    protected override async Task OnInitializedAsync()
    {
        int currentId = CascadedEmployee.Id;
        var exploitedCustomerInformations = await ExploitedCustomerInformationServices.GetAllByEmpInDayAsync(currentId);
        _exploitData = exploitedCustomerInformations.GroupBy(c => c.CustomerNavigation.Status)
                                                   .Select(c => (Status: c.Key, Count: c.Count()))
                                                   .ToList();
        _scheduleData = ScheduleCustomerServices.GetScheduleByCurrentDay(currentId);

        _totalCommute = exploitedCustomerInformations.Count;
        content = ConfigServices.GetAll().NewFeed;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_exploitData.Count == 0)
            {
                await JSRuntime.InvokeVoidAsync("ChartFuntions.createPie", "pie-chart", new string[] { "Chưa có trao đổi nào" }, new int[] { 1 });
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("ChartFuntions.createPie",
                                                                "pie-chart",
                                                                _exploitData.Select(c => c.Status),
                                                                _exploitData.Select(c => c.Count));
            }

        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
