﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid w-full bg-green-400" id="Authentication" style="background-color:green">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-4">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header"><img src="~/assets/images/logo.png" class="img-fluid mx-auto " alt="logo"></div>
                <div class="card-body">
                    <section>
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Input.Email">Email</label>
                                <input class="form-control py-4" asp-for="Input.Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" asp-for="Input.Password">Password</label>
                                <input class="form-control py-4" asp-for="Input.Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="password.html">Forgot Password?</a>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
