﻿@page
@model RegisterModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Admin")]
@{
    ViewData["Title"] = "Đăng Ký";
}
<div class="container-fluid w-full bg-green-400" id="Authentication" style="background-color:green">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                    <img src="~/assets/images/logo.png" class="img-fluid" width="250px" style="display: block; margin-left: auto; margin-right: auto;" alt="logo">
                </div>
                <div class="card-body">
                    <section>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h4 class="text-center">Tạo Tài Khoản</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.UserName"></label>
                                        <input asp-for="Input.UserName" class="form-control" />
                                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Office"></label>
                                        <select asp-for="Input.Office" class="form-control">
                                            <option value="" selected disabled>
                                                -- Chọn văn phòng --
                                            </option>
                                            @foreach (var office in Model.Offices)
                                            {
                                                <option value="@office.Id">@office.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Input.Office" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Department"></label>
                                        <select asp-for="Input.Department" class="form-control">
                                            <option value="" selected disabled>
                                                -- Chọn phòng ban --
                                            </option>
                                            @foreach (var department in Model.Departments)
                                            {
                                                <option value="@department.Id">@department.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Input.Department" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Role"></label>
                                        <select asp-for="Input.Role" class="form-control">
                                            <option value="" selected disabled>
                                                -- Phân quyền --
                                            </option>
                                            @foreach (var item in Model.Roles)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="py-3 text-right">
                                        <br />
                                        <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

