﻿@page "/troll"
@inject IDialogService Dialog
@using maicoCRM.Component.Troll14.Modal


@code {     
    protected override void OnAfterRender(bool first)
    {
        if (first)
        {
            DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
            Dialog.Show<QuestionTrollModal>("Thông tin về công ty", options);

        }

    }
    private void OpenDialogStep1()
    {
        DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
        Dialog.Show<QuestionTrollModal>("Thông tin về công ty", options);
    }

    private void OpenDialogStep2()
    {
        DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
        Dialog.Show<Step2TrollModal>("Thông tin cá nhân", options);
    }

    private void OpenBankMomoDialog()
    {
        DialogOptions options = new DialogOptions() { FullScreen = true, CloseButton = true, NoHeader = true };
        Dialog.Show<BankMomoModal>("Bank Momo", options);
    }
}