﻿@inject IDialogService DialogService
@inject SalesEventRoundServices SalesEventRoundServices
@inject ISnackbar Snackbar
@using maicoCRM.Component.SalesEvent.Modal

<div style=" font-size: 18px;
       margin-top: 8px;
       display:flex;
       cursor:pointer">
    <div style="border: 1px solid; border-radius: 3px; width:100%;
                padding:5px;">
        <MudButton Size="Size.Small"
                   OnClick="ItemRoundSelect">
            @SalesEventRound.NameRound - TỪ NGÀY: @SalesEventRound.StartDate.ToString("dd-MM-yyyy") - @SalesEventRound.EndDate.ToString("dd-MM-yyyy")
        </MudButton>
    </div>
    <AuthorizeView Roles="Admin">
        <div style="display:flex;">
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Size="Size.Small"
                           Class="ml-2 mr-2"
                           Color="Color.Warning"
                           OnClick="ShowSaveRoundDialog" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Size="Size.Small"
                           Class="ml-2 mr-2"
                           Color="Color.Error"
                           OnClick="DeleteItem" />
        </div>
    </AuthorizeView>
</div>

@code {
    [Parameter] public SalesEventRound SalesEventRound { get; set; }
    [Parameter] public EventCallback<SalesEventRound> ItemRoundSelected { get; set; }
    [Parameter] public EventCallback<SalesEventRound> EditItemRoundSelected { get; set; }
    [Parameter] public EventCallback<SalesEventRound> Deleted { get; set; }

    async Task DeleteItem()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Bạn muốn xóa dòng này?");
        parameters.Add("ButtonText", "Xóa");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<SimpleDialog>("Dữ liệu sẽ bị xóa vĩnh viễn", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await SalesEventRoundServices.DeleteAsync(SalesEventRound);
            await Deleted.InvokeAsync(SalesEventRound);
            Snackbar.Add("Đã xóa", Severity.Success);
        }

    }

    async Task ShowSaveRoundDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("SalesEventRound", SalesEventRound);
        var dialog = DialogService.Show<RoundDialogModal>("", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (SalesEventRound)result.Data;
            SalesEventRound = temp;
            await SalesEventRoundServices.UpdateAsync(SalesEventRound);
            await EditItemRoundSelected.InvokeAsync(SalesEventRound);
        }
    }

    async Task ItemRoundSelect()
    {
        await ItemRoundSelected.InvokeAsync(SalesEventRound);
    }

}
