﻿@inject SalesEventRoundServices SalesEventRoundServices
<div>
    <SaveRound MonthChanged="HandleMonthChange"
               SalesEventRound="_salesEventRound"
               Added="HandleAdd" />
    <div style="max-height:30vh; overflow-y:auto;">
        @foreach (var item in _salesEventRounds)
        {
            <ItemRound SalesEventRound="item"
                       ItemRoundSelected="HandleItemRoundSelect"
                       EditItemRoundSelected="HandleEditItemRoundSelected"
                       Deleted="HandleDelete" />
        }
    </div>
</div>

@code {

    [Parameter] public EventCallback<SalesEventRound> ItemRoundSelected { get; set; }
    [Parameter] public EventCallback<SalesEventRound> EditItemRoundSelected { get; set; }
    [Parameter] public EventCallback<DateTime> MonthChanged { get; set; }

    DateTime _currentMonth = DateTime.Now;
    List<SalesEventRound> _salesEventRounds = new();

    SalesEventRound _salesEventRound = new();

    void HandleDelete(SalesEventRound salesEventRound)
    {
        _salesEventRounds.Remove(salesEventRound);
    }

    async Task HandleAdd(SalesEventRound salesEventRound)
    {
        await Task.Delay(1);
        _salesEventRounds.Insert(0, salesEventRound);
    }

    async Task HandleEditItemRoundSelected(SalesEventRound salesEventRound)
    {
        await ReLoadRounds(salesEventRound.StartDate);
        await EditItemRoundSelected.InvokeAsync(salesEventRound);
    }

    async Task HandleItemRoundSelect(SalesEventRound salesEventRound)
    {
        await ItemRoundSelected.InvokeAsync(salesEventRound);
    }

    async Task HandleMonthChange(DateTime date)
    {
        _currentMonth = date;
        await ReLoadRounds(_currentMonth);
        await MonthChanged.InvokeAsync(_currentMonth);
    }

    async Task ReLoadRounds(DateTime date)
    {
        _salesEventRounds = await SalesEventRoundServices.GetByMonthYear(date);
    }

    protected override async Task OnInitializedAsync()
    {
        await ReLoadRounds(_currentMonth);
    }

}
