﻿@inject IDialogService DialogService
@inject SalesEventRoundServices SalesEventRoundServices
@using maicoCRM.Component.SalesEvent.Modal
<div style="width:100%; display:flex;
            align-items:center;
            padding:6px;
            justify-content:space-around">
    <div class="d-flex" style="justify-content: center; align-items:center; width:100%">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                       Size="Size.Small"
                       OnClick="() => DateChange(_currentMonth.AddMonths(-1))" />
        @*<MudButton Variant="Variant.Outlined"
                       Style="width:84%"
                       OnClick="ShowDateFilterDialog">
                @("THÁNG " + _currentMonth.Month + "/" + _currentMonth.Year)
            </MudButton>*@
        <div style="width:84%; display:flex;">
            <MudSelect Class="mr-2"
                       Variant="Variant.Outlined"
                       Dense="true"
                       OffsetY="true"
                       T="string"
                       Value="_currentMonth.Month.ToString()"
                       Text="@("Tháng " + _currentMonth.Month)"
                       ValueChanged="@((string e) => DateChange(new DateTime(_currentMonth.Year, int.Parse(e), _currentMonth.Day)))">
                @for (int i = 1; i <= 12; i++)
                {
                    <MudSelectItem Value="@i.ToString()" />
                }
            </MudSelect>
            <MudSelect Variant="Variant.Outlined"
                       Dense="true"
                       OffsetY="true"
                       T="string"
                       Value="_currentMonth.Month.ToString()"
                       Text="@("Năm " + _currentMonth.Year)"
                       ValueChanged="@((string e) => DateChange(new DateTime(int.Parse(e) ,_currentMonth.Month, _currentMonth.Day)))">
                @for (int i = (_currentMonth.Year - 2); i <= _currentMonth.Year + 2; i++)
                {
                    <MudSelectItem Value="@i.ToString()" />
                }
            </MudSelect>
        </div>

        <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                       Size="Size.Small"
                       OnClick="() => DateChange(_currentMonth.AddMonths(1))" />
    </div>
    <AuthorizeView Roles="Admin">
        <MudButton StartIcon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   OnClick="ShowSaveRoundDialog">ROUND</MudButton>
    </AuthorizeView>
</div>

@code {
    [Parameter] public EventCallback<DateTime> MonthChanged { get; set; }
    [Parameter] public SalesEventRound SalesEventRound { get; set; }
    [Parameter] public EventCallback<SalesEventRound> Added { get; set; }
    DateTime _currentMonth = DateTime.Now;
    int _month, _year;

    async Task ShowDateFilterDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("Date", _currentMonth);
        var dialog = DialogService.Show<FilterDateDialog>("Chọn ngày", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateTime?)result.Data;
            if (temp == null)
            {
                _currentMonth = DateTime.Now;
                await MonthChanged.InvokeAsync(_currentMonth);
            }
            else
            {
                _currentMonth = temp.Value;
                await MonthChanged.InvokeAsync(_currentMonth);
            }
        }
    }

    async Task ShowSaveRoundDialog()
    {
        SalesEventRound.StartDate = DateTime.Now;
        SalesEventRound.EndDate = DateTime.Now.AddDays(15);
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("SalesEventRound", SalesEventRound);
        var dialog = DialogService.Show<RoundDialogModal>("", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (SalesEventRound)result.Data;
            SalesEventRound = temp;
            await SalesEventRoundServices.AddAsync(SalesEventRound);
            await Added.InvokeAsync(SalesEventRound);
            SalesEventRound = new();
        }
    }

    async Task DateChange(DateTime date)
    {
        await Task.Delay(1);
        _currentMonth = date;
        await MonthChanged.InvokeAsync(_currentMonth);
    }
}
