﻿
@inject DocumentServices DocumentServices
@inject ISnackbar Snackbar

<MudDialog Style="max-height:300px; max-width:500px;">
    <DialogContent>
        <MudContainer Style="max-height: 25px; max-width:400px;">
            <div style="display: flex; flex-direction: column; margin-bottom:50px; margin-bottom: 50px;">
                <MudGrid>
                    <MudItem xs="4" Style="display: flex; align-items: center; padding-top: 10px;">
                        <MudText Typo="Typo.subtitle1">
                            <b>Tên tài liệu:</b>
                        </MudText>
                    </MudItem>
                    <MudItem xs="8" Style="display: flex; align-items: center; padding-top: 11px;">
                        <MudInputString @bind-Value="@NameDocument"></MudInputString>
                    </MudItem>
                </MudGrid>
            </div>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="AddDocument" Variant="Variant.Filled">Thêm</MudButton>
        <MudButton Color="Color.Default" OnClick="Cancel" Variant="Variant.Filled">Hủy</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private String NameDocument = "";
    async Task AddDocument()
    {
        if (NameDocument.Length > 0)
        {
            MudDialog.Close(DialogResult.Ok("" + NameDocument));
        }
        else
        {
            Snackbar.Add("Không được để trống tên tài liệu !! ", Severity.Warning);
        }
    }
    async Task Cancel()
    {
        MudDialog.Close(DialogResult.Ok(""));
    }
}