﻿
@inject DocumentServices DocumentServices
@inject ISnackbar Snackbar

<MudDialog Style="max-height:300px; max-width:500px;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Class="mr-3 mb-n1" />
            Xác Nhận Xóa Tài Liệu ?
        </MudText>
    </TitleContent>
    <DialogActions>
        <MudButton Color="Color.Success" OnClick="DeleteDocument" Variant="Variant.Filled">Xoá</MudButton>
        <MudButton Color="Color.Default" OnClick="Cancel" Variant="Variant.Filled">Hủy</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    async Task DeleteDocument()
    {
        MudDialog.Close(DialogResult.Ok("Delete"));

    }
    async Task Cancel()
    {
        MudDialog.Close(DialogResult.Ok(""));
    }

}