﻿@inject OfficeServices OfficeServices
@inject EmployeeServices EmployeeServices
@inject ProjectServices ProjectServices
@using maicoCRM.Component.SalesEvent.Models
@using System.Globalization;
@using MudBlazor;



@if (_eventSalesModels == null)
{
    <MudPaper Class="pa-2">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px"></MudSkeleton>
    </MudPaper>
    <MudPaper Class="pa-3">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="40px"></MudSkeleton>
    </MudPaper>
}
else
{
    <div class="d-flex pa-3" style="justify-content:center;">
        <MudPaper Class="pa-3">
            <MudText Typo="Typo.h5" Color="Color.Error">
                @SalesEventRound?.NameRound - TỪ NGÀY: @SalesEventRound?.StartDate.ToString("dd-MM-yyyy") - @SalesEventRound?.EndDate.ToString("dd-MM-yyyy")
            </MudText>
        </MudPaper>
    </div>
    <MudSimpleTable Dense="true"
                    Bordered="true"
                    FixedHeader="true"
                    Class="table-sale-event">
        <colgroup>
            <col style="width:15%" />
            <col style="width:5%" />
            @foreach (var item in _offices)
            {
                <col style="width:@(75/(2* _offices.Count))%;" />
                <col style="width:@(75/(2* _offices.Count))%;" />
                <col style="width:5%" />
            }

        </colgroup>
        <thead>
            <tr>
                <th style="border: 1px solid black; text-align: center; background: #19B33D; color: white;">
                    Ngày
                </th>
                <th style="border-bottom:none;">

                </th>

                @foreach (var office in _offices)
                {

                    <th style="border: 1px solid black; text-align: center; background: #19B33D; color: white;">
                        @office.Name
                    </th>
                    <th style="border: 1px solid black; text-align: center; background: #19B33D; color: white;">
                        Doanh số
                    </th>
                    <th style="border-bottom:none;">

                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @if (SalesEventRound != null)
            {
                foreach (var eventSalesModel in _eventSalesModels)
                {
                    <tr>
                        <th style="text-align: center; white-space: nowrap; border: 1px solid black">
                            @eventSalesModel.DateOfRound.ToString("dd-MM-yyyy")
                        </th>
                        <td style="border-bottom:none;">
                        </td>

                        @foreach (var projectSales in eventSalesModel.ListProjectSales)
                        {
                            <td style="vertical-align:top; border: 1px solid black">
                                @foreach (var name in projectSales.ProjectNames)
                                {
                                    <p style="border-bottom: 1px solid black; padding-left:5px; padding-right:5px;">@name</p>
                                }
                            </td>
                            <td style="vertical-align: top; border: 1px solid black">
                                @foreach (var sales in projectSales.ListSales)
                                {
                                    <p style="border-bottom: 1px solid black; padding-left:5px; padding-right:5px;">@sales.ToString("C0", _hcmCulture)</p>
                                }
                            </td>
                            <td style="border-bottom:none;">
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                </th>
                <td style="border-bottom:none;">
                </td>
                @foreach (var office in _offices)
                {

                    <th>
                        Tổng
                    </th>
                    <th>
                        @TotalSalesByOffice(office).ToString("C0", _hcmCulture)
                    </th>
                    <td style="border-bottom:none;">
                    </td>
                }

            </tr>
        </tfoot>
    </MudSimpleTable>
}



@code{
    [Parameter] public SalesEventRound SalesEventRound { get; set; }

    CultureInfo _hcmCulture = CultureInfo.CreateSpecificCulture("vi-VN");

    List<Office> _offices = new();
    List<Project> _projects = new();

    List<EventSalesModel> _eventSalesModels;

    bool _isLoading;

    public double TotalSalesByOffice(Office office)
    {
        return _eventSalesModels.Sum(x => x.ListProjectSales.Where(x => x.OfficeId == office.Id)
                                                            .Sum(x => x.ListSales.Sum()));
    }

    Dictionary<string, double> SalesProjectOfDay(DateTime date, Office office)
    {
        var result = office.EmployeesNav.SelectMany(c => c.OrderDetails
                                                            .Where(c => c.OrderNavigation.CreatedAt.Date == date.Date))
                                        .GroupBy(c => c.OrderNavigation.ProjectNavigation.Name)
                                                                        .Select(c => new
                                                                        {
                                                                            Name = c.Key,
                                                                            Sales = c.Sum(c => c.OrderJobTypes
                                                                                                .Sum(c => c.PercentContribute) * c.OrderNavigation.BrokerageFee / 100)
                                                                        })
                                        .ToDictionary(c => c.Name, b => b.Sales);

        return result;
    }

    async Task ReportFill()
    {
        await Task.Delay(1);
        _eventSalesModels = new();
        DateTime dateIndex = SalesEventRound.StartDate.Date;
        while (dateIndex.Date != SalesEventRound.EndDate.AddDays(1).Date)
        {
            EventSalesModel eventSalesModel = new();
            List<ProjectSales> listProjectSales = new();
            foreach (var office in _offices)
            {
                var projectSales = SalesProjectOfDay(dateIndex, office);

                listProjectSales.Add(new ProjectSales
                {
                    OfficeId = office.Id,
                    ProjectNames = projectSales.Keys.ToList(),
                    ListSales = projectSales.Values.ToList()
                });
            }
            eventSalesModel.ListProjectSales = listProjectSales;
            eventSalesModel.DateOfRound = dateIndex;
            _eventSalesModels.Add(eventSalesModel);
            dateIndex = dateIndex.AddDays(1);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (SalesEventRound != null)
        {
            DateRange dateRange = new(SalesEventRound.StartDate, SalesEventRound.EndDate);
            _offices = await OfficeServices.GetSalesByOffice(dateRange);
            await ReportFill();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _projects = await ProjectServices.GetAllAsync();
    }
}