﻿@inject CustomerServices CustomerServices
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<MudDialog>
    <DialogContent>
        <MudPaper Elevation="4" Class="px-3 py-5">
            <MudText Typo="Typo.h5">
                Tên KH:
                <MudLink Typo="Typo.h5" Href="@($"khachhang/khaithac/{Data.Id}")" @onclick="@(()=>HandleCustomerNav())" Underline="Underline.Hover">
                    @Data.Name
                </MudLink>
            </MudText>

            <MudText>Người tạo: <strong>@Data.CreatorNavigation.Name</strong></MudText>
            <p>Ngày tạo: <strong>@Data.CreatedAt</strong></p>
            <br />
            <MudDivider DividerType="DividerType.Middle"></MudDivider>
            <br />
            <p>Mô tả nhu cầu: <strong>@Data.Description</strong></p>
            <p>Nhóm: <strong>@Data.ProjectNavigation.Name</strong></p>
            <p>Mua/Thuê: <strong>@Data.Need</strong></p>
            <p>Mối quan hệ: <strong>@Data.Status</strong></p>
            <p>Người chăm: <strong>@Data.CuratorNavigation.Name</strong></p>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        @if (IsActivated != null)
        {
            <MudButton Size="Size.Small"
                       Color="Color.Error"
                       Variant="Variant.Text"
                       OnClick="() => DeleteCustomer(true)">Xóa</MudButton>
            <MudButton Size="Size.Small"
                       Color="Color.Warning"
                       Variant="Variant.Text"
                       OnClick="() => DeleteCustomer(false)">Không</MudButton>
        }
    </DialogActions>
</MudDialog>


@code {
    [Parameter] public Customer Data { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public bool? IsActivated { get; set; }

    void DeleteCustomer(bool result)
    {
        if (result)
        {
            Snackbar.Add("Sẽ xóa khách hàng khi nhấn nút sửa", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Không xóa khách hàng này", Severity.Success);
        }
        MudDialog.Close(DialogResult.Ok(result));
    }

    void HandleCustomerNav()
    {
        NavigationManager.NavigateTo($"khachhang/khaithac/{Data.Id}", true);
    }
}
