﻿@page "/"
@namespace maicoCRM.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>maicoCRM</title>
    <base href="~/maicoCRM" />
    <link rel="icon" href="~/assets/images/logo.png" />
    <link href="~/maicocrm.styles.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!--MudBlazor-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!--Quill stylesheet--> 
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!--Calendar-->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css" rel="stylesheet"/>
</head>
<body id="paste-block">
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui" style="display:none">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/quill.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script src="~/assets/js/calendar.js"></script>
    <!--MudBlazor-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <!--FilePaste-->
    <script src="_content/BlazorInputPaste/inputFile.js"></script>
    <!--FileDownload-->
    <script src="~/assets/js/download.js"></script>
    <!-- Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!--ChartJs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <!--Calendar-->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
