﻿@page "/test"
@using Microsoft.AspNetCore.Http.Connections
<MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="@mandatory">
    <MudBadge Icon="@Icons.Material.Filled.Lock" Color="Color.Error" Overlap="true" Bordered="true">
        <MudChip Text="grey">Default</MudChip>
    </MudBadge>
    <MudBadge Icon="@Icons.Material.Filled.Lock" Color="Color.Error" Overlap="true" Bordered="true">
        <MudChip Text="purple" Color="Color.Primary">Primary</MudChip>
    </MudBadge>
    <MudBadge Icon="@Icons.Material.Filled.Lock" Color="Color.Error" Overlap="true" Bordered="true">
        <MudChip Text="pink" Color="Color.Secondary">Secondary</MudChip>
    </MudBadge>
</MudChipSet>


@if (selected != null)
{
    <MudText>You selected the <MudText Color="@selected.Color" Inline="true">@selected.Text</MudText> chip.</MudText>
}
else
{
    <MudText>Select a chip.</MudText>
}
<MudCheckBox @bind-Checked="mandatory">Mandatory</MudCheckBox>


@code
{
    bool mandatory = true;
    MudChip selected;
}