﻿@inject ISnackbar Snackbar

<MudDialog Style="max-height: 500px; overflow-y: scroll; overflow-x: scroll;">
    <DialogContent>
        <div class="d-flex align-items-baseline mb-3" style="align-items:baseline">
            <MudText Typo="Typo.subtitle1"
                     Class="mr-2">
                <b>Tên Round:</b>
            </MudText>
            <MudTextField @bind-Value="@SalesEventRound.NameRound"
                          Variant="Variant.Text"
                          Margin="0">
            </MudTextField>
        </div>
        <div class="d-flex flex-column">
            <MudText Typo="Typo.subtitle1">
                <b>Thời gian diễn ra:</b>
            </MudText>
            <MudDateRangePicker Class="mt-4" PickerVariant="PickerVariant.Static"
                                Label="Range picker format"
                                DateFormat="dd/MM/yyyy"
                                TitleDateFormat="dddd, dd. MMMM"
                                @bind-DateRange="_dateRange"
                                Margin="0" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public SalesEventRound SalesEventRound { get; set; }

    DateRange _dateRange = new DateRange(DateTime.Now, DateTime.Now.AddDays(15));

    void Submit()
    {
        if (!string.IsNullOrWhiteSpace(SalesEventRound.NameRound))
        {
            if (_dateRange.Start.Value == _dateRange.End.Value || _dateRange == null)
            {
                Snackbar.Add("Round tối thiểu 2 ngày!", Severity.Warning);
                return;
            }

            SalesEventRound.StartDate = _dateRange.Start.Value;
            SalesEventRound.EndDate = _dateRange.End.Value;
            MudDialog.Close(DialogResult.Ok(SalesEventRound));
        }
        else
        {
            Snackbar.Add("Tên không được để trống", Severity.Warning);
        }
    }
    void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        _dateRange.Start = SalesEventRound.StartDate;
        _dateRange.End = SalesEventRound.EndDate;
    }
}
