﻿@*@page "/admin/"*@ 
@inject Microsoft.AspNetCore.Identity.UserManager<maicoCRMUser> UserManager
@model TestAuthorize1Model
<p class="alert alert-danger">@UserManager.GetUserName(User)  Bạn đang truy cập TestAuthorize1</p>
<AuthorizeView Roles="User">
    <p>You can only see this if you're in the User role.</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <p>You can only see this if you're in the Admin role.</p>
</AuthorizeView>