﻿@inject ISnackbar Snackbar

<MudDialog Style="max-height: 250px; max-width: 350px;">
    <DialogContent>
            <MudItem Style="display: flex; align-items: center;">
                <MudText Typo="Typo.subtitle1">
                    <b>Thời gian nhắc trước cuộc hẹn:</b>
                </MudText>
            </MudItem>
            <MudItem Style="display: flex;">
                <MudTextField @bind-Value="@MinuteNotification" Variant="Variant.Text"></MudTextField>
                <MudText Typo="Typo.subtitle2" Style="display: flex; align-items: center; padding-top: 5px;">phút</MudText>
            </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Variant="Variant.Filled">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public double MinuteNotification { get; set; } = 0;

    void Submit()
    {
        if (MinuteNotification > 0)
        {
            MudDialog.Close(DialogResult.Ok(MinuteNotification));
        }
        else
        {
            Snackbar.Add("Thời gian không hợp lệ!", Severity.Warning);
        }
    }
    void Cancel() => MudDialog.Cancel();
}
