﻿@inject ISnackbar Snackbar

<MudDialog ClassContent="pa-0">
    <DialogContent>
        <div class="grey lighten-5 pa-2 mx-3 mt-2">
            <MudText Class="mb-3" Color="Color.Error" Typo="Typo.h6"><strong>Bạn có một cuộc hẹn sắp diễn ra</strong></MudText>
            <MudText Color="Color.Success"><strong>@ScheduleNotification.TimeStart.ToString("HH:mm") đến @ScheduleNotification.TimeEnd.ToString("HH:mm")</strong></MudText>
            <MudText Typo="Typo.body1">
                <strong>Khách hàng: </strong>
                <MudLink Color="Color.Info" Href="@($"khachhang/khaithac/{ScheduleNotification.CustomerNavigation.Id}")" Underline="Underline.Hover">
                        @ScheduleNotification.CustomerNavigation.Name
                </MudLink>
            </MudText>
            <MudText Typo="Typo.body1">
                <strong>Công việc: </strong>
                <MudLink Typo="Typo.body2" Color="Color.Dark">
                    @ScheduleNotification.JobType.ToString()
                </MudLink>
            </MudText>
            <MudText Typo="Typo.body1">
                <strong>Dự án: </strong>
                <MudLink Class="ml-1" Color="Color.Warning" Href="@($"du-an/ghi-chu/{ScheduleNotification.ProjectNavigation.Id}")" Underline="Underline.Hover">
                    @ScheduleNotification.ProjectNavigation.Name
                </MudLink>
            </MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Success" OnClick="OK">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public ScheduleCustomer ScheduleNotification { get; set; }

    void OK()
    {
        MudDialog.Close(DialogResult.Ok(""));
    }
}
