﻿@inject EmployeeServices EmployeeServices
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject AuthenticationServices AuthenticationServices
@inject IDialogService Dialog
@inject EmployeeServices EmployeeServices
@inject ISnackbar Snackbar
@inject ScheduleNotificationServices ScheduleNotificationServices
@inject Utilities Utilities

<div class="d-flex flex-column">
    <div style="display: flex; justify-content: space-between;">
        <MudText Typo="Typo.h6" Class="ml-4">Thông báo</MudText>
        <MudIconButton OnClick="() => ShowDialogOption()" Icon="@Icons.Material.Filled.Settings" Size="Size.Small" Class="mr-2" />
    </div>
    <div style="border-bottom: 2px solid #D9D9D9;"></div>
    <div class="d-flex flex-column mt-1">
        @if (_calendarNotHappen.Count > 0)
        {
            <MudItem Class="mx-3">
                <MudText Class="ml-1" Color="Color.Success" Style="font-weight: bold;" Typo="Typo.caption">
                    Sắp tới
                </MudText>
            </MudItem>
            @foreach (var cal in _calendarNotHappen)
            {
                <NotificationChildContent Calendar="cal" />
                <div style="border-bottom: 1px solid #D9D9D9;"></div>
            }
        }

        @if (_calendarHappened.Count > 0)
        {
            <MudItem Class="mx-3 mt-2">
                <MudText Class="ml-1" Style="font-weight: bold; color: blue;" Typo="Typo.caption">
                    Đã qua
                </MudText>
            </MudItem>
            @foreach (var cal in _calendarHappened)
            {
                <NotificationChildContent Calendar="cal" />
                <div style="border-bottom: 1px solid #D9D9D9;"></div>
            }
        }
    </div>
</div>

@code {
    [CascadingParameter] public Employee CascadedEmployee { get; set; }
    [Parameter] public List<ScheduleCustomer> Calendar { get; set; }

    List<ScheduleCustomer> _calendarNotHappen = new();
    List<ScheduleCustomer> _calendarHappened = new();

    protected override void OnParametersSet()
    {
        var datetime = Utilities.GetCurrentDateTime();
        _calendarNotHappen = Calendar?
                        .Where(c => c.TimeStart > datetime && c.Status.Trim() == "Đợi Xem Nhà")
                        .OrderBy(c => c.TimeStart)
                        .ToList();
        _calendarHappened = Calendar?
                            .Where(c => c.TimeStart <= datetime || c.Status.Trim() != "Đợi Xem Nhà")
                            .OrderByDescending(c => c.TimeStart)
                            .ToList();
    }

    async Task ShowDialogOption()
    {
        var parameters = new DialogParameters();
        parameters.Add("MinuteNotification", CascadedEmployee.Configration != null ? CascadedEmployee.Configration.MinuteNotification : 0);

        var dialog = Dialog.Show<DialogOption>("Cài đặt thông báo", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            if(CascadedEmployee.Configration == null) CascadedEmployee.Configration = new();
            CascadedEmployee.Configration.MinuteNotification = (double)result.Data;
            await EmployeeServices.UpdateAsync(CascadedEmployee);
            ScheduleNotificationServices.MinuteNotification = (double)result.Data;
            Snackbar.Add("Đã cập nhật thời gian báo trước cuộc hẹn!", Severity.Success);
        }
    }
}
