﻿@inject Utilities Utilities

<MudItem>
    <MudItem Style="display: flex; justify-content: space-between;" Class="mx-3 mt-2">
        <MudItem Style="display: flex;">
            <MudIcon Color="@ColorChange" Icon="@Icons.Material.Filled.AccessTime" Size="Size.Small" />
            <MudText Class="ml-1" Style="font-weight: bold;" Typo="Typo.subtitle2">
                @Calendar.TimeStart.ToString("HH:mm") đến @Calendar.TimeEnd.ToString("HH:mm")
            </MudText>
        </MudItem>
        <MudItem>
            <MudText Typo="Typo.subtitle2">
                @Calendar.TimeStart.ToString("dd/MM/yyyy")
            </MudText>
        </MudItem>
    </MudItem>
    <MudItem Style="display: flex;" Class="mx-3">
        <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Small" />
        <MudText Class="ml-1" Typo="Typo.body2">
            <MudLink Color="Color.Dark" 
                     Href="@($"khachhang/khaithac/{Calendar.CustomerNavigation.Id}")" 
                     Underline="Underline.Hover">
                <MudText Style="color: #1A237E;" Typo="Typo.body2">
                    @Calendar.CustomerNavigation.Name
                </MudText>
            </MudLink>
        </MudText>
    </MudItem>
    <MudItem Style="display: flex;" Class="mx-3 mb-2">
        <MudIcon Icon="@Icons.Material.Filled.WorkOutline" Size="Size.Small" />
        <MudText Class="ml-1" Typo="Typo.body2">
            @Calendar.JobType
            <MudLink Class="ml-1" Color="Color.Warning" 
                     Href="@($"du-an/ghi-chu/{Calendar.ProjectNavigation?.Id}")" 
                     Underline="Underline.Hover">
                @Calendar.ProjectNavigation?.Name
            </MudLink>
        </MudText>
    </MudItem>
</MudItem>

@code {
    [Parameter] public ScheduleCustomer Calendar { get; set; }
    Color ColorChange => Calendar.Status == "Đợi Xem Nhà" ? (Calendar.TimeStart <= Utilities.GetCurrentDateTime() ? Color.Warning : Color.Dark) : (Calendar.Status == "Thành Công" ? Color.Success : Color.Error);
}
