﻿@page "/tailieu"
@inject DocumentServices DocumentServices
@inject ConfigServices ConfigServices
@inject IDialogService Dialog


@using maicoCRM.Component.Document.Modal

@if (_isLoaded==true)
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        @foreach (var item in _documentTypes)
        {
        <MudTabPanel Text="@item">
            <MudPaper Elevation="25">

                @if (item == "Tài Liệu Dự Án")
                {
                    <MudList Clickable="true">
                        @foreach (var document in listDocument[item])
                        {
                            <MudListItem Href="@($"tailieu/ghi-chu/{document.Id}")" Text="@document.Name" />
                            <MudDivider />
                        }
                    </MudList>
                }
                else
                {
                    <MudList Clickable="true">
                        @foreach (var document in listDocument[item])
                        {
                            <MudListItem Href="@($"tailieu/ghi-chu/{document.Id}")" Text="@document.Name">
                                <div style="display: flex; flex-direction: column;">
                                    <MudGrid>
                                        <MudItem xs="10" Style="display: flex; align-items: center;">
                                            <MudText>@document.Name</MudText>
                                        </MudItem>

                                        <AuthorizeView Roles="Admin">
                                            <Authorized Context="admin">
                                                <MudItem xs="1" Style="display: flex; align-items: center;">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="@(()=>EditDocument(@document,@item))" />
                                                </MudItem>
                                                <MudItem xs="1" Style="display: flex; align-items: center;">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(()=>DeleteDocument(@document,@item))" />
                                                </MudItem>
                                            </Authorized>
                                        </AuthorizeView>
                                    </MudGrid>
                                </div>
                            </MudListItem>
                            <MudDivider />
                        }
                    </MudList>
                    <MudFab Color="Color.Primary" OnClick="@(()=>AddDocument(@item))" Style="position: fixed; right: 50px; bottom: 50px;" Icon="@Icons.Material.Filled.Add" aria-label="add" />
                }
            </MudPaper>
        </MudTabPanel>
        }
    </MudTabs>
}
<MudOverlay LightBackground="true" Visible="!_isLoaded">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true"></MudProgressCircular>
</MudOverlay>
@code {
    List<string> _documentTypes = new();
    Dictionary<string, List<Document>> listDocument = new Dictionary<string, List<Document>>();
    bool _isLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        _documentTypes = ConfigServices.GetAll().DocumentTypes;
        _documentTypes.Remove("Pháp Lý");
        foreach (var type in _documentTypes)
        {
            listDocument[type] = await DocumentServices.GetAllByDocumentTypeAsync(type);
        }
        _isLoaded = true;
    }
    async Task EditDocument(Document document, string documentType)
    {
        var dialog = Dialog.Show<EditDocumentDialog>("Sửa tên: " + document.Name);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            if (result.Data.ToString().Length > 0)
            {
                document.Name = result.Data.ToString();
                DocumentServices.UpdateName(document);
                listDocument[documentType] = await DocumentServices.GetAllByDocumentTypeAsync(documentType);
            }
        }
    }
    async Task AddDocument(string documentType)
    {
        var dialog = Dialog.Show<AddDocumentDialog>("Thêm tài liệu " + documentType);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            if (result.Data.ToString().Length > 0)
            {
                Document document = new();
                document.Name = result.Data.ToString();
                document.DocumentType = documentType;
                DocumentServices.Add(document);
                listDocument[documentType] = await DocumentServices.GetAllByDocumentTypeAsync(documentType);
            }
        }
    }
    async Task DeleteDocument(Document document, string documentType)
    {

        var options = new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Xác nhận xóa. Xóa rồi sẽ không thể khôi phục!");
        parameters.Add("ButtonText", "Xoá");
        parameters.Add("Color", Color.Success);
        var dialog = Dialog.Show<SimpleDialog>("Xoá "+ document.Name, parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            DocumentServices.Delete(document);
            listDocument[documentType] = await DocumentServices.GetAllByDocumentTypeAsync(documentType);
        }
    }
}
