﻿@inject DocumentNoteServices DocumentNoteServices
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime

@using HtmlAgilityPack;

<MudExpansionPanel>
    <TitleContent>
        <div class="d-flex">
            <MudText Typo="Typo.h6">@((MarkupString)_titlePanel)</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <div class="ml-2">
            <div class="d-flex flex-wrap">
                <strong class="blue-text text-darken-4 mr-1">@Data.EmployeeNavigation.Name</strong>
                <MCGTimePassing TimeValue="@Data.CreatedAt"></MCGTimePassing>
                <div class="ml-auto">
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Success" OnClick="@(() => EditButtonClicked.InvokeAsync(Data))">Sửa</MudButton>
                            <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="OnDeleteButtonClicked">Xoá</MudButton>
                        </Authorized>
                    </AuthorizeView>
                    <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Info" OnClick="@(() => CopyToClipboard(Data.Comment))">Copy</MudButton>
                </div>
            </div>
            <div>
                <MudText Typo="Typo.body2" Class="ql-editor" id="project-note-content">@((MarkupString)Data.Comment)</MudText>
                @if (Data.ImgSrc != null)
                {
                    <DriveThumbnail ListPath="@Data.ImgSrc.Path" Id="Data.DocumentId" Classify="UploadClassify.DocumentData"></DriveThumbnail>
                }
            </div>
        </div>
    </ChildContent>
</MudExpansionPanel>

@code {
    [Parameter] public DocumentNote Data { get; set; }
    [Parameter] public EventCallback<DocumentNote> DataChanged { get; set; }

    [Parameter] public EventCallback<DocumentNote> EditButtonClicked { get; set; }

    string _titlePanel = "";
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Data.Comment))
        {
            var doc = new HtmlDocument();
            doc.LoadHtml(Data.Comment);

            _titlePanel = doc.DocumentNode.FirstChild.FirstChild.InnerText;
        }

    }

    private async void OnDeleteButtonClicked()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Cảnh báo",
            "Xoá sẽ không thể hoàn tác được!",
            yesText: "Xoá!", cancelText: "Huỷ");
        if (result == true)
        {
            await DocumentNoteServices.DeleteAsync(Data);
            await DataChanged.InvokeAsync(Data);
        }
        StateHasChanged();
    }
    async Task CopyToClipboard(string content)
    {
        await JSRuntime.InvokeVoidAsync("Utilites.getHtmlContent", "project-note-content");
        Snackbar.Add("Copy nội dung thành công", Severity.Info);
    }
}