﻿@page "/tailieu/ghi-chu/{DocumentId:int}"
@inject ISnackbar Snackbar
@inject DocumentNoteServices DocumentNoteServices
@inject DocumentServices DocumentServices
@inject GoogleDriveServices DriveServices
@inject IJSRuntime JSRuntime

<MudPaper Class="pa-4 pt-0 mb-2 mt-4 mt-md-0" Elevation="25">
    <MudText Typo="Typo.h6">Ghi Chú Dự Án @_document.Name</MudText>
</MudPaper>
<MudPaper Class="pa-4 pt-0 mb-2 mt-4 mt-md-0" Elevation="25">
    <QuillInput IdToolBar="toolbar" EditorEnabled="true" @ref="_quill" />
    @if (_commentError != null)
    {
        <div class="mud-typography mud-typography-body1 mud-error-text" style="font-size:14px">
            @_commentError
        </div>
    }

    @if (_isEditing)
    {
        @if (documentNote.ImgSrc != null)
        {
            <DriveThumbnail ListPath="@documentNote.ImgSrc.Path" Id="documentNote.DocumentId" Classify="UploadClassify.CustomerData"
                            IsDelete="true" OnGetListPathDelete="@GetListPathsDelete"></DriveThumbnail>
        }
    }
    <div class="mt-8 mb-2 grey lighten-4" id="paste-block">
        <MudGrid>
            <MudItem xs="8">
                <DriveUpload Id="DocumentId" @ref="_driveUpload" Classify="UploadClassify.DocumentData"></DriveUpload>
            </MudItem>
            <MudItem xs="4" Class="d-flex justify-end">
                @if (_isEditing)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="HandleCancelEdit" Class="mr-1">Hủy bỏ</MudButton>
                }
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="HandleSubmit">@(_isEditing == true ? "Cập Nhật": "Gửi")</MudButton>
            </MudItem>
        </MudGrid>
    </div>
    <MudDivider DividerType="DividerType.FullWidth" Class="my-1"></MudDivider>
    @if (_documentNotes == null)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    }
    else if (_documentNotes.Count == 0)
    {
        <MudText Align="Align.Center">--Chưa có Nội Dung--</MudText>
    }
    else
    {
        <MudExpansionPanels>
            @foreach (var item in _documentNotes.OrderByDescending(c => c.CreatedAt))
            {
                <NoteItem @key="item" Data="item" DataChanged="@((DocumentNote e) => _documentNotes.Remove(e))" EditButtonClicked="HandleNoteEdit"></NoteItem>
                <MudDivider DividerType="DividerType.Middle" />
            }
        </MudExpansionPanels>
    }
</MudPaper>
@code {
    [Parameter] public int DocumentId { get; set; }
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    DriveUpload _driveUpload;
    QuillInput _quill;
    List<DocumentNote> _documentNotes;
    DocumentNote documentNote = new();
    Document _document;

    string _commentError;
    bool _isEditing;

    List<string> _listPathsDelete = new();

    public async Task HandleNoteEdit(DocumentNote note)
    {
        if (_isEditing)
        {
            Snackbar.Add("Thao tác hiện tại chưa hoàn thành!", Severity.Warning);
            return;
        }
        _driveUpload.Refesh();
        await _quill.SetContent(note.Comment);
        await JSRuntime.InvokeVoidAsync("Utilites.ScrollToTop");
        _documentNotes.Remove(note);
        _isEditing = true;
        documentNote = note;
    }

    public async Task HandleSubmit()
    {
        documentNote.Comment = await _quill.GetContent();

        if (_driveUpload.IsUpload)
        {
            await _driveUpload.UploadAsync();
            if (_driveUpload.IsUploadComplete) // check upload error: true when upload success; false when upload failed
            {
                if (!_isEditing)
                {
                    documentNote.ImgSrc = new();
                    documentNote.ImgSrc.Path = _driveUpload.ResultPath;
                }
                else
                {
                    if (documentNote.ImgSrc == null)
                    {
                        documentNote.ImgSrc = new();
                        documentNote.ImgSrc.Path = _driveUpload.ResultPath;
                    }
                    else
                    {
                        documentNote.ImgSrc.Path.AddRange(_driveUpload.ResultPath);
                    }
                }
            }
            else
            {
                Snackbar.Add("Upload file mới thất bại, xin hãy thử lại!", Severity.Warning);
                return;
            }
        }

        if (_isEditing)
        {
            await DriveServices.DeleteFilesWithListPath(_listPathsDelete);
            if (_listPathsDelete.Count != 0)
            {
                foreach (var path in _listPathsDelete)
                {
                    documentNote.ImgSrc.Path.Remove(path);
                }
            }
            await DocumentNoteServices.UpdateAsync(documentNote);
            _documentNotes.Add(documentNote);
            Snackbar.Add("Cập nhập thành công!", Severity.Success);

            await _quill.DeleteContent();
            _isEditing = false;
            documentNote = new();

            _driveUpload.Refesh();
            await InvokeAsync(StateHasChanged);

            return;
        }

        @if (IsCommentEmpty(documentNote.Comment))
        {
            _commentError = "Không được để trống nội dung!";
        }
        else
        {
            documentNote.EmployeeId = CascadedEmployee.Id;
            documentNote.DocumentId = DocumentId;
            await DocumentNoteServices.AddAsync(documentNote);

            _documentNotes.Add(documentNote);
            await _quill.DeleteContent();
            _commentError = null;
            documentNote = new();
        }
        _driveUpload.Refesh();
        await InvokeAsync(StateHasChanged);
    }
    async Task HandleCancelEdit()
    {
        _driveUpload.Refesh();
        _documentNotes.Add(documentNote);
        documentNote = new();
        await _quill.DeleteContent();
        _commentError = null;
        _isEditing = false;
    }
    bool IsCommentEmpty(string comment)
    {
        var tempComment = comment?.Replace("<p><br></p>", "");
        tempComment = tempComment?.Replace("<p>", "");
        tempComment = tempComment?.Replace("</p>", "");
        tempComment = tempComment?.Replace(" ", "");
        @if (String.IsNullOrEmpty(tempComment) && _driveUpload.ResultPath.Count == 0)
        {
            return true;
        }
        return false;
    }
    protected override async Task OnInitializedAsync()
    {
        _document = DocumentServices.GetById(DocumentId);
        _documentNotes = await DocumentNoteServices.GetAllByDocumentIdAsync(DocumentId);
        if (_documentNotes.Any(c => c.ImgSrc != null))
            await DriveServices.PrepareFolderId(DocumentId, UploadClassify.DocumentData);

    }
    void GetListPathsDelete(List<string> listPathsDelete)
    {
        foreach (var path in listPathsDelete)
        {
            _listPathsDelete.Add(path);
        }
    }
}
