﻿
body {
    background-color: #F5F5F5 !important;
}

.mud-link {
    font-size: 14px !important;
}

.mud-dialog .mud-dialog-title {
    flex: 0 0 auto;
    margin: 0;
    padding: 16px 24px;
    background-color: var(--mud-palette-appbar-background);
    color: white;
    border-radius: 4px 4px 0 0;
}

.currency-input {
    text-align: right;
}


.bg-trans {
    background-color: transparent !important;
    padding: 0px !important;
}


/*Quill*/
.ql-align-center {
    text-align: center !important;
}

.ql-align-right {
    text-align: right !important;
}

div.ql-editor > p > img {
    width: 100% !important;
}

p.ql-editor {
    padding: 0 !important;
}
/*CustomerExploitedInformation*/
div.exploited-information p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

div.main_content::-webkit-scrollbar {
    display: none;
}

div.main_content {
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 85vh;
}

/*MainLayout*/

.textlink {
    color: white !important;
    letter-spacing: .25rem;
    font-weight: 300;
    margin-left: 12px;
    font-size: 24px;
    user-select: none;
}


/*datetime picker*/
/*div#datetimeschedule > div > div.mud-picker-view {
    margin-top: -15rem !important;
}
*/
span.status-badge span.mud-badge-badge {
    left: auto !important;
    right: 4px !important;
    bottom: calc(100% - 12px) !important;
}

/*work dashboard*/
.chart-container {
    height: auto;
    max-height: 450px;
    overflow-y: auto;
    position: relative;
}

.table-dashboard thead tr th {
    text-align: center !important;
}

.table-dashboard thead tr th,
.table-dashboard tbody tr td {
    border-left: 1px solid #eaeaea;
}

    .table-dashboard thead tr th:nth-child(1),
    .table-dashboard tbody tr td:nth-child(1) {
        border-left: none;
        text-align: center;
    }

    .table-dashboard tbody tr td:nth-child(4),
    .table-dashboard tbody tr td:nth-child(5),
    .table-dashboard tbody tr td:nth-child(6) {
        text-align: center;
    }

    .table-dashboard tbody tr td:nth-child(7) {
        text-align: right;
    }

#selectOffice {
    width: 220px;
}

@media screen and (max-width: 960px) {
    #selectOffice {
        width: 100%;
    }
}

/*SalesReportTable*/
table#sales-report, table#sales-report th, table#sales-report td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}


table#sales-report {
    border: 2px solid black;
    width: 100%;
}

    table#sales-report th, table#sales-report td {
        padding: 3px 10px;
    }

        table#sales-report td:nth-child(2) {
            padding: 3px 10px 3px 2px;
        }

        table#sales-report td:nth-child(7) {
            padding: 1px;
        }

    table#sales-report th {
        text-align: center;
        background-color: #D9D9D9;
        /*position: sticky;
    top: 50px;*/ /* Don't forget this, required for the stickiness */
        /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
    }

        table#sales-report th.first-header {
            border-left: 2px solid black;
            border-right: 2px solid black;
        }

        table#sales-report th.second-header {
            border-bottom: 2px solid black;
        }

        table#sales-report th.first-item {
            border-left: 2px solid black;
        }

        table#sales-report th.last-item {
            border-right: 2px solid black;
        }

    table#sales-report td:nth-child(2), table#sales-report td:nth-child(7), table#sales-report td:nth-child(10) {
        border-right: 2px solid black;
    }

    table#sales-report td:nth-child(3), table#sales-report td:nth-child(4), table#sales-report td:nth-child(5), table#sales-report td:nth-child(6), table#sales-report td:nth-child(8), table#sales-report td:nth-child(9), table#sales-report td:nth-child(10) {
        text-align: end;
    }

.table-dashboard tbody tr td:nth-child(7) {
    text-align: right;
}

.mud-chip-filter:hover {
    background-color: #efefef;
}

.table-account thead tr th,
.table-account tbody tr td {
    width: 1%;
    white-space: nowrap;
}

/*Cuon ngang -CHi Linh*/
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

    div.scrollmenu a {
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    div#statusSelection::-webkit-scrollbar,
    div.scrollmenu::-webkit-scrollbar {
        display: none;
    }

/*Customer List*/
#status-scroll {
    width: auto;
    max-width: 65%;
}

@media screen and (max-width: 640px) {
    #status-scroll {
        width: auto;
        max-width: 100%;
    }
}

#scroll-customerinfo::-webkit-scrollbar,
#modal-exploited::-webkit-scrollbar,
#main-content-modal::-webkit-scrollbar,
div.scrollmenu::-webkit-scrollbar {
    display: none;
}

#btn-jobtype {
    width: 150px;
}

@media screen and (max-width: 960px) {
    #btn-jobtype {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    div#order-table .mud-toolbar {
        height: 0px;
    }
}

/*troll*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*marketing table report*/
.marketing-table-report th, td {
    padding: 5px;
}

/*marketing time report*/
#time-report-marketing, #time-report-marketing th, #time-report-marketing td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

#time-report-marketing td {
    text-align: center;
}

#time-report-marketing th {
    background: rgb(30,213,72);
    height: 50px;
}
