﻿@inject SheetMarketingServices SheetMarketingServices
@inject IDialogService DialogService
<MudSimpleTable Style="overflow-x: hidden; height:80vh; overflow-y:auto"
				FixedHeader="true"
				Hover="true"
				Bordered="true"
				Dense="true">
	<colgroup>
		@for (int i = 0; i < 9; i++)
		{
	  <col style="width:@(100/9)%" />
		}
 </colgroup>
 <thead>
  <tr>
   <th class="position-relative">
	<div class="d-flex align-items-center" style="justify-content:center; white-space:nowrap">
	 <div class="d-flex align-items-center" style="white-space:nowrap;">
	  <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
									   Size="Size.Small"
									   OnClick="()=> DateChange(_dateFilter.Value.AddDays(-1))" />
	  <MudButton Variant="Variant.Text"
								   OnClick="ShowDateFilterDialog">@_dateFilter.Value.ToString("dd-MM-yyyy")</MudButton>
	  <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
									   Size="Size.Small"
									   OnClick="()=> DateChange(_dateFilter.Value.AddDays(1))"
									   Disabled="@(_dateFilter.Value.Date == DateTime.Now.Date ? true : false)" />
	 </div>
	</div>
   </th>
   <th>Giờ</th>
   <th>Thông tin</th>
   <th>Số điện thoại</th>
   <th>Loại</th>
   <th>Kênh</th>
   <th>Dự án</th>
   <th>Người book</th>
   <th>Action</th>
  </tr>
 </thead>
 <tbody>
		@foreach (var sheet in ListSheets)
		{
	      <SheetItem @key="sheet" Sheet="sheet"
				       SheetDeleted="HandleSheetDelete"
				       SheetBooked="HandleSheetBook"
				       EditSelectedSheet="HandleEditSelectSheet" />
		}

 </tbody>

</MudSimpleTable>


@code {

    [Parameter] public List<SheetMarketing> ListSheets { get; set; }
    [Parameter] public EventCallback<SheetMarketing> SheetDeleted { get; set; }
    [Parameter] public EventCallback<SheetMarketing> SheetBooked { get; set; }
    [Parameter] public EventCallback<SheetMarketing> EditSelectedSheet { get; set; }
    [Parameter] public EventCallback<DateTime> DateChanged { get; set; }

    [CascadingParameter] private Employee CascadedEmployee { get; set; }


    DateTime? _dateFilter = DateTime.Now;

    async Task DateChange(DateTime date)
    {
        _dateFilter = date;
        await DateChanged.InvokeAsync(date);
    }

    async Task ShowDateFilterDialog()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("Date", _dateFilter);
        var dialog = DialogService.Show<FilterDateDialog>("Chọn ngày", parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateTime?)result.Data;
            if (temp == null)
            {
                _dateFilter = DateTime.Now;
            }
            else
            {
                _dateFilter = temp;
            }
        }
        await DateChanged.InvokeAsync(_dateFilter.Value);
    }

    async Task HandleSheetDelete(SheetMarketing sheet)
    {
        await SheetDeleted.InvokeAsync(sheet);
    }

    async Task HandleSheetBook(SheetMarketing sheet)
    {
        await SheetBooked.InvokeAsync(sheet);
    }
    async Task HandleEditSelectSheet(SheetMarketing sheet)
    {
        await EditSelectedSheet.InvokeAsync(sheet);
    }

    protected override void OnParametersSet()
    {
        ListSheets = ListSheets.OrderBy(x => x.Bookers.Count)
        .ThenByDescending(x => x.DateCreated).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        if (_dateFilter == null)
        {
            _dateFilter = DateTime.Now;
        }
    }
}
