﻿@inject ISnackbar Snackbar
@inject SheetMarketingServices SheetMarketingServices
@inject SheetBookRealtimeServices SheetMKTRealtimeServices
@inject ProjectServices ProjectServices
@inject EmployeeServices EmployeeServices
@inject ConfigServices ConfigServices
@inject CustomerServices CustomerServices
@inject Utilities Utilities
@inject IDialogService Dialog

@using maicoCRM.Component.ListCustomer.Modal
@using System.ComponentModel.DataAnnotations

<EditForm Model="Sheet" OnValidSubmit="HandleSubmit">
    <MudDialog ClassContent="pa-0">
        <DialogContent>

            <FluentValidationValidator />
            <MudPaper Class="pa-3">
                <MudGrid>
                    <MudItem xs="12">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudTextField Class="mr-2 ml-2"
                                              @bind-Value="Sheet.Info"
                                              Label="Mô tả"
                                              Variant="Variant.Text"
                                              For="@(() => Sheet.Info)">
                                </MudTextField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudTextField Class="mr-2 ml-2"
                                              T="string"
                                              @bind-Value="Sheet.CustomerName"
                                              Label="Tên khách hàng"
                                              Variant="Variant.Text"
                                              For="@(() => Sheet.CustomerName)">
                                </MudTextField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudTextField Class="mr-2 ml-2"
                                              T="string"
                                              Value="@Sheet.PhoneNumber"
                                              ValueChanged="@((string e) => HandlePhoneChange(e))"
                                              Label="Số điện thoại"
                                              Variant="Variant.Text"
                                              For="@(() => Sheet.PhoneNumber)">
                                </MudTextField>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudAutocomplete Class="mr-2 ml-2"
                                                 Variant="Variant.Text"
                                                 Label="Dự án"
                                                 MaxHeight="200"
                                                 @bind-Value="Sheet.ProjectNavigation" T="Project"
                                                 @bind-Text="@_projectName" CoerceText="true"
                                                 @onclick="@(() => _projectName = null)"
                                                 @onfocusout="@(() => _projectName = Sheet.ProjectNavigation?.Name)"
                                                 SearchFunc="ProjectAutoCompSearch"
                                                 ToStringFunc="@((Project e) => e == null ? null: $"{e.Name}")"
                                                 For="@(() => Sheet.ProjectNavigation)">
                                </MudAutocomplete>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect Class="mr-2 ml-2"
                                           T="string"
                                           Label="Loại"
                                           Direction="Direction.Bottom"
                                           OffsetY="true"
                                           @bind-Value="Sheet.Need"
                                           For="@(() => Sheet.Need)">
                                    @foreach (var need in _listNeed)
                                    {
                                        <MudSelectItem Value="@(need)" />
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudSelect Class="mr-2 ml-2"
                                           T="string"
                                           Label="Kênh"
                                           Direction="Direction.Bottom"
                                           OffsetY="true"
                                           @bind-Value="Sheet.Source"
                                           For="@(() => Sheet.Source)">
                                    @foreach (var place in _sources)
                                    {
                                        <MudSelectItem Value="@(place)" />
                                    }
                                </MudSelect>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudDatePicker Class="ml-2 mr-2"
                                               PickerVariant="PickerVariant.Dialog"
                                               OpenTo="OpenTo.Date"
                                               Date="Sheet.DateCreated"
                                               DateChanged="@((DateTime? e) => Sheet.DateCreated = e.Value)"
                                               Disabled="!_isEditDate">
                                </MudDatePicker>
                            </MudItem>
                            <MudItem xs="4">
                                <MudTimePicker Class="ml-2 mr-2"
                                               PickerVariant="PickerVariant.Dialog" Label="24 hours"
                                               Time="Sheet.DateCreated.TimeOfDay"
                                               TimeChanged="@((TimeSpan? e) => Sheet.DateCreated = Sheet.DateCreated.Date + e.Value)"
                                               Disabled="!_isEditDate" />
                            </MudItem>
                            <MudItem xs="4">
                                <MudIconButton Icon="@(_isEditDate? Icons.Material.Filled.Clear : Icons.Material.Filled.Edit)"
                                               Color="@(_isEditDate? Color.Error: Color.Success)"
                                               OnClick="ShowTimeControl"
                                               Class="mr-2 ml-2"
                                               Size="Size.Medium">
                                </MudIconButton>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </MudPaper>

        </DialogContent>
        <DialogActions>
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Text"
                       Color="Color.Primary">
                Ok
            </MudButton>
            <MudButton ButtonType="ButtonType.Button"
                       Variant="Variant.Text"
                       Color="Color.Error"
                       OnClick="CancelEdit">
                Cancel
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public Employee Creator { get; set; }

    [Parameter] public SheetMarketing Sheet { get; set; }

    List<Project> _listProject = new();
    List<string> _listNeed = new();
    List<string> _sources = new();

    Customer _customer;

    string _projectName;
    string _phoneNumberParamSet;
    bool _isPhoneChanged = false;
    bool _isEditDate = false;
    bool _isCustomerDeleted = false;

    TimeSpan _timeOfSheet = new();

    MudMessageBox _mbox { get; set; }

    async Task HandlePhoneChange(string phoneNumber)
    {
        Sheet.PhoneNumber = phoneNumber;
        _isPhoneChanged = true;

        _customer = CustomerServices.GetCustomerByPhone(Sheet.PhoneNumber);

        if (Sheet.Id > 0 && _customer != null)
        {
            var oldCustomer = CustomerServices.GetCustomerByPhone(_phoneNumberParamSet);
            DialogOptions options = new() { MaxWidth = MaxWidth.Small, CloseButton = true };
            DialogParameters param = new();
            param.Add("Data", oldCustomer);
            param.Add("IsActivated", true);
            var dialog = Dialog.Show<CustomerInforDialog>("Bạn có muốn xóa khách hàng tạo nhầm do sai số điện thoại?", param, options);
            var result = await dialog.Result;
            if (!result.Cancelled)
            {
                _isCustomerDeleted = (bool)result.Data;
            }
        }

    }

    void ShowTimeControl()
    {
        _isEditDate = !_isEditDate;
        if (Sheet.DateCreated.Year == 1)
        {
            Sheet.DateCreated = Utilities.GetCurrentDateTime();
        }
    }

    async Task<IEnumerable<Project>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listProject;
        }
        return _listProject.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    void HandleSubmit()
    {
        Sheet.CreaterNavigation = null;
        Sheet.CustomerNavigation = null;

        if (Sheet.Id > 0)
        {
            if (_customer != null && _isPhoneChanged)
            {
                // Nếu khách đã tồn tại thì thay thế ID
                Sheet.CustomerId = _customer.Id;
            }
            else
            {
                _customer = CustomerServices.GetCustomerByPhone(_phoneNumberParamSet);
                // Thay thế SĐT
                _customer.PhoneNumber.Remove(_phoneNumberParamSet);
                _customer.PhoneNumber.Add(Sheet.PhoneNumber);
                CustomerServices.Update(_customer);

                // Đổi hết SĐT trong sheet liên quan đến SĐT đã thay thế ở trên
                var sheets = SheetMarketingServices.GetByPhone(_phoneNumberParamSet);
                foreach(var item in sheets)
                {
                    item.PhoneNumber = Sheet.PhoneNumber;
                }
                SheetMarketingServices.UpdateRange(sheets);
            }

            // Update sheet
            Sheet.ProjectId = Sheet.ProjectNavigation.Id;
            Sheet.ProjectNavigation = null;
            Sheet.Bookers.Clear();
            SheetMarketingServices.Update(Sheet);

            // Xóa khách hàng sẽ xóa luôn các sheet liên quan đến khách đó
            if (_isCustomerDeleted)
            {
                try
                {
                    _customer = CustomerServices.GetCustomerByPhone(_phoneNumberParamSet);

                    CustomerServices.StateChangeIsDeleted(_customer, true);
                    SheetMarketingServices.DeleteRange(SheetMarketingServices.GetByPhone(_phoneNumberParamSet));
                    Snackbar.Add("Xóa thành công", Severity.Success);
                }
                catch (Exception)
                {
                    Snackbar.Add("Khách hàng này đang khai thác, không thể xóa", Severity.Warning);
                }
            }
            _isCustomerDeleted = false;
            _isPhoneChanged = false;
        }
        else
        {

            // nếu sđt không tồn tại thì tạo khách hàng mới.
            if (_customer == null)
            {
                _customer = new Customer
                {
                    Name = Sheet.CustomerName,
                    ProjectInterestedId = Sheet.ProjectNavigation.Id,
                    PhoneNumber = new List<string>() { Sheet.PhoneNumber },
                    CreatorId = Creator.Id,
                    CuratorId = Creator.Id,
                    Description = Sheet.Info,
                    Status = "Chưa book",
                    Need = Sheet.Need
                };
                CustomerServices.Add(_customer);
            }
            Sheet.CustomerId = _customer.Id;
            Sheet.ProjectId = Sheet.ProjectNavigation.Id;
            Sheet.ProjectNavigation = null;
            Sheet.CreaterId = Creator.Id;
            SheetMarketingServices.Add(Sheet);
        }

        SheetMKTRealtimeServices.Update(Sheet);

        MudDialog.Close(DialogResult.Ok(Sheet));
        Snackbar.Add("Thành công", Severity.Success);

    }
    void CancelEdit()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        _listProject = await ProjectServices.GetAllAsync();
        _listNeed = ConfigServices.GetAll().MarketingNeeds;
        _sources = ConfigServices.GetAll().MarketingSources;
        if (Sheet.Id > 0)
        {
            _projectName = Sheet.ProjectNavigation.Name;
            var customer = CustomerServices.GetCustomerByPhone(Sheet.PhoneNumber);
            Sheet.CustomerName = customer.Name;
        }
        _phoneNumberParamSet = Sheet.PhoneNumber;
    }
}