﻿@page "/sheetmarketing"
@inject EmployeeServices EmployeeServices
@inject SheetMarketingServices SheetMarketingServices
@inject ProjectServices ProjectServices
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject SheetBookRealtimeServices SheetBookRealtimeServices
@inject IDialogService DialogService

@implements IDisposable
@using maicoCRM.Component.ListCustomer


<div class="d-flex justify-content-between" style="justify-content:space-between">
    <MudCard Class="pa-1" Elevation="25">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Size="Size.Medium"
                   OnClick="@(() => ShowSaveSheetDialog())">
            Thêm
        </MudButton>
    </MudCard>
    <MudCard Class="pa-2 d-flex" Style="justify-content:center; align-items:center;">
        <label style="font-size: 16px; font-weight: bold;">Tổng: @_listSheets.Count</label>
    </MudCard>
</div>
<br />
@if (_isDataLoading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
}

<ListSheet ListSheets="_listSheets"
           SheetDeleted="HandleSheetDelete"
           SheetBooked="HandleSheetBook"
           EditSelectedSheet="HandleEditSelectSheet"
           DateChanged="HandleDateChange" />

@code {
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    List<SheetMarketing> _listSheets = new();
    List<Project> _listProjects = new();

    bool _isShowSaveSheet = false;
    bool _isShowAddCustomer = false;
    bool _isDataLoading = true;
    DateTime _dateFilter = DateTime.Now;

    async Task HandleSheetBook(SheetMarketing sheet)
    {
        await ReloadTable();
    }

    void ShowSaveSheetDialog(SheetMarketing sheet = default!)
    {
        sheet = sheet ?? new();
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("Sheet", sheet);
        parameter.Add("Creator", CascadedEmployee);
        var dialog = DialogService.Show<SaveSheetDialog>("", parameter, options);
    }

    async Task HandleDateChange(DateTime date)
    {
        _dateFilter = date;
        await ReloadTable();
    }


    void HandleEditSelectSheet(SheetMarketing sheet)
    {
        ShowSaveSheetDialog(sheet);
    }

    void HandleSheetDelete(SheetMarketing sheet)
    {

        _listSheets.Remove(sheet);
    }

    async Task ReloadTable()
    {
        _isDataLoading = true;
        _listSheets = await SheetMarketingServices.GetByDateAsync(_dateFilter);
        _isDataLoading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        SheetBookRealtimeServices.UpdateEvent += UpdateSheets;

        _listProjects = ProjectServices.GetAll();
        await ReloadTable();
    }
    async Task UpdateSheets(SheetMarketing updatedSheet)
    {
        var item = _listSheets.FirstOrDefault(c => c.Id == updatedSheet.Id);
        if (item == null)
        {
            _listSheets.Add(updatedSheet);
        }
        else
        {
            int index = _listSheets.FindIndex(x => x.Id == item.Id);
            _listSheets.Remove(item);
            _listSheets.Insert(index, updatedSheet);
        }
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        SheetBookRealtimeServices.UpdateEvent -= UpdateSheets;
    }
}
