﻿@inject EmployeeServices EmployeeServices
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@inject ISnackbar SnackBar
@inject SheetMarketingServices SheetMarketingServices
@inject NavigationManager NavigationManager
@inject CustomerServices CustomerServices
@inject ISnackbar Snackbar
@inject SheetBookRealtimeServices SheetBookRealtimeServices


<tr style="background: @(Sheet.Bookers.Count > 0? "#ebebeb":"none");">
    <td style="text-align: center">@Sheet.DateCreated.ToShortDateString()</td>
    <td>@Sheet.DateCreated.ToString("HH:mm:ss")</td>
    <td>@Sheet.Info</td>
    @if (CheckContainPhone(Sheet.PhoneNumber))
    {
        <td style="text-align:center">
            <a style="text-decoration: underline; color: #19b33d; text-align:center"
               href="@($"/khachhang/khaithac/{CustomerServices.GetCustomerByPhone(@Sheet.PhoneNumber).Id}")">@Sheet.PhoneNumber</a>
        </td>
    }
    else
    {
        <td style="text-align:center">@Sheet.PhoneNumber</td>
    }
    <td>@Sheet.Need</td>
    <td>@Sheet.Source</td>
    <td>@Sheet.ProjectNavigation?.Name</td>
    <td style="text-align:center; ">
        @((MarkupString)string.Join("<br/ >", Sheet.Bookers?.Select(c => c.Name)))
    </td>
    <td>

        @if (CascadedEmployee.DepartmentNavigation.Name != "Sales")
        {
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Warning"
                           Size="Size.Small"
                           OnClick="() => EditSelectSheet(Sheet)"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Color="Color.Error"
                           Size="Size.Small"
                           OnClick="() => SheetDelete(Sheet)"></MudIconButton>
        }
        @if (CascadedEmployee.DepartmentNavigation.Name != "Marketing")
        {
            <MudButton Disabled="_isBooked"
                       OnClick="() => SheetBook(Sheet)"
                       Size="Size.Small">
                @(_isBooked == true ? "Booked":"Book")
            </MudButton>
        }
    </td>
</tr>


@code {

    [Parameter] public EventCallback<SheetMarketing> SheetDeleted { get; set; }
    [Parameter] public EventCallback<SheetMarketing> SheetBooked { get; set; }
    [Parameter] public EventCallback<SheetMarketing> EditSelectedSheet { get; set; }

    [Parameter] public SheetMarketing Sheet { get; set; }
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    bool _isBooked => Sheet.Bookers.Any(c => c.Id == CascadedEmployee.Id);

    bool CheckContainPhone(String phone)
    {
        var customer = CustomerServices.GetCustomerByPhone(phone);
        if (customer != null)
        {
            return true;
        }
        return false;
    }


    async Task SheetBook(SheetMarketing sheet)
    {
        var customer = CustomerServices.GetCustomerByPhone(sheet.PhoneNumber);
        if (customer.Status == "Chưa book")
        {
            customer.Status = "Đã book";
        }
        if (customer.CuratorNavigation.DepartmentId == 2)//2 là id của MKT Department
            customer.CuratorId = CascadedEmployee.Id;

        customer.ProjectNavigation = null;
        customer.CreatorNavigation = null;
        customer.CuratorNavigation = null;

        CustomerServices.Update(customer);
        Sheet.Bookers.Add(CascadedEmployee);
        SheetMarketingServices.AddBooker(sheet, CascadedEmployee);
        SheetBookRealtimeServices.Update(Sheet);

        await SheetBooked.InvokeAsync(sheet);
        NavigationManager.NavigateTo("/khachhang/khaithac/" + customer.Id);
    }

    async Task SheetDelete(SheetMarketing sheet)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Bạn muốn xóa dòng này?");
        parameters.Add("ButtonText", "Xóa");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<SimpleDialog>("Dữ liệu sẽ bị xóa vĩnh viễn", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            SheetMarketingServices.Delete(sheet);
            SheetBookRealtimeServices.Update(sheet);
            Snackbar.Add("Đã xóa", Severity.Success);
            await SheetDeleted.InvokeAsync(sheet);
        }
    }

    async Task EditSelectSheet(SheetMarketing sheet)
    {
        await EditSelectedSheet.InvokeAsync(sheet);
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
    }
}
