﻿@inject ISnackbar Snackbar

<MudDialog ClassContent="pa-0">
    <DialogContent>
        @if (DateRange == null)
        {
            <MudDatePicker Label="Ngày"
                           OpenTo="OpenTo.Date"
                           Date="Date"
                           DateChanged="@((DateTime? e) => Date = e)"
                           PickerVariant="PickerVariant.Static" />
        }
        else
        {
            <MudDateRangePicker Label="Lọc ngày"
                                @bind-DateRange="DateRange"
                                PickerVariant="PickerVariant.Static">

            </MudDateRangePicker>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Class="mr-auto align-self-start" Color="Color.Dark" OnClick="CancelFilter">Bỏ lọc</MudButton>
        <MudButton Color="Color.Warning" OnClick="() => MudDialog.Cancel()">Hủy</MudButton>
        <MudButton Color="Color.Success" OnClick="ChooseDateFilter">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public DateTime? Date { get; set; }
    [Parameter] public DateRange? DateRange { get; set; }

    void ChooseDateFilter()
    {
        if (DateRange != null)
        {
            MudDialog.Close(DialogResult.Ok(DateRange));
            Snackbar.Add("Đã lọc", Severity.Success);
        }
        else
        {
            MudDialog.Close(DialogResult.Ok(Date));
            Snackbar.Add("Đã lọc", Severity.Success);
        }
    }

    void CancelFilter()
    {
        if(DateRange != null)
        {
            MudDialog.Close(DialogResult.Ok(new DateRange(DateTime.Now,DateTime.Now)));
        }
        else
        {
            MudDialog.Close(DialogResult.Ok(DateTime.Now));
        }

        Snackbar.Add("Bỏ lọc", Severity.Success);
    }

}
