﻿@using System.Linq.Expressions
<MudTextField Class="currency-input" 
              Value="@_currencyString" 
              Error="_error" 
              DebounceInterval="100"
              OnDebounceIntervalElapsed="@((string e) => CurrencyChange(e))" 
              @attributes="OtherAttributes"></MudTextField>
@if (CascadedEditContext != null && For != null)
{
    <div class="mud-input-helper-text mud-input-error">
        <ValidationMessage For="@For" />
    </div>
}
@code {
    [Parameter] public double Value { get; set; }
    [Parameter] public EventCallback<double> ValueChanged { get; set; }

    [CascadingParameter] private EditContext CascadedEditContext { get; set; }
    [Parameter] public Expression<Func<double>> For { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> OtherAttributes { get; set; }

    double _currency;
    string _currencyString = "";
    bool _error;

    async Task CurrencyChange(string e)
    {
        if (!string.IsNullOrEmpty(e))
        {
            if (_currencyString != e && e.Length <= 15)
            {
                _currencyString = e;
                _currencyString = _currencyString.Replace(".", string.Empty).Replace("e", string.Empty).Replace("E", string.Empty);
                try
                {
                    _currency = Convert.ToDouble(_currencyString);
                    if(_currency < 0)
                        _currency = _currency * -1;
                }
                catch (Exception ex) when(ex is FormatException or OverflowException)
                {
                    _currency = 0;

                }
            }
        }
        else
        {
            _currency = 0;
        }
        _currencyString = _currency.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"));
        _currencyString = _currencyString.Substring(0, _currencyString.Length - 2);
        await ValueChanged.InvokeAsync(_currency);
        if (_currency == 0)
        {
            _error = true;
        }
        else
        {
            _error = false;
        }
    }
    protected override void OnParametersSet()
    {
        _currencyString = Value.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"));
        _currencyString = _currencyString.Substring(0, _currencyString.Length - 2);
        base.OnParametersSet();
    }
}
