﻿@inject Utilities Utilities
<div class="d-flex">
    <MudDatePicker Class="mr-2" 
                   Label="@Label" 
                   DateFormat="dd/MM/yyyy" 
                   Date="date" 
                   DateChanged="@((DateTime? e) => HandleDateChanged(e))" />

    <MudTimePicker Time="time" 
                   TimeChanged="@((TimeSpan? e) => HandleTimeChanged(e))" />
</div>
@code{
    [Parameter] public string Label { get; set; }
    [Parameter] public DateTime DateTime { get; set; }
    [Parameter] public EventCallback<DateTime> DateTimeChanged { get; set; }

    TimeSpan? time = new();
    DateTime? date;

    async Task HandleTimeChanged(TimeSpan? timeSpan)
    {
        if (time != timeSpan)
        {
            time = timeSpan;
            DateTime = (date.Value.Date + time) ?? DateTime.Now;
            await DateTimeChanged.InvokeAsync(DateTime);
        }
    }
    async Task HandleDateChanged(DateTime? dateTime)
    {
        if (date != dateTime)
        {
            date = dateTime;
            DateTime =(date.Value.Date + time) ?? DateTime.Now;
            await DateTimeChanged.InvokeAsync(DateTime);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        date = Utilities.GetCurrentDateTime();
        await DateTimeChanged.InvokeAsync(date ?? DateTime.UtcNow);
        base.OnInitialized();
    }
}