﻿@typeparam TValue
@using System.Linq.Expressions
<div class="form-group">
    <label class="font-weight-bold" for="@Label">@Label</label>
    @if (TextArea)
    {
        <textarea class="form-control p-2" rows="5" id="@Label" @onchange="HandleInput">@Value</textarea>
    }
    else
    {
        <input type="@_type" value="@Value" @onchange="HandleInput" class="form-control @_fieldCssClasses" id="@Label" placeholder="Nhập @Label">
    }
    @if (CascadedEditContext != null && ValidationFor != null)
    {
        <div class="text-danger">
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
</div>

@code {
    [Parameter] public TValue Value { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public bool TextArea { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [CascadingParameter] private EditContext CascadedEditContext { get; set; }
    [Parameter] public Expression<Func<TValue>> ValueExpression { get; set; }
    [Parameter] public Expression<Func<string>> ValidationFor { get; set; }

    FieldIdentifier _fieldIdentifier;
    string _fieldCssClasses => CascadedEditContext?.FieldCssClass(_fieldIdentifier) ?? "";
    string _type;

    protected override void OnInitialized()
    {
        _fieldIdentifier = FieldIdentifier.Create(ValueExpression);
        if (typeof(TValue) == typeof(string)) _type = "text";
        else if (typeof(TValue) == typeof(int) ||
                 typeof(TValue) == typeof(decimal) ||
                 typeof(TValue) == typeof(double))
            _type = "number";
    }

    async Task HandleInput(ChangeEventArgs args)
    {
        await ValueChanged.InvokeAsync(TryToParseValue(args.Value));
        CascadedEditContext?.NotifyFieldChanged(_fieldIdentifier);
    }
    TValue TryToParseValue(object value)
    {
        return (TValue)Convert.ChangeType(value, typeof(TValue));
    }
}