﻿<nav aria-label="Customer Page">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button @onclick="@(()=> { if (_currentPage > 1) HandlePaginationClick(_currentPage - 1); })" 
                    class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        @for (int i = 0; i < _totalPage; i++)
        {
            int currentIndex = i + 1;
            <li class="page-item">
                <button @onclick="@(_ => HandlePaginationClick(currentIndex))" class="page-link">@(i+1)</button>
            </li>
        } 
        <li class="page-item">
            <button @onclick="@(()=> { if (_currentPage < _totalPage) HandlePaginationClick(_currentPage + 1); })" 
                    class="page-link">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>

@code{ 
    [Parameter] public int TotalItem { get; set; }
    [Parameter] public int pageSize { get; set; }
    [Parameter] public EventCallback<int> OnClick { get; set; }

    int _currentPage = 1;
    double _totalPage;
    void HandlePaginationClick(int currentPage)
    {
        _currentPage = currentPage;
        OnClick.InvokeAsync(currentPage);
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _totalPage = Math.Ceiling((double)TotalItem / (double)pageSize);
    }
}