﻿@typeparam TValue
@using System.Linq.Expressions
<div>
    <label class="font-weight-bold">
        @Label
    </label>
    <br />
    @foreach (var item in ListItem)
    {
        <label class="form-check @IsInline()">
            <input type="radio" class="form-check-input" name="@Label" id="@item" value="@item"
                   @onchange="SelectionChanged" /> 
            <label class="form-check-label" for="@item">@item</label>
        </label>
    }
    @if (CascadedEditContext != null && ValidationFor != null)
    {
        <div class="text-danger">
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
</div>

@code{ 
    [Parameter] public string Label { get; set; }
    [Parameter] public TValue Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public IReadOnlyList<TValue> ListItem { get; set; }

    [CascadingParameter] private EditContext CascadedEditContext { get; set; }
    [Parameter] public Expression<Func<TValue>> ValueExpression { get; set; }
    [Parameter] public Expression<Func<string>> ValidationFor { get; set; }
    [Parameter] public bool Inline { get; set; }
    string IsInline()
    {
        if (Inline)
        {
            return "form-check-inline";
        }
        return "form-check";
    }

    FieldIdentifier _fieldIdentifier;

    protected override void OnInitialized()
    {
        _fieldIdentifier = FieldIdentifier.Create(ValueExpression);
    }
    async Task SelectionChanged(ChangeEventArgs args)
    {
        await ValueChanged.InvokeAsync(TryToParseValue(args.Value.ToString()));
        CascadedEditContext?.NotifyFieldChanged(_fieldIdentifier);
    }
    TValue TryToParseValue(object value)
    {
        return (TValue)Convert.ChangeType(value, typeof(TValue));
    }
}