﻿@typeparam TItem
@typeparam TValue
@typeparam TType
@using System.Linq.Expressions
<div class="form-group">
    <label class="font-weight-bold">
        @Label
    </label>
    <div class="position-relative">
        <select @bind="Value" @oninput="HandleInput"
                class="form-control"> 
            @foreach (var i in Items)
            {
                @OptionValue(i)
            }
        </select> 
    </div>
    
    @if (CascadedEditContext != null && ValidationFor != null)
    {
        <div class="text-danger">
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
</div>

@code{
    [Parameter] public TValue Value { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public IReadOnlyList<TItem> Items { get; set; }
    [Parameter] public RenderFragment<TItem> OptionValue { get; set; }
    [CascadingParameter] private EditContext CascadedEditContext { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public Expression<Func<TValue>> ValueExpression { get; set; }
    [Parameter] public Expression<Func<TType>> ValidationFor { get; set; } 

    FieldIdentifier _fieldIdentifier;
    string _fieldCssClasses => CascadedEditContext?.FieldCssClass(_fieldIdentifier) ?? "";

    protected override void OnInitialized()
    {
        _fieldIdentifier = FieldIdentifier.Create(ValueExpression);
    } 

    async Task HandleInput(ChangeEventArgs args)
    {
        await ValueChanged.InvokeAsync(TryToParseValue(args.Value));
        CascadedEditContext?.NotifyFieldChanged(_fieldIdentifier);
    }
    TValue TryToParseValue(object value)
    {
        return (TValue)Convert.ChangeType(value, typeof(TValue));
    }
}