﻿@inject IJSRuntime JSRuntime

@if (EditorEnabled)
{
    <div id="@IdToolBar">
        <span class="ql-formats">
            <select class="ql-font">
                <option selected=""></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected=""></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
    </div>
}

<div @ref="@divEditorElement" style="min-height:100px" />

@code {
    ElementReference divEditorElement;
    [Parameter] public bool EditorEnabled { get; set; }
    [Parameter] public string IdToolBar { set; get; }
    [Parameter] public string Content { set; get; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (IdToolBar == null)
        {
            IdToolBar = "toolbar";
        }
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>(
                "QuillFunctions.createQuill", divEditorElement, IdToolBar);
        }
        if (Content!=null)
        {
            await SetContent(Content);
        }

    }
    public async Task<string> GetContent()
    {
        return await JSRuntime.InvokeAsync<string>(
                "QuillFunctions.getQuillHTML", divEditorElement);
    }
    public async Task SetContent(string content)
    {
        await JSRuntime.InvokeVoidAsync("QuillFunctions.setHTMLContents", divEditorElement, content);
    }
    public async Task DeleteContent()
    {
        await JSRuntime.InvokeVoidAsync(
                "QuillFunctions.deleteQuillContent", divEditorElement);
    }
}
