﻿
<div class="chart-container mt-8 mb-8" style="width: 100%; overflow-x: hidden; height: 90vh;">
    <canvas id="@Id" role="img" aria-label="work-dashboard-charts"></canvas>
</div>

@code {
    [Parameter] public string Id { get; set; }
}
