﻿@page "/dashboard/schedulecustomerchart"
@inject IJSRuntime JSRuntime
@inject ScheduleCustomerServices ScheduleCustomerServices
@inject IDialogService DialogService


<MudCard Elevation="25" Class="mb-2">
    <ShowOverallResult MostTime="@_mostSucessfulTime"
                       TotalScheduleCustomer="_scheduleCustomers.Count()"
                       NumberOfCustomer="@_numberOfCustomerSucess"
                       Label="thành công"/>

    <ShowOverallResult MostTime="@_mostFailureTime"
                       TotalScheduleCustomer="_scheduleCustomers.Count()"
                       NumberOfCustomer="@_numberOfCustomerFailure" 
                       Label="thất bại"/>

</MudCard>
<MudCard Elevation="25" Class="pa-1 mt-6" Style="width:30%;margin:auto;">
    <div style="display: flex; justify-content: center;">
        <div class="d-flex flex-nowrap" style="justify-content: center; align-items:center;">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                           OnClick="() => DateChange(_dateRangeFilter.Start.Value.AddDays(-1))"
                           Disabled="@(_dateRangeFilter.Start.Value.Date != _dateRangeFilter.End.Value.Date)" />
            <MudButton Variant="Variant.Text" OnClick="ShowDialogDateFilter" Class="d-flex">
                <MudItem>
                    @_dateRangeFilter.Start.Value.ToString("dd/MM/yyyy")
                </MudItem>
                <MudItem Class="mx-1">-</MudItem>
                <MudItem>
                    @_dateRangeFilter.End.Value.ToString("dd/MM/yyyy")
                </MudItem>
            </MudButton>

            <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                           OnClick="() => DateChange(_dateRangeFilter.Start.Value.AddDays(1))" Disabled="@(_dateRangeFilter.Start.Value.Date != _dateRangeFilter.End.Value.Date ||
                                _dateRangeFilter.Start.Value.Date == DateTime.Now.Date)" />
            <MudIconButton Icon="@Icons.Material.Filled.Clear"
                           Size="Size.Small"
                           Color="Color.Error"
                           Class="@(_isDateChange && _dateRangeFilter.Start.Value.Date != DateTime.Now.Date? "d-block":"d-none")"
                           OnClick="CancelDateFilter" />
        </div>
    </div>
</MudCard>

<MudCard Elevation="25" Class="pa-2 mt-8 mb-8">
    <ChartView Id="@_successId" />
</MudCard>

<MudCard Elevation="25" Class="pa-2 mt-8 mb-8">
    <ChartView Id="@_failId" />
</MudCard>

@code {
    public class ModelReport
    {
        public int x { get; set; }
        public int y { get; set; }
        public int r { get; set; }
    }

    List<ScheduleCustomer> _scheduleCustomers = new();
    List<ModelReport> _scheduleCustomerSuccess = new();
    List<ModelReport> _scheduleCustomerFail = new();

    DateRange _dateRangeFilter = new DateRange(DateTime.Now, DateTime.Now);

    string _successId = "success";
    string _failId = "fail";
    string _mostSucessfulTime = "";
    string _mostFailureTime = "";
    double _numberOfCustomerSucess;
    double _numberOfCustomerFailure;

    bool _isChartRender = false;
    bool _isDateChange = false;

    void CancelDateFilter()
    {
        _isDateChange = false;
        _dateRangeFilter = new DateRange(DateTime.Now, DateTime.Now);
        ChartFill();
    }

    async Task ShowDialogDateFilter()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("DateRange", _dateRangeFilter);
        var dialog = DialogService.Show<FilterDateDialog>(null, parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateRange?)result.Data;
            if (temp == null)
            {
                _dateRangeFilter = new DateRange(DateTime.Now, DateTime.Now);
                ChartFill();
            }
            else
            {
                _dateRangeFilter = temp;
                ChartFill();
            }
            _isDateChange = true;
        }
    }
    void DateChange(DateTime date)
    {
        _dateRangeFilter.Start = date;
        _dateRangeFilter.End = date;

        ChartFill();

        _isDateChange = true;
    }

    List<ModelReport> CreateDataChart(string type, DateRange dateRange = null)
    {
        var data = _scheduleCustomers;

        if (dateRange != null)
        {
            data = _scheduleCustomers.Where(c => c.TimeStart.Date >= dateRange.Start.Value.Date &&
                                            c.TimeStart.Date <= dateRange.End.Value.Date).ToList();
        }

        return data.Where(c => c.Status == type)
                                        .Select(c => new
                                        {
                                            x = c.TimeStart.DayOfWeek,
                                            y = c.TimeStart.Hour
                                        })
                                     .GroupBy(c => c)
                                     .Select(c => new ModelReport
                                     {
                                         x = (int)c.Key.x,
                                         y = c.Key.y,
                                         r = c.Count()
                                     }).ToList();
    }

    void ChartFill()
    {
        _scheduleCustomerSuccess = CreateDataChart("Thành Công", _dateRangeFilter);
        _scheduleCustomerFail = CreateDataChart("Bị Hủy", _dateRangeFilter);
    }

    public async Task CreateChart(string id, IEnumerable<ModelReport> data)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.createScheduleCustomerChart", id, data);
    }

    public async Task UpdateChart(string id, IEnumerable<ModelReport> data)
    {
        await JSRuntime.InvokeVoidAsync("ChartFuntions.updateScheduleCustomerChart", id, data);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (!_isChartRender)
        {
            await CreateChart(_successId, _scheduleCustomerSuccess);
            await CreateChart(_failId, _scheduleCustomerFail);
            _isChartRender = true;
        }
        else
        {
            await UpdateChart(_successId, _scheduleCustomerSuccess);
            await UpdateChart(_failId, _scheduleCustomerFail);
        }
    }

    protected override void OnInitialized()
    {
        _scheduleCustomers = ScheduleCustomerServices.GetAll();
        var dataSuccess = CreateDataChart("Thành Công");
        var dataFail = CreateDataChart("Bị Hủy");

        if(dataSuccess.Count > 0)
        {
            int maxSuccess = dataSuccess.Max(x => x.r);
            _mostSucessfulTime = dataSuccess.Where(c => c.r == maxSuccess)
                                        .Select(c => string.Format("{0}-{1}h", (DayOfWeek)c.x, c.y)).FirstOrDefault().ToString();
            _numberOfCustomerSucess = dataSuccess.Find(x => x.r == maxSuccess).r;
        }

        if(dataFail.Count > 0)
        {
            int maxFail = dataFail.Max(x => x.r);

            _mostFailureTime = dataFail.Where(c => c.r == maxFail)
                                            .Select(c => string.Format("{0}-{1}h", (DayOfWeek)c.x, c.y)).FirstOrDefault().ToString();
            _numberOfCustomerFailure = dataSuccess.Find(x => x.r == maxFail).r;
        }
        ChartFill();
    }
}
