﻿@using System.Globalization;

<p style="font-size:18px;
               font-weight:bold;
               display:block;
               padding:5px;">
    - Khung giờ @Label nhiều nhất:
    <span style="color:orangered">
        @MostTime
    </span>,
    <span style="color:orangered">
        @NumberOfCustomer khách
    </span>,
    <span style="color:orangered">
        chiếm @(Math.Round(NumberOfCustomer / TotalScheduleCustomer * 100,2))%
    </span>

</p>

@code {
    [Parameter] public string MostTime { get; set; }
    [Parameter] public double NumberOfCustomer { get; set; }
    [Parameter] public double TotalScheduleCustomer { get; set; }
    [Parameter] public string Label { get; set; }
}
