<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<MudThemeProvider Theme="MCGTheme"/>
<MudDialogProvider MaxWidth="MaxWidth.Medium" FullWidth="true"/>
<MudSnackbarProvider />

@code{ 
    MudTheme MCGTheme = new()
    {
        Palette = new Palette()
        {
            Primary = "#19B33D",
            AppbarBackground = "#19B33D"
        }
    };
}




