﻿@page "/dashboard/marketing"

@inject SheetMarketingServices SheetMarketingServices
@inject ProjectServices ProjectServices
@inject ConfigServices ConfigServices
@inject AreaServices AreaServices

@using maicoCRM.Component.Reusable
@using maicoCRM.Component.Dashboards.Reports.MarketingReports.ProjectReports
@using maicoCRM.Component.Dashboards.Reports.MarketingReports.CallTimeReports


<MarketingFilterControl @bind-IsSwitch="_isSwitch"
                        DateRangeFilter="_dateRangeFilter"
                        DateRangeFilterChanged="HandleDateRangeFilterChange" />
@if (!_isSwitch)
{
    <ProjectMarketingReportView DateRangeFilter="_dateRangeFilter"
                                Sheets="_sheets"
                                Projects="_projects"
                                Areas="_areas"
                                MarketingNeeds="_marketingNeeds"
                                MarketingSources="_marketingSources" />
}
else
{
    <CallTimeReport Sheets="_sheets" />
}

@code {

    DateRange _dateRangeFilter = new DateRange(DateTime.Now, DateTime.Now);

    List<SheetMarketing> _sheets = new();
    List<Project> _projects = new();
    List<Area> _areas = new();
    List<string> _marketingNeeds = new();
    List<string> _marketingSources = new();

    bool _isSwitch = false;

    async Task HandleDateRangeFilterChange(DateRange dateRange)
    {
        _dateRangeFilter = dateRange;
        _projects = await ProjectServices.GetByReportMarketing(_dateRangeFilter);
        _sheets = await SheetMarketingServices.GetByDateRangeAsync(_dateRangeFilter);
    }

    protected override async Task OnInitializedAsync()
    {
        _sheets = await SheetMarketingServices.GetByDateRangeAsync(_dateRangeFilter);
        _projects = await ProjectServices.GetByReportMarketing(_dateRangeFilter);

        _areas = AreaServices.GetAll();
        _marketingNeeds = ConfigServices.GetAll().MarketingNeeds;
        _marketingSources = ConfigServices.GetAll().MarketingSources;
    }

}
