﻿@inject IDialogService DialogService

<MudPaper Class="mb-2 pa-2" Elevation="2" Style="display:flex; justify-content:space-between">
    <div class="d-md-flex align-center" style="justify-content:center">
        <div class="d-flex flex-nowrap" style="justify-content: center; align-items:center;">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft"
                           OnClick="() => DateChange(DateRangeFilter.Start.Value.AddDays(-1))"
                           Disabled="@(DateRangeFilter.Start.Value.Date != DateRangeFilter.End.Value.Date)" />
            <MudButton Variant="Variant.Text" OnClick="ShowDialogDateFilter" Class="d-flex">
                <MudItem>
                    @DateRangeFilter.Start.Value.ToString("dd/MM/yyyy")
                </MudItem>
                <MudItem Class="mx-1">-</MudItem>
                <MudItem>
                    @DateRangeFilter.End.Value.ToString("dd/MM/yyyy")
                </MudItem>
            </MudButton>

            <MudIconButton Icon="@Icons.Material.Filled.ArrowRight"
                           OnClick="() => DateChange(DateRangeFilter.Start.Value.AddDays(1))" Disabled="@(DateRangeFilter.Start.Value.Date != DateRangeFilter.End.Value.Date ||
                                DateRangeFilter.Start.Value.Date == DateTime.Now.Date)" />
        </div>
    </div>
    <div style="display:flex; justify-content:center; align-items:center">
        <MudButton Variant="!IsSwitch? Variant.Outlined:Variant.Text"
                   Size="Size.Medium"
                   Color="!IsSwitch? Color.Primary:Color.Transparent"
                   Class="mr-2"
                   OnClick="() => IsSwitchChange(false)">Dự án</MudButton>
        <MudButton Variant="IsSwitch? Variant.Outlined:Variant.Text"
                   Size="Size.Medium"
                   Color="IsSwitch? Color.Primary:Color.Transparent"
                   OnClick="() => IsSwitchChange(true)">Khung giờ</MudButton>
    </div>
</MudPaper>

@code {
    [Parameter] public DateRange DateRangeFilter { get; set; }
    [Parameter] public EventCallback<DateRange> DateRangeFilterChanged { get; set; }

    [Parameter] public bool IsSwitch { get; set; }
    [Parameter] public EventCallback<bool> IsSwitchChanged { get; set; }

    async Task IsSwitchChange(bool parameter)
    {
        IsSwitch = parameter;
        await IsSwitchChanged.InvokeAsync(IsSwitch);
    }

    async Task ShowDialogDateFilter()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = false, NoHeader = true };
        var parameter = new DialogParameters();
        parameter.Add("DateRange", DateRangeFilter);
        var dialog = DialogService.Show<FilterDateDialog>(null, parameter, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var temp = (DateRange?)result.Data;
            if (temp == null)
            {
                DateRangeFilter = new DateRange(DateTime.Now, DateTime.Now);
            }
            else
            {
                DateRangeFilter = temp;
            }
            await DateRangeFilterChanged.InvokeAsync(DateRangeFilter);
        }
        
    }

    async Task DateChange(DateTime date)
    {
        DateRangeFilter.Start = date;
        DateRangeFilter.End = date;
        await DateRangeFilterChanged.InvokeAsync(DateRangeFilter);
    }

}
