﻿@page "/phaply/tailieu"
@inject DocumentServices DocumentServices
@inject IDialogService Dialog
@inject AuthenticationStateProvider AuthenticationStateProvider
@using maicoCRM.Component.Document.Modal
 
@if (_isAdmin || CascadedEmployee.DepartmentNavigation.Name == "Pháp Lý")
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Tài liệu">
            <MudPaper Elevation="25">
                <MudList Clickable="true">
                        @foreach (var document in _documents)
                        {
                            <MudListItem Href="@($"tailieu/ghi-chu/{document.Id}")" Text="@document.Name">
                                <div style="display: flex; flex-direction: column;">
                                    <MudGrid>
                                        <MudItem xs="10" Style="display: flex; align-items: center;">
                                            <MudText>@document.Name</MudText>
                                        </MudItem>

                                        <AuthorizeView Roles="Admin">
                                            <Authorized Context="admin">
                                                <MudItem xs="1" Style="display: flex; align-items: center;">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="@(()=> EditDocument(@document))" />
                                                </MudItem>
                                                <MudItem xs="1" Style="display: flex; align-items: center;">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(()=> DeleteDocument(@document))" />
                                                </MudItem>
                                            </Authorized>
                                        </AuthorizeView>
                                    </MudGrid>
                                </div>
                            </MudListItem>
                            <MudDivider />
                        }
                </MudList>
                <MudFab Color="Color.Primary" OnClick="@(()=> AddDocument())" Style="position: fixed; right: 50px; bottom: 50px;" Icon="@Icons.Material.Filled.Add" aria-label="add" />
            </MudPaper>
        </MudTabPanel>
        <MudTabPanel Text="Chia Sẻ Kinh Nghiệm">
            Comming soon.
        </MudTabPanel>
    </MudTabs>
}
else
{
    <p>Bạn không thuộc phòng ban Pháp Lý, xin hãy liên hệ với Admin để được chuyển đổi phòng ban.</p>
}

@code {
    [CascadingParameter] private Employee CascadedEmployee { get; set; }

    List<Document> _documents = new();

    bool _isAdmin;

    async Task AddDocument()
    {
        var dialog = Dialog.Show<AddDocumentDialog>("Thêm tài liệu Pháp Lý");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            if (result.Data.ToString().Length > 0)
            {
                Document document = new();
                document.Name = result.Data.ToString();
                document.DocumentType = "Pháp Lý";
                DocumentServices.Add(document);
                _documents.Add(document);
            }
        }
    }

    async Task EditDocument(Document document)
    {
        var dialog = Dialog.Show<EditDocumentDialog>("Sửa tên: " + document.Name);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            if (result.Data.ToString().Length > 0)
            {
                document.Name = result.Data.ToString();
                DocumentServices.UpdateName(document);
                _documents.FirstOrDefault(d => d.Id == document.Id).Name = document.Name;
            }
        }
    }

    async Task DeleteDocument(Document document)
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Xác nhận xóa. Xóa rồi sẽ không thể khôi phục!");
        parameters.Add("ButtonText", "Xoá");
        parameters.Add("Color", Color.Success);
        var dialog = Dialog.Show<SimpleDialog>("Xoá " + document, parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            DocumentServices.Delete(document);
            _documents.Remove(document);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }

        _documents = await DocumentServices.GetAllByDocumentTypeAsync("Pháp Lý");
    }
}
