﻿@page "/phaply/danhsach"
@inject TableStateContainerServices TableState
@inject LegalRecordServices LegalRecordServices
@inject ConfigServices ConfigServices
@inject IJSRuntime JSRuntime
@inject ProjectServices ProjectServices
@inject EmployeeServices EmployeeServices
@inject OrderServices OrderServices
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_isAdmin || CascadedEmployee.DepartmentNavigation.Name == "Pháp Lý")
{
    <MudGrid Class="mb-3">
        <MudItem xs="6">

        </MudItem>
        <MudItem xs="12" md="3" Class="py-0 mt-1 mt-md-0">
            <MudAutocomplete T="string"
                             Dense="true"
                             Label="Người chăm"
                             Margin="Margin.Dense"
                             Variant="Variant.Text"
                             Value="@_curator"
                             ValueChanged="@(async (string e) => { if (e != null) await HandleCuratorChange(e); })"
                             @bind-Text="@_curatorAutoCmpText"
                             @onclick="@(() => _curatorAutoCmpText = null)"
                             @onfocusout="@(() => _curatorAutoCmpText = _curator)"
                             ToStringFunc="@(e => e)"
                             SearchFunc="CuratorAutoCompSearch"
                             CoerceText="true" />
        </MudItem>
        <MudItem xs="12" md="3" Class="py-0 mt-1 mt-md-0">
            <MudAutocomplete T="string"
                             Dense="true"
                             Label="Dự án"
                             Margin="Margin.Dense"
                             Variant="Variant.Text"
                             Value="@_project"
                             ValueChanged="@(async (string e) => { if (e != null) await HandleProjectChange(e); })"
                             @bind-Text="@_projectAutoCmpText" CoerceText="false"
                             @onclick="@(() => _projectAutoCmpText = null)"
                             @onfocusout="@(() => _projectAutoCmpText = _project)"
                             SearchFunc="ProjectAutoCompSearch" />
        </MudItem>
    </MudGrid>

    <div style="position:relative;">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<LegalRecord>>>(ServerReload))"
                  CurrentPage="@TableState.State["LegalRecord"].PageNumber"
                  @ref="_tableRef"
                  Hover="true"
                  Height="65vh"
                  FixedHeader="true"
                  MultiSelection="true"
                  Elevation="25">
            <ToolBarContent>
                <div class="d-flex justify-space-between align-end mr-2" style="width:100%">
                    <div class="d-none d-md-inline">
                        <MudButton Variant="Variant.Outlined" OnClick="ClearFilter" Style="width: 100%">
                            Tất cả
                        </MudButton>
                    </div>
                    <div id="status-scroll" class="d-flex align-end py-0">
                        <div class="d-none d-md-inline">
                            <MudButton id="left-button" Variant="Variant.Text">
                                <MudIcon Icon="@Icons.Material.Filled.ArrowLeft"></MudIcon>
                            </MudButton>
                        </div>
                        <div id="statusSelection" class="d-inline pt-2 mx-1" style="width: auto; max-width:100%; overflow: auto">
                            <MudChipSet Style="float: left; white-space: nowrap; display: inline-block;"
                                        SelectedChip="_selectedChip"
                                        SelectedChipChanged="HandleSelectRelation" Filter="true">
                                @if (_legalProgressCount.Count > 0)
                                {
                                    @foreach (var item in _legalProgressCount)
                                    {
                                        <MudBadge Class="status-badge" Content="@item.Value" Max="999999" Color="Color.Error">
                                            <MudChip Style="@("background-color: green;margin-top:5px;")"
                                                     Text="@item.Key"
                                                     Color="Color.Primary"
                                                     Class="mb-0"
                                                     Default="@(item.Key == TableState.State["LegalRecord"].Progress ? true : false)">
                                                @item.Key
                                            </MudChip>
                                        </MudBadge>
                                    }
                                }
                            </MudChipSet>
                        </div>
                        <div class="d-none d-md-inline">
                            <MudButton id="right-button" Variant="Variant.Text">
                                <MudIcon Icon="@Icons.Material.Filled.ArrowRight"></MudIcon>
                            </MudButton>
                        </div>
                    </div>
                    <div class="d-none d-md-inline">
                        <MudTextField Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Value="@TableState.State["LegalRecord"].SearchString"
                                      ValueChanged="@(async (string e) => { TableState.State["LegalRecord"].SearchString = e;
                                                      if (e != null) await ReloadTable(); })"
                                      Placeholder="Tìm Kiếm"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium">
                        </MudTextField>
                    </div>
                </div>
            </ToolBarContent>
            <ColGroup>
                <col/>
                <col style="width: 12%" />
                <col style="width: 17.6%" />
                <col style="width: 17.6% " />
                <col style="width: 17.6% " />
                <col style="width: 17.6% " />
                <col style="width: 17.6% " />
            </ColGroup>
            <HeaderContent>
                <MudTh>Ngày nhập</MudTh>
                <MudTh>ID đơn hàng</MudTh>
                <MudTh>Tên hồ sơ</MudTh>
                <MudTh>Tên khách</MudTh>
                <MudTh>Tên dự án</MudTh>
                <MudTh>Tiến độ</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Ngày nhập">@context.CreatedAt</MudTd>
                <MudTd DataLabel="ID đơn hàng"><MudLink Href="@($"khachhang/donhang/{context.OrderNavigation.Id}")" Underline="Underline.Hover" Color="Color.Error">@("DH" + context.OrderNavigation.Id)</MudLink></MudTd>
                @if (_isNameEditing && _editingLegal.Item1 == context.Id)
                    {
                    <MudTd DataLabel="Hồ sơ"><MudTextField AutoFocus="true" @bind-Value="context.OrderNavigation.ApartmentCode" @onfocusout="@(_ =>  UpdateLegalName(context))"></MudTextField></MudTd>
                    }
                    else
                    {
                    <td data-label="Hồ sơ" class="mud-table-cell" @ondblclick="() => HandleCellDouClick(context)">
                        <MudLink Href="@($"khachhang/donhang/phaply/{context.Id}")"
                                 Underline="Underline.Hover"
                                 Color="Color.Warning">@(string.IsNullOrEmpty(context.OrderNavigation.ApartmentCode) ? "Hồ sơ": context.OrderNavigation.ApartmentCode)</MudLink>
                    </td>
                    }
                <MudTd DataLabel="Tên khách"><MudLink Href="@($"khachhang/khaithac/{context.OrderNavigation.CustomerNavigation.Id}")" Underline="Underline.Hover">@context.OrderNavigation.CustomerNavigation.Name</MudLink></MudTd>
                <MudTd DataLabel="Tên dự án">@context.OrderNavigation.ProjectNavigation.Name</MudTd>
                <MudTd DataLabel="Tiến độ">@context.Progress</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager DisableRowsPerPage="true" />
            </PagerContent>
        </MudTable>
        <MudOverlay Absolute="true" @bind-Visible="_isDataLoading" LightBackground="true">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        </MudOverlay>

    </div>
}


@code {
    [CascadingParameter] public Employee CascadedEmployee { get; set; }
    Dictionary<string, int> _legalProgressCount = new();
    List<LegalRecord> _tableData = new();
    IEnumerable<LegalRecord> pagedData;
    List<string> _listProgress = new();
    List<Project> _listProjects = new();
    List<Employee> _listEmployees;

    int _oldPage = -1;
    int _totalItems;
    bool _isAdmin;
    bool _isFilterClearing;
    bool _isDataLoading = true;
    bool _isNameEditing;
    string _project;
    string _projectAutoCmpText;
    string _curator;
    string _curatorAutoCmpText;

    MudChip _selectedChip;
    MudTable<LegalRecord> _tableRef;
    (int, string) _editingLegal;

    void HandleCellDouClick(LegalRecord legalRecord)
    {
        _isNameEditing = true;
        _editingLegal.Item1 = legalRecord.Id;
        _editingLegal.Item2 = legalRecord.OrderNavigation.ApartmentCode;
    }

    void UpdateLegalName(LegalRecord legalRecord)
    {
        if (_editingLegal.Item2 != legalRecord.OrderNavigation.ApartmentCode)
        {
            LegalRecordServices.ChangeApartmentCode(legalRecord);
        }
        _isNameEditing = false;
    }

    public async Task HandleProjectChange(string e)
    {
        _project = e;
        TableState.State["LegalRecord"].ProjectId = _listProjects.FirstOrDefault(c => c.Name == e).Id;

        await ReloadTable();
    }

    public async Task<TableData<LegalRecord>> ServerReload(TableState state)
    {
        TableState.State["LegalRecord"].PageNumber = state.Page;
        if ((state.Page > _oldPage && state.Page % 10 == 0) ||
            (state.Page < _oldPage && (state.Page + 1) % 10 == 0) ||
            (state.Page == (_totalItems - 1) / 10 && _oldPage < (_totalItems - 1) / 10 - (_totalItems - 1) / 10 % 10) ||
            (state.Page == 0 && _oldPage > 9) ||
            TableState.State["LegalRecord"].IsNavigation == true)
        {
            if (!_isFilterClearing)
            {
                _isDataLoading = true;
                await InvokeAsync(StateHasChanged);

                TableState.State["LegalRecord"].IsFiltered = true;
                (_totalItems, _tableData) = await LegalRecordServices.FilterByPage(state.Page, TableState.State["LegalRecord"].Progress, TableState.State["LegalRecord"].SearchString, TableState.State["LegalRecord"].ProjectId, TableState.State["LegalRecord"].CuratorId);

                LegalRecordServices.GetProgressCount(_listProgress, ref _legalProgressCount);

                _isDataLoading = false;
            }
        }
        pagedData = _tableData.Skip(TableState.State["LegalRecord"].PageNumber % 10 * state.PageSize).Take(state.PageSize).ToArray();
        await InvokeAsync(StateHasChanged);

        _oldPage = state.Page;
        return new TableData<LegalRecord>() { TotalItems = _totalItems, Items = pagedData };
    }

    async Task HandleSelectRelation(MudChip chip)
    {
        _selectedChip = chip;
        if (chip?.Text == TableState.State["LegalRecord"].Progress) return;

        TableState.State["LegalRecord"].Progress = chip?.Text ?? "";
        if (TableState.State["LegalRecord"].Progress != null)
        {
            await ReloadTable();
        }
    }

    async Task<IEnumerable<string>> ProjectAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (String.IsNullOrWhiteSpace(value))
        {
            return _listProjects.Select(c => c.Name);
        }
        return _listProjects.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }

    public async Task HandleCuratorChange(string e)
    {
        _curator = e;
        TableState.State["LegalRecord"].CuratorId = _listEmployees.FirstOrDefault(c => c.Name == e).Id;

        await ReloadTable();
    }
    async Task<IEnumerable<string>> CuratorAutoCompSearch(string value)
    {
        await Task.Delay(1);
        if (string.IsNullOrEmpty(value))
        {
            return _listEmployees.Select(c => c.Name);
        }
        return _listEmployees.Where(c => c.Name.Contains(value, StringComparison.OrdinalIgnoreCase)).Select(c => c.Name);
    }

    public async Task ClearFilter()
    {
        _project = null;
        _projectAutoCmpText = null;
        _curator = null;
        _curatorAutoCmpText = null;

        _selectedChip = null;

        TableState.State["LegalRecord"].SearchString = null;//Để null sẽ không filter khi xóa hết string được

        TableState.State["LegalRecord"].IsFiltered = false;

        TableState.State["LegalRecord"].Progress = null;

        TableState.State["LegalRecord"].ProjectId = null;

        TableState.State["LegalRecord"].CuratorId = null;

        await ReloadTable();
    }

    public async Task ReloadTable()
    {
        _tableRef.CurrentPage = 0;
        _oldPage = -1;
        await _tableRef.ReloadServerData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("Utilites.MakeHorizontalScroll", "statusSelection");
            TableState.State["LegalRecord"].IsNavigation = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.IsInRole("Admin"))
        {
            _isAdmin = true;
        }

        if (!TableState.State.ContainsKey("LegalRecord"))
        {
            TableState.CreateTableData("LegalRecord");
        }

        _listProgress = ConfigServices.GetAll().ListProgress;
        _listProjects = ProjectServices.GetAll();
        _listEmployees = EmployeeServices.GetAll();
    }
}
