﻿@inject SheetMarketingServices SheetMarketingServices

<MudCard Elevation="25" Class="mt-5">
    <table id="time-report-marketing" style="width:100%">
        <colgroup>
            <col style="width: 20%; text-align: center; " />
            @for (int i = 0; i < 5; i++)
            {
                <col style="width:@(80/5)%; text-align:center;" />
            }
        </colgroup>
        <thead>
            <tr>
                <th>Thời gian</th>
                <th>Số khách</th>
                <th>Mua</th>
                <th>Thuê</th>
                <th>Gọi về</th>
                <th>Phần trăm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _timeReportModels)
            {
                <tr>
                    <td style="font-weight:bold">@item.Time</td>
                    <td>@item.Total</td>
                    <td>@item.Buy</td>
                    <td>@item.Hire</td>
                    <td>@item.Call</td>
                    <td style="font-weight: bold">@Math.Round(CaculatePercentByTime(item.Time), 2)%</td>
                </tr>
            }
        </tbody>
    </table>
</MudCard>
@if (_isLoading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
@code {
    [Parameter] public List<SheetMarketing> Sheets { get; set; }

    List<string> _times = new() { "8h-10h", "10h-12h", "12h-14h", "14h-16h", "16h-18h", "18h-20h", "20h-22h", "22h-24h" };

    bool _isLoading = true;

    public class TimeReportModel
    {
        public string Time { get; set; }
        public double Total { get; set; }
        public int Buy { get; set; }
        public int Hire { get; set; }
        public int Call { get; set; }
    }

    List<TimeReportModel> _timeReportModels = new();

    double CaculatePercentByTime(string time)
    {
        double sum = _timeReportModels.Sum(x => x.Total);
        var a = _timeReportModels.Where(x => x.Time == time).FirstOrDefault()?.Total;
        if (sum == 0)
        {
            return 0;
        }
        return ((a ?? 0) / sum * 100);
    }

    async Task ReportFill()
    {
        _isLoading = true;
        await Task.Delay(200);
        _timeReportModels = new();
        foreach (var item in _times)
        {
            int timeStart = int.Parse(item.Split("-")[0].Replace("h", ""));
            int timeEnd = int.Parse(item.Split("-")[1].Replace("h", ""));

            if (Sheets.Count > 0)
            {
                var sheetFilter = Sheets.Where(c => c.DateCreated.TimeOfDay.Hours >= timeStart && c.DateCreated.TimeOfDay.Hours < timeEnd)
                                      .Select(x => x.Need)
                                      .GroupBy(x => x)
                                      .Select(x => new
                                      {
                                          Need = x.Key,
                                          Total = x.Count()
                                      }).ToList();

                var buy = sheetFilter.Find(c => c.Need == "Mua")?.Total;
                var hire = sheetFilter.Find(c => c.Need == "Thuê")?.Total;
                var call = sheetFilter.Find(c => c.Need == "Gọi về")?.Total;

                _timeReportModels.Add(new TimeReportModel
                {
                    Time = item,
                    Buy = buy ?? 0,
                    Hire = hire ?? 0,
                    Call = call ?? 0,
                    Total = ((buy ?? 0) + (hire ?? 0) + (call ?? 0))
                });
            }
            else
            {
                _timeReportModels.Add(new TimeReportModel
                {
                    Time = item,
                    Buy = 0,
                    Hire = 0,
                    Call = 0,
                    Total = 0
                });
            }
        }
        _isLoading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await ReportFill();
    }
}
